harmony.common.serviceinterface/resources/webservices/CommonTypes.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--
 This code is part of the Harmony System implemented in Work Package 1 
 of the Phosphorus project. This work is supported by the European 
 Comission under the Sixth Framework Programme with contract number 
 IST-034115.

 Copyright (C) 2006-2009 Phosphorus WP1 partners. Phosphorus Consortium.
 http://ist-phosphorus.eu/

 This is free software; you can redistribute it and/or modify it
 under the terms of the GNU Lesser General Public License as
 published by the Free Software Foundation; either version 2.1 of
 the License, or (at your option) any later version.
 
 This software is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
 Lesser General Public License for more details.
 
 You should have received a copy of the GNU Lesser General Public
 License along with this software; if not, write to the Free
 Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
 02110-1301 USA, or see the FSF site: http://www.fsf.org.

-->

<xs:schema xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wsbf="http://docs.oasis-open.org/wsrf/bf-2" xmlns:ns1="http://opennaas.org/nsp" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:extensionBindingPrefixes="xjc" jaxb:version="2.0" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://opennaas.org/nsp" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="./wsrf/WS-Addressing-2005_08.xsd" namespace="http://www.w3.org/2005/08/addressing" />
  <xs:import schemaLocation="./wsrf/WS-BaseFaults-1_2.xsd" namespace="http://docs.oasis-open.org/wsrf/bf-2" />
  <xs:annotation>
    <xs:appinfo>
			<jaxb:globalBindings generateIsSetMethod="true">
				<xjc:serializable />
			</jaxb:globalBindings>
		</xs:appinfo>
  </xs:annotation>
  <xs:simpleType name="TNAType">
    <xs:annotation>
      <xs:documentation>
                                Type used to TNA addresses
                        </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TNAPrefixType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}/[0-9]{1,2}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="EndpointIdentifierType">
    <xs:annotation>
      <xs:documentation>
				Type used to identify endpoints
			</xs:documentation>
    </xs:annotation>
    <xs:restriction base="ns1:TNAType" />
  </xs:simpleType>
  <xs:simpleType name="EndpointInterfaceType">
    <xs:annotation>
      <xs:documentation>
					Inter-domain, local end point
				</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="user" />
      <xs:enumeration value="border" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="EndpointTechnologyType">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="EndpointSupportedAdaptation" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EndpointType">
    <xs:annotation>
      <xs:documentation>
				Information about an endpoint
			</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="EndpointId" type="ns1:EndpointIdentifierType">
        <xs:annotation>
          <xs:documentation>TNA</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Name" type="xs:string">
        <xs:annotation>
          <xs:documentation>Endpoint Name</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Description" type="xs:string">
        <xs:annotation>
          <xs:documentation>
						Description provided by the user that creates
						the endpoint object, e.g. port5 in switch
						OME-NY01 allocated for apllication Z.
					</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Interface" type="ns1:EndpointInterfaceType">
        <xs:annotation>
          <xs:documentation>Local or inter-domain endpoint?</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="DomainId" type="ns1:DomainIdentifierType">
        <xs:annotation>
          <xs:documentation>ID of the domain this endpoint is located in</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Bandwidth" type="xs:int">
        <xs:annotation>
          <xs:documentation>
						Bandwidth of the port in Mbps
					</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Technology" type="ns1:EndpointTechnologyType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="DomainIdentifierType">
    <xs:annotation>
      <xs:documentation>
				Type used to identify the domain
			</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="DomainRelationshipType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="superdomain" />
      <xs:enumeration value="peer" />
      <xs:enumeration value="subdomain" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="DomainInformationType">
    <xs:sequence>
      <xs:element name="DomainId" type="ns1:DomainIdentifierType">
        <xs:annotation>
          <xs:documentation>
                        Unique identifier for the domain
                    </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Relationship" type="ns1:DomainRelationshipType" />
      <xs:element minOccurs="0" name="SequenceNumber" type="xs:int">
        <xs:annotation>
          <xs:documentation>
						Increased by the origin domain, allows others to check if information has changed and is more current than previously stored information.
					</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Description" type="xs:string">
        <xs:annotation>
          <xs:documentation>
						Short description of the domain
					</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ReservationEPR" type="xs:anyURI">
        <xs:annotation>
          <xs:documentation>
						Endpoint reference of the NRPS reservation adapter
					</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="TopologyEPR" type="xs:anyURI">
        <xs:annotation>
          <xs:documentation>
                        Endpoint reference of the NRPS topology adapter
                    </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="NotificationEPR" type="xs:anyURI">
        <xs:annotation>
          <xs:documentation>
                        Endpoint reference of the NRPS notification producer
                    </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TNAPrefix" type="ns1:TNAPrefixType">
        <xs:annotation>
          <xs:documentation>
						List of TNA prefixes the domain is responsible
						for
					</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InterdomainLink" type="ns1:InterdomainLinkType" />
      <xs:element minOccurs="0" name="avgDelay" type="xs:int">
        <xs:annotation>
          <xs:documentation>
						Average delay for paths in this domain;
						path computer optimization.
					</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="maxBW" type="xs:int">
        <xs:annotation>
          <xs:documentation>
						Maximum bandwidth for paths in this domain;
						path computer optimization.
					</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Feature" type="xs:string" />
      <xs:element name="Technology" type="ns1:DomainTechnologyType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DomainTechnologyType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DomainSupportedAdaptation" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DomainSupportedBandwidth" type="xs:long" />
      <xs:element maxOccurs="unbounded" name="DomainSupportedSwitchMatrix" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InterdomainLinkType">
    <xs:sequence>
      <xs:element name="LinkID" type="xs:string" />
      <xs:element name="SourceEndpoint" type="ns1:EndpointType" />
      <xs:element name="DestinationDomain" type="ns1:DomainIdentifierType" />
      <xs:element minOccurs="0" name="costs" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Tuple">
    <xs:sequence>
      <xs:element name="Key" type="xs:string" />
      <xs:element name="Value" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <!-- Fault-Types ____________________________________________________________-->
  <xs:element name="UnexpectedFault">
    <xs:annotation>
      <xs:documentation>
                Returned in case that internally an error occured
            </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="wsbf:BaseFaultType" />
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="InvalidRequestFault">
    <xs:annotation>
      <xs:documentation>
                Returned in case that the request doesn't match the specification
            </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="wsbf:BaseFaultType" />
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="OperationNotAllowedFault">
    <xs:annotation>
      <xs:documentation>
                Returned in case that the operation is not allowed with the given user credentials
            </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="wsbf:BaseFaultType" />
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="OperationNotSupportedFault">
    <xs:annotation>
      <xs:documentation>
                Returned in case an operation is not supported by the system
            </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="wsbf:BaseFaultType" />
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
</xs:schema>
