harmony.common.serviceinterface/resources/webservices/Notification-WS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
 This code is part of the Harmony System implemented in Work Package 1 
 of the Phosphorus project. This work is supported by the European 
 Comission under the Sixth Framework Programme with contract number 
 IST-034115.

 Copyright (C) 2006-2009 Phosphorus WP1 partners. Phosphorus Consortium.
 http://ist-phosphorus.eu/

 This is free software; you can redistribute it and/or modify it
 under the terms of the GNU Lesser General Public License as
 published by the Free Software Foundation; either version 2.1 of
 the License, or (at your option) any later version.
 
 This software is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
 Lesser General Public License for more details.
 
 You should have received a copy of the GNU Lesser General Public
 License along with this software; if not, write to the Free
 Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
 02110-1301 USA, or see the FSF site: http://www.fsf.org.

-->

<wsdl:definitions
name="Notification-WS"
xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
xmlns:xs="http://www.w3.org/2001/XMLSchema"
xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
xmlns:wsa="http://www.w3.org/2005/08/addressing"
xmlns:notification="http://opennaas.org/nsp/webservice/notification"
xmlns:ns="http://opennaas.org/nspCommon"
xmlns:ns1="http://opennaas.org/nsp"
targetNamespace="http://opennaas.org/nsp/webservice/notification">
	<wsdl:types>
		<xs:schema>
			<xs:import namespace="http://opennaas.org/nsp/webservice/notification" schemaLocation="Notification-Types.xsd"/>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="subscribe">
		<wsdl:part name="subscribe" element="notification:subscribe"/>
	</wsdl:message>
	<wsdl:message name="subscribeResponse">
		<wsdl:part name="subscribeResponse" element="notification:subscribeResponse"/>
	</wsdl:message>
	<wsdl:message name="unsubscribe">
		<wsdl:part name="unsubscribe" element="notification:unsubscribe"/>
	</wsdl:message>
	<wsdl:message name="unsubscribeResponse">
		<wsdl:part name="unsubscribeResponse" element="notification:unsubscribeResponse"/>
	</wsdl:message>
	<wsdl:message name="getTopics">
		<wsdl:part name="getTopics" element="notification:getTopics"/>
	</wsdl:message>
	<wsdl:message name="getTopicsResponse">
		<wsdl:part name="getTopicsResponse" element="notification:getTopicsResponse"/>
	</wsdl:message>
	<wsdl:message name="publish">
		<wsdl:part name="publish" element="notification:publish"/>
	</wsdl:message>
	<wsdl:message name="publishResponse">
		<wsdl:part name="publishResponse" element="notification:publishResponse"/>
	</wsdl:message>
	<wsdl:message name="addTopic">
		<wsdl:part name="addTopic" element="notification:addTopic"/>
	</wsdl:message>
	<wsdl:message name="addTopicResponse">
		<wsdl:part name="addTopicResponse" element="notification:addTopicResponse"/>
	</wsdl:message>
	<wsdl:message name="removeTopic">
		<wsdl:part name="removeTopic" element="notification:removeTopic"/>
	</wsdl:message>
	<wsdl:message name="removeTopicResponse">
		<wsdl:part name="removeTopicResponse" element="notification:removeTopicResponse"/>
	</wsdl:message>
	<wsdl:message name="TopicNotFoundFault">
		<wsdl:part name="TopicNotFoundFault" element="notification:TopicNotFoundFault"/>
	</wsdl:message>
	<wsdl:portType name="networkNotificationPortType">
		<wsdl:operation name="subscribe">
			<wsdl:input message="notification:subscribe" wsa:Action="http://opennaas.org/nsp/webservice/notification/subscribe"/>
			<wsdl:output message="notification:subscribeResponse" wsa:Action="http://opennaas.org/nsp/webservice/notification/subscribeResponse"/>
			<wsdl:fault name="TopicNotFoundFault" message="notification:TopicNotFoundFault"/>
		</wsdl:operation>
		<wsdl:operation name="unsubscribe">
			<wsdl:input message="notification:unsubscribe" wsa:Action="http://opennaas.org/nsp/webservice/notification/unsubscribe"/>
			<wsdl:output message="notification:unsubscribeResponse" wsa:Action="http://opennaas.org/nsp/webservice/notification/unsubscribeResponse"/>
			<wsdl:fault name="TopicNotFoundFault" message="notification:TopicNotFoundFault"/>
		</wsdl:operation>
		<wsdl:operation name="getTopics">
			<wsdl:input message="notification:getTopics" wsa:Action="http://opennaas.org/nsp/webservice/notification/getTopics"/>
			<wsdl:output message="notification:getTopicsResponse" wsa:Action="http://opennaas.org/nsp/webservice/notification/getTopicsResponse"/>
		</wsdl:operation>
		<wsdl:operation name="publish">
			<wsdl:input message="notification:publish" wsa:Action="http://opennaas.org/nsp/webservice/notification/publish"/>
			<wsdl:output message="notification:publishResponse" wsa:Action="http://opennaas.org/nsp/webservice/notification/publishResponse"/>
			<wsdl:fault name="TopicNotFoundFault" message="notification:TopicNotFoundFault"/>
		</wsdl:operation>
		<wsdl:operation name="addTopic">
			<wsdl:input message="notification:addTopic" wsa:Action="http://opennaas.org/nsp/webservice/notification/addTopic"/>
			<wsdl:output message="notification:addTopicResponse" wsa:Action="http://opennaas.org/nsp/webservice/notification/addTopicResponse"/>
		</wsdl:operation>
		<wsdl:operation name="removeTopic">
			<wsdl:input message="notification:removeTopic" wsa:Action="http://opennaas.org/nsp/webservice/notification/removeTopic"/>
			<wsdl:output message="notification:removeTopicResponse" wsa:Action="http://opennaas.org/nsp/webservice/notification/removeTopicResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="networkNotificationBinding" type="notification:networkNotificationPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="subscribe">
			<soap:operation soapAction="http://opennaas.org/nsp/webservice/notification/subscribe"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="TopicNotFoundFault">
				<soap:fault name="TopicNotFoundFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="unsubscribe">
			<soap:operation soapAction="http://opennaas.org/nsp/webservice/notification/unsubscribe"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="TopicNotFoundFault">
				<soap:fault name="TopicNotFoundFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getTopics">
			<soap:operation soapAction="http://opennaas.org/nsp/webservice/notification/getTopics"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="publish">
			<soap:operation soapAction="http://opennaas.org/nsp/webservice/notification/publish"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="TopicNotFoundFault">
				<soap:fault name="TopicNotFoundFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="addTopic">
			<soap:operation soapAction="http://opennaas.org/nsp/webservice/notification/addTopic"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="removeTopic">
			<soap:operation soapAction="http://opennaas.org/nsp/webservice/notification/removeTopic"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="networkNotificationService">
		<wsdl:port name="networkNotificationPortType" binding="notification:networkNotificationBinding" />
	</wsdl:service>
</wsdl:definitions>
