harmony.common.serviceinterface/resources/webservices/Reservation-WS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
 This code is part of the Harmony System implemented in Work Package 1 
 of the Phosphorus project. This work is supported by the European 
 Comission under the Sixth Framework Programme with contract number 
 IST-034115.

 Copyright (C) 2006-2009 Phosphorus WP1 partners. Phosphorus Consortium.
 http://ist-phosphorus.eu/

 This is free software; you can redistribute it and/or modify it
 under the terms of the GNU Lesser General Public License as
 published by the Free Software Foundation; either version 2.1 of
 the License, or (at your option) any later version.
 
 This software is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
 Lesser General Public License for more details.
 
 You should have received a copy of the GNU Lesser General Public
 License along with this software; if not, write to the Free
 Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
 02110-1301 USA, or see the FSF site: http://www.fsf.org.

-->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:reservation="http://opennaas.org/nsp/webservice/reservation" xmlns:ns="http://opennaas.org/nspCommon" xmlns:ns1="http://opennaas.org/nsp" xmlns:notification="http://opennaas.org/nsp/webservice/notification" xmlns:ns2="http://docs.oasis-open.org/wsrf/bf-2" name="Reservation-WS" targetNamespace="http://opennaas.org/nsp/webservice/reservation">
	<wsdl:types>
		<xs:schema>
			<xs:import namespace="http://opennaas.org/nsp/webservice/reservation" schemaLocation="Reservation-Types.xsd"/>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="UnexpectedFault">
		<wsdl:part name="UnexpectedFault" element="ns1:UnexpectedFault"/>
	</wsdl:message>
	<wsdl:message name="InvalidRequestFault">
		<wsdl:part name="InvalidRequestFault" element="ns1:InvalidRequestFault"/>
	</wsdl:message>
	<wsdl:message name="OperationNotAllowedFault">
		<wsdl:part name="OperationNotAllowedFault" element="ns1:OperationNotAllowedFault"/>
	</wsdl:message>
	<wsdl:message name="OperationNotSupportedFault">
		<wsdl:part name="OperationNotSupportedFault" element="ns1:OperationNotSupportedFault"/>
	</wsdl:message>
	<wsdl:message name="EndpointNotFoundFault">
		<wsdl:part name="EndpointNotFoundFault" element="reservation:EndpointNotFoundFault"/>
	</wsdl:message>
	<wsdl:message name="TimeoutFault">
		<wsdl:part name="TimeoutFault" element="reservation:TimeoutFault"/>
	</wsdl:message>
	<wsdl:message name="isAvailable">
		<wsdl:part name="isAvailable" element="reservation:isAvailable"/>
	</wsdl:message>
	<wsdl:message name="isAvailableResponse">
		<wsdl:part name="isAvailableResponse" element="reservation:isAvailableResponse"/>
	</wsdl:message>
	<wsdl:message name="createReservation">
		<wsdl:part name="createReservation" element="reservation:createReservation"/>
	</wsdl:message>
	<wsdl:message name="createReservationResponse">
		<wsdl:part name="createReservationResponse" element="reservation:createReservationResponse"/>
	</wsdl:message>
	<wsdl:message name="getReservation">
		<wsdl:part name="getReservation" element="reservation:getReservation"/>
	</wsdl:message>
	<wsdl:message name="getReservationResponse">
		<wsdl:part name="getReservationResponse" element="reservation:getReservationResponse"/>
	</wsdl:message>
	<wsdl:message name="getReservations">
		<wsdl:part name="getReservations" element="reservation:getReservations"/>
	</wsdl:message>
	<wsdl:message name="getReservationsResponse">
		<wsdl:part name="getReservationsResponse" element="reservation:getReservationsResponse"/>
	</wsdl:message>
	<wsdl:message name="getStatus">
		<wsdl:part name="getStatus" element="reservation:getStatus"/>
	</wsdl:message>
	<wsdl:message name="getStatusResponse">
		<wsdl:part name="getStatusResponse" element="reservation:getStatusResponse"/>
	</wsdl:message>
	<wsdl:message name="cancelReservation">
		<wsdl:part name="cancelReservation" element="reservation:cancelReservation"/>
	</wsdl:message>
	<wsdl:message name="cancelReservationResponse">
		<wsdl:part name="cancelReservationResponse" element="reservation:cancelReservationResponse"/>
	</wsdl:message>
	<wsdl:message name="completeJob">
		<wsdl:part name="completeJob" element="reservation:completeJob"/>
	</wsdl:message>
	<wsdl:message name="completeJobResponse">
		<wsdl:part name="completeJobResponse" element="reservation:completeJobResponse"/>
	</wsdl:message>
	<wsdl:message name="cancelJob">
		<wsdl:part name="cancelJob" element="reservation:cancelJob"/>
	</wsdl:message>
	<wsdl:message name="cancelJobResponse">
		<wsdl:part name="cancelJobResponse" element="reservation:cancelJobResponse"/>
	</wsdl:message>
	<wsdl:message name="activate">
		<wsdl:part name="activate" element="reservation:activate"/>
	</wsdl:message>
	<wsdl:message name="activateResponse">
		<wsdl:part name="activateResponse" element="reservation:activateResponse"/>
	</wsdl:message>
	<wsdl:message name="bind">
		<wsdl:part name="bind" element="reservation:bind"/>
	</wsdl:message>
	<wsdl:message name="bindResponse">
		<wsdl:part name="bindResponse" element="reservation:bindResponse"/>
	</wsdl:message>
	<wsdl:message name="notification">
		<wsdl:part name="notification" element="reservation:notification"/>
	</wsdl:message>
	<wsdl:message name="notificationResponse">
		<wsdl:part name="notificationResponse" element="reservation:notificationResponse"/>
	</wsdl:message>
	<wsdl:portType name="networkReservationPortType">
		<wsdl:operation name="isAvailable">
                        <wsdl:documentation>Checks whether the specified service is available.</wsdl:documentation>
			<wsdl:input message="reservation:isAvailable" wsa:Action="http://opennaas.org/nsp/webservice/reservation/isAvailable"/>
			<wsdl:output message="reservation:isAvailableResponse" wsa:Action="http://opennaas.org/nsp/webservice/reservation/isAvailableResponse"/>
			<wsdl:fault name="UnexpectedFault" message="reservation:UnexpectedFault"/>
			<wsdl:fault name="InvalidRequestFault" message="reservation:InvalidRequestFault"/>
			<wsdl:fault name="OperationNotAllowedFault" message="reservation:OperationNotAllowedFault"/>
			<wsdl:fault name="EndpointNotFoundFault" message="reservation:EndpointNotFoundFault"/>
			<wsdl:fault name="TimeoutFault" message="reservation:TimeoutFault"/>
			<wsdl:fault name="OperationNotSupportedFault" message="reservation:OperationNotSupportedFault"/>
		</wsdl:operation>
		<wsdl:operation name="createReservation">
                        <wsdl:documentation>Creates the reservation of a path between 2 endpoints considering the specified constraints.</wsdl:documentation>
			<wsdl:input message="reservation:createReservation" wsa:Action="http://opennaas.org/nsp/webservice/reservation/createReservation"/>
			<wsdl:output message="reservation:createReservationResponse" wsa:Action="http://opennaas.org/nsp/webservice/reservation/createReservationResponse"/>
			<wsdl:fault name="UnexpectedFault" message="reservation:UnexpectedFault"/>
			<wsdl:fault name="InvalidRequestFault" message="reservation:InvalidRequestFault"/>
			<wsdl:fault name="OperationNotAllowedFault" message="reservation:OperationNotAllowedFault"/>
			<wsdl:fault name="EndpointNotFoundFault" message="reservation:EndpointNotFoundFault"/>
			<wsdl:fault name="TimeoutFault" message="reservation:TimeoutFault"/>
			<wsdl:fault name="OperationNotSupportedFault" message="reservation:OperationNotSupportedFault"/>
		</wsdl:operation>
		<wsdl:operation name="getReservation">
                        <wsdl:documentation>Retrieves the input by which a reservation request was made.</wsdl:documentation>
			<wsdl:input message="reservation:getReservation" wsa:Action="http://opennaas.org/nsp/webservice/reservation/getReservation"/>
			<wsdl:output message="reservation:getReservationResponse" wsa:Action="http://opennaas.org/nsp/webservice/reservation/getReservationResponse"/>
			<wsdl:fault name="UnexpectedFault" message="reservation:UnexpectedFault"/>
			<wsdl:fault name="InvalidRequestFault" message="reservation:InvalidRequestFault"/>
			<wsdl:fault name="OperationNotAllowedFault" message="reservation:OperationNotAllowedFault"/>
			<wsdl:fault name="OperationNotSupportedFault" message="reservation:OperationNotSupportedFault"/>
		</wsdl:operation>
		<wsdl:operation name="getReservations">
                        <wsdl:documentation>Retrieves all existing reservations for the specified period of time.</wsdl:documentation>
			<wsdl:input message="reservation:getReservations" wsa:Action="http://opennaas.org/nsp/webservice/reservation/getReservations"/>
			<wsdl:output message="reservation:getReservationsResponse" wsa:Action="http://opennaas.org/nsp/webservice/reservation/getReservationsResponse"/>
			<wsdl:fault name="UnexpectedFault" message="reservation:UnexpectedFault"/>
			<wsdl:fault name="InvalidRequestFault" message="reservation:InvalidRequestFault"/>
			<wsdl:fault name="OperationNotAllowedFault" message="reservation:OperationNotAllowedFault"/>
			<wsdl:fault name="TimeoutFault" message="reservation:TimeoutFault"/>
			<wsdl:fault name="OperationNotSupportedFault" message="reservation:OperationNotSupportedFault"/>
		</wsdl:operation>
		<wsdl:operation name="getStatus">
                        <wsdl:documentation>Returns the status of a service.</wsdl:documentation>
			<wsdl:input message="reservation:getStatus" wsa:Action="http://opennaas.org/nsp/webservice/reservation/getStatus"/>
			<wsdl:output message="reservation:getStatusResponse" wsa:Action="http://opennaas.org/nsp/webservice/reservation/getStatusResponse"/>
			<wsdl:fault name="UnexpectedFault" message="reservation:UnexpectedFault"/>
			<wsdl:fault name="InvalidRequestFault" message="reservation:InvalidRequestFault"/>
			<wsdl:fault name="OperationNotAllowedFault" message="reservation:OperationNotAllowedFault"/>
			<wsdl:fault name="TimeoutFault" message="reservation:TimeoutFault"/>
			<wsdl:fault name="OperationNotSupportedFault" message="reservation:OperationNotSupportedFault"/>
		</wsdl:operation>
		<wsdl:operation name="cancelReservation">
                        <wsdl:documentation>Cancels a network resource reservation.</wsdl:documentation>
			<wsdl:input message="reservation:cancelReservation" wsa:Action="http://opennaas.org/nsp/webservice/reservation/cancelReservation"/>
			<wsdl:output message="reservation:cancelReservationResponse" wsa:Action="http://opennaas.org/nsp/webservice/reservation/cancelReservationResponse"/>
			<wsdl:fault name="UnexpectedFault" message="reservation:UnexpectedFault"/>
			<wsdl:fault name="InvalidRequestFault" message="reservation:InvalidRequestFault"/>
			<wsdl:fault name="OperationNotAllowedFault" message="reservation:OperationNotAllowedFault"/>
			<wsdl:fault name="TimeoutFault" message="reservation:TimeoutFault"/>
			<wsdl:fault name="OperationNotSupportedFault" message="reservation:OperationNotSupportedFault"/>
		</wsdl:operation>
		<wsdl:operation name="completeJob">
                        <wsdl:documentation>Modifies all pre-reservations belonging to the job to permanent reservations.</wsdl:documentation>
			<wsdl:input message="reservation:completeJob" wsa:Action="http://opennaas.org/nsp/webservice/reservation/completeJob"/>
			<wsdl:output message="reservation:completeJobResponse" wsa:Action="http://opennaas.org/nsp/webservice/reservation/completeJobResponse"/>
			<wsdl:fault name="UnexpectedFault" message="reservation:UnexpectedFault"/>
			<wsdl:fault name="InvalidRequestFault" message="reservation:InvalidRequestFault"/>
			<wsdl:fault name="OperationNotAllowedFault" message="reservation:OperationNotAllowedFault"/>
			<wsdl:fault name="TimeoutFault" message="reservation:TimeoutFault"/>
			<wsdl:fault name="OperationNotSupportedFault" message="reservation:OperationNotSupportedFault"/>
		</wsdl:operation>
		<wsdl:operation name="cancelJob">
                        <wsdl:documentation>Cancels all reservations in the job. Ie. all resources are freed.</wsdl:documentation>
			<wsdl:input message="reservation:cancelJob" wsa:Action="http://opennaas.org/nsp/webservice/reservation/cancelJob"/>
			<wsdl:output message="reservation:cancelJobResponse" wsa:Action="http://opennaas.org/nsp/webservice/reservation/cancelJobResponse"/>
			<wsdl:fault name="UnexpectedFault" message="reservation:UnexpectedFault"/>
			<wsdl:fault name="InvalidRequestFault" message="reservation:InvalidRequestFault"/>
			<wsdl:fault name="OperationNotAllowedFault" message="reservation:OperationNotAllowedFault"/>
			<wsdl:fault name="TimeoutFault" message="reservation:TimeoutFault"/>
			<wsdl:fault name="OperationNotSupportedFault" message="reservation:OperationNotSupportedFault"/>
		</wsdl:operation>
		<wsdl:operation name="activate">
                        <wsdl:documentation>Activates a service.</wsdl:documentation>
			<wsdl:input message="reservation:activate" wsa:Action="http://opennaas.org/nsp/webservice/reservation/activate"/>
			<wsdl:output message="reservation:activateResponse" wsa:Action="http://opennaas.org/nsp/webservice/reservation/activateResponse"/>
			<wsdl:fault name="UnexpectedFault" message="reservation:UnexpectedFault"/>
			<wsdl:fault name="InvalidRequestFault" message="reservation:InvalidRequestFault"/>
			<wsdl:fault name="OperationNotAllowedFault" message="reservation:OperationNotAllowedFault"/>
			<wsdl:fault name="TimeoutFault" message="reservation:TimeoutFault"/>
			<wsdl:fault name="OperationNotSupportedFault" message="reservation:OperationNotSupportedFault"/>
		</wsdl:operation>
		<wsdl:operation name="bind">
                        <wsdl:documentation>Create binding between NRPS endpoint and application endpoint.</wsdl:documentation>
			<wsdl:input message="reservation:bind" wsa:Action="http://opennaas.org/nsp/webservice/reservation/bind"/>
			<wsdl:output message="reservation:bindResponse" wsa:Action="http://opennaas.org/nsp/webservice/reservation/bindResponse"/>
			<wsdl:fault name="UnexpectedFault" message="reservation:UnexpectedFault"/>
			<wsdl:fault name="InvalidRequestFault" message="reservation:InvalidRequestFault"/>
			<wsdl:fault name="OperationNotAllowedFault" message="reservation:OperationNotAllowedFault"/>
			<wsdl:fault name="TimeoutFault" message="reservation:TimeoutFault"/>
			<wsdl:fault name="OperationNotSupportedFault" message="reservation:OperationNotSupportedFault"/>
		</wsdl:operation>
		<wsdl:operation name="notification">
                        <wsdl:documentation></wsdl:documentation>
			<wsdl:input message="reservation:notification" wsa:Action="http://opennaas.org/nsp/webservice/reservation/notification"/>
			<wsdl:output message="reservation:notificationResponse" wsa:Action="http://opennaas.org/nsp/webservice/reservation/notificationResponse"/>
			<wsdl:fault name="OperationNotSupportedFault" message="reservation:OperationNotSupportedFault"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="networkReservationBinding" type="reservation:networkReservationPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="isAvailable">
			<soap:operation soapAction="http://opennaas.org/nsp/webservice/reservation/isAvailable"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="UnexpectedFault">
				<soap:fault name="UnexpectedFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidRequestFault">
				<soap:fault name="InvalidRequestFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="OperationNotAllowedFault">
				<soap:fault name="OperationNotAllowedFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="EndpointNotFoundFault">
				<soap:fault name="EndpointNotFoundFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="TimeoutFault">
				<soap:fault name="TimeoutFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="OperationNotSupportedFault">
				<soap:fault name="OperationNotSupportedFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="createReservation">
			<soap:operation soapAction="http://opennaas.org/nsp/webservice/reservation/createReservation"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="UnexpectedFault">
				<soap:fault name="UnexpectedFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidRequestFault">
				<soap:fault name="InvalidRequestFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="OperationNotAllowedFault">
				<soap:fault name="OperationNotAllowedFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="EndpointNotFoundFault">
				<soap:fault name="EndpointNotFoundFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="TimeoutFault">
				<soap:fault name="TimeoutFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="OperationNotSupportedFault">
				<soap:fault name="OperationNotSupportedFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getReservation">
			<soap:operation soapAction="http://opennaas.org/nsp/webservice/reservation/getReservation"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="UnexpectedFault">
				<soap:fault name="UnexpectedFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidRequestFault">
				<soap:fault name="InvalidRequestFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="OperationNotAllowedFault">
				<soap:fault name="OperationNotAllowedFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="OperationNotSupportedFault">
				<soap:fault name="OperationNotSupportedFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getReservations">
			<soap:operation soapAction="http://opennaas.org/nsp/webservice/reservation/getReservations"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="UnexpectedFault">
				<soap:fault name="UnexpectedFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidRequestFault">
				<soap:fault name="InvalidRequestFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="OperationNotAllowedFault">
				<soap:fault name="OperationNotAllowedFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="TimeoutFault">
				<soap:fault name="TimeoutFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="OperationNotSupportedFault">
				<soap:fault name="OperationNotSupportedFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getStatus">
			<soap:operation soapAction="http://opennaas.org/nsp/webservice/reservation/getStatus"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="UnexpectedFault">
				<soap:fault name="UnexpectedFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidRequestFault">
				<soap:fault name="InvalidRequestFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="OperationNotAllowedFault">
				<soap:fault name="OperationNotAllowedFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="TimeoutFault">
				<soap:fault name="TimeoutFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="OperationNotSupportedFault">
				<soap:fault name="OperationNotSupportedFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="cancelReservation">
			<soap:operation soapAction="http://opennaas.org/nsp/webservice/reservation/cancelReservation"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="UnexpectedFault">
				<soap:fault name="UnexpectedFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidRequestFault">
				<soap:fault name="InvalidRequestFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="OperationNotAllowedFault">
				<soap:fault name="OperationNotAllowedFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="TimeoutFault">
				<soap:fault name="TimeoutFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="OperationNotSupportedFault">
				<soap:fault name="OperationNotSupportedFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="completeJob">
			<soap:operation soapAction="http://opennaas.org/nsp/webservice/reservation/completeJob"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="UnexpectedFault">
				<soap:fault name="UnexpectedFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidRequestFault">
				<soap:fault name="InvalidRequestFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="OperationNotAllowedFault">
				<soap:fault name="OperationNotAllowedFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="TimeoutFault">
				<soap:fault name="TimeoutFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="OperationNotSupportedFault">
				<soap:fault name="OperationNotSupportedFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="cancelJob">
			<soap:operation soapAction="http://opennaas.org/nsp/webservice/reservation/cancelJob"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="UnexpectedFault">
				<soap:fault name="UnexpectedFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidRequestFault">
				<soap:fault name="InvalidRequestFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="OperationNotAllowedFault">
				<soap:fault name="OperationNotAllowedFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="TimeoutFault">
				<soap:fault name="TimeoutFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="OperationNotSupportedFault">
				<soap:fault name="OperationNotSupportedFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="activate">
			<soap:operation soapAction="http://opennaas.org/nsp/webservice/reservation/activate"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="UnexpectedFault">
				<soap:fault name="UnexpectedFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidRequestFault">
				<soap:fault name="InvalidRequestFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="OperationNotAllowedFault">
				<soap:fault name="OperationNotAllowedFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="TimeoutFault">
				<soap:fault name="TimeoutFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="OperationNotSupportedFault">
				<soap:fault name="OperationNotSupportedFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="bind">
			<soap:operation soapAction="http://opennaas.org/nsp/webservice/reservation/bind"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="UnexpectedFault">
				<soap:fault name="UnexpectedFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidRequestFault">
				<soap:fault name="InvalidRequestFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="OperationNotAllowedFault">
				<soap:fault name="OperationNotAllowedFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="TimeoutFault">
				<soap:fault name="TimeoutFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="OperationNotSupportedFault">
				<soap:fault name="OperationNotSupportedFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="notification">
			<soap:operation soapAction="http://opennaas.org/nsp/webservice/reservation/notification"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="OperationNotSupportedFault">
				<soap:fault name="OperationNotSupportedFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="networkReservationService">
		<wsdl:port name="networkReservationPortType" binding="reservation:networkReservationBinding" />
	</wsdl:service>
</wsdl:definitions>
