harmony.common.serviceinterface/resources/webservices/Topology-WS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
 This code is part of the Harmony System implemented in Work Package 1 
 of the Phosphorus project. This work is supported by the European 
 Comission under the Sixth Framework Programme with contract number 
 IST-034115.

 Copyright (C) 2006-2009 Phosphorus WP1 partners. Phosphorus Consortium.
 http://ist-phosphorus.eu/

 This is free software; you can redistribute it and/or modify it
 under the terms of the GNU Lesser General Public License as
 published by the Free Software Foundation; either version 2.1 of
 the License, or (at your option) any later version.
 
 This software is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
 Lesser General Public License for more details.
 
 You should have received a copy of the GNU Lesser General Public
 License along with this software; if not, write to the Free
 Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
 02110-1301 USA, or see the FSF site: http://www.fsf.org.

-->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:topology="http://opennaas.org/nsp/webservice/topology" xmlns:ns="http://opennaas.org/nsp/webservice/topology" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:ns1="http://opennaas.org/NSPCommon" xmlns:ns2="http://schemas.xmlsoap.org/soap/encoding/" xmlns:ns3="http://opennaas.org/nsp" xmlns:ns4="http://docs.oasis-open.org/wsrf/bf-2" targetNamespace="http://opennaas.org/nsp/webservice/topology">
	<types>
		<xs:schema>
			<xs:import namespace="http://opennaas.org/nsp/webservice/topology" schemaLocation="Topology-Types.xsd"/>
		</xs:schema>
	</types>
	<message name="addEndpoint">
		<part name="addEndpoint" element="topology:addEndpoint"/>
	</message>
	<message name="addEndpointResponse">
		<part name="addEndpointResponse" element="topology:addEndpointResponse"/>
	</message>
	<message name="addLink">
		<part name="addLink" element="topology:addLink"/>
	</message>
	<message name="UnexpectedFault">
		<part name="UnexpectedFault" element="ns3:UnexpectedFault"/>
	</message>
	<message name="InvalidRequestFault">
		<part name="InvalidRequestFault" element="ns3:InvalidRequestFault"/>
	</message>
	<message name="OperationNotAllowedFault">
		<part name="OperationNotAllowedFault" element="ns3:OperationNotAllowedFault"/>
	</message>
	<message name="OperationNotSupportedFault">
		<part name="OperationNotSupportedFault" element="ns3:OperationNotSupportedFault"/>
	</message>
	<message name="DomainAlreadyExistsFault">
		<part name="DomainAlreadyExistsFault" element="topology:DomainAlreadyExistsFault"/>
	</message>
	<message name="EndpointAlreadyExistsFault">
		<part name="EndpointAlreadyExistsFault" element="topology:EndpointAlreadyExistsFault"/>
	</message>
	<message name="LinkAlreadyExistsFault">
		<part name="LinkAlreadyExistsFault" element="topology:LinkAlreadyExistsFault"/>
	</message>
	<message name="DomainNotFoundFault">
		<part name="DomainNotFoundFault" element="topology:DomainNotFoundFault"/>
	</message>
	<message name="deleteDomainResponse">
		<part name="deleteDomainResponse" element="topology:deleteDomainResponse"/>
	</message>
	<message name="addOrEditDomain">
		<part name="addOrEditDomain" element="topology:addOrEditDomain"/>
	</message>
	<message name="addDomain">
		<part name="addDomain" element="topology:addDomain"/>
	</message>
	<message name="deleteDomain">
		<part name="deleteDomain" element="topology:deleteDomain"/>
	</message>
	<message name="addLinkResponse">
		<part name="addLinkResponse" element="topology:addLinkResponse"/>
	</message>
	<message name="deleteLink">
		<part name="deleteLink" element="topology:deleteLink"/>
	</message>
	<message name="deleteLinkResponse">
		<part name="deleteLinkResponse" element="topology:deleteLinkResponse"/>
	</message>
	<message name="editLink">
		<part name="editLink" element="topology:editLink"/>
	</message>
	<message name="editLinkResponse">
		<part name="editLinkResponse" element="topology:editLinkResponse"/>
	</message>
	<message name="addOrEditDomainResponse">
		<part name="addOrEditDomainResponse" element="topology:addOrEditDomainResponse"/>
	</message>
	<message name="addDomainResponse">
		<part name="addDomainResponse" element="topology:addDomainResponse"/>
	</message>
	<message name="editDomain">
		<part name="editDomain" element="topology:editDomain"/>
	</message>
	<message name="editDomainResponse">
		<part name="editDomainResponse" element="topology:editDomainResponse"/>
	</message>
	<message name="deleteEndpoint">
		<part name="deleteEndpoint" element="topology:deleteEndpoint"/>
	</message>
	<message name="deleteEndpointResponse">
		<part name="deleteEndpointResponse" element="topology:deleteEndpointResponse"/>
	</message>
	<message name="editEndpoint">
		<part name="editEndpoint" element="topology:editEndpoint"/>
	</message>
	<message name="editEndpointResponse">
		<part name="editEndpointResponse" element="topology:editEndpointResponse"/>
	</message>
	<message name="getDomains">
		<part name="getDomains" element="topology:getDomains"/>
	</message>
	<message name="getDomainsResponse">
		<part name="getDomainsResponse" element="topology:getDomainsResponse"/>
	</message>
	<message name="getEndpoints">
		<part name="getEndpoints" element="topology:getEndpoints"/>
	</message>
	<message name="getEndpointsResponse">
		<part name="getEndpointsResponse" element="topology:getEndpointsResponse"/>
	</message>
	<message name="getLinks">
		<part name="getLinks" element="topology:getLinks"/>
	</message>
	<message name="getLinksResponse">
		<part name="getLinksResponse" element="topology:getLinksResponse"/>
	</message>
	<portType name="TopologyIFPortType">
		<operation name="addOrEditDomain">
			<documentation>Adds or edits a domain.</documentation>
			<input message="topology:addOrEditDomain" wsa:Action="http://opennaas.org/nsp/webservice/topology/addOrEditDomain"/>
			<output message="topology:addOrEditDomainResponse" wsa:Action="http://opennaas.org/nsp/webservice/topology/addOrEditDomainResponse"/>
			<fault name="UnexpectedFault" message="topology:UnexpectedFault"/>
			<fault name="InvalidRequestFault" message="topology:InvalidRequestFault"/>
			<fault name="OperationNotAllowedFault" message="topology:OperationNotAllowedFault"/>
			<fault name="OperationNotSupportedFault" message="topology:OperationNotSupportedFault"/>
		</operation>
		<operation name="addDomain">
			<documentation>Adds the domain to the NSP.</documentation>
			<input message="topology:addDomain" wsa:Action="http://opennaas.org/nsp/webservice/topology/addDomain"/>
			<output message="topology:addDomainResponse" wsa:Action="http://opennaas.org/nsp/webservice/topology/addDomainResponse"/>
			<fault name="UnexpectedFault" message="topology:UnexpectedFault"/>
			<fault name="InvalidRequestFault" message="topology:InvalidRequestFault"/>
			<fault name="OperationNotAllowedFault" message="topology:OperationNotAllowedFault"/>
			<fault name="DomainAlreadyExistsFault" message="topology:DomainAlreadyExistsFault"/>
			<fault name="OperationNotSupportedFault" message="topology:OperationNotSupportedFault"/>
		</operation>
		<operation name="deleteDomain">
			<documentation>Deletes the domain from the NSP.</documentation>
			<input message="topology:deleteDomain" wsa:Action="http://opennaas.org/nsp/webservice/topology/deleteDomain"/>
			<output message="topology:deleteDomainResponse" wsa:Action="http://opennaas.org/nsp/webservice/topology/deleteDomainResponse"/>
			<fault name="DomainNotFoundFault" message="topology:DomainNotFoundFault"/>
			<fault name="UnexpectedFault" message="topology:UnexpectedFault"/>
			<fault name="InvalidRequestFault" message="topology:InvalidRequestFault"/>
			<fault name="OperationNotAllowedFault" message="topology:OperationNotAllowedFault"/>
			<fault name="OperationNotSupportedFault" message="topology:OperationNotSupportedFault"/>
		</operation>
		<operation name="editDomain">
			<documentation>Edits the specified domain link available in the NSP.</documentation>
			<input name="editDomain" message="topology:editDomain" wsa:Action="http://opennaas.org/nsp/webservice/topology/editDomain"/>
			<output message="topology:editDomainResponse" wsa:Action="http://opennaas.org/nsp/webservice/topology/editDomainResponse"/>
			<fault name="DomainNotFoundFault" message="topology:DomainNotFoundFault"/>
			<fault name="UnexpectedFault" message="topology:UnexpectedFault"/>
			<fault name="InvalidRequestFault" message="topology:InvalidRequestFault"/>
			<fault name="OperationNotAllowedFault" message="topology:OperationNotAllowedFault"/>
			<fault name="OperationNotSupportedFault" message="topology:OperationNotSupportedFault"/>
		</operation>
		<operation name="getDomains">
			<documentation>Retrieves all domains added to the NSP.</documentation>
			<input message="topology:getDomains" wsa:Action="http://opennaas.org/nsp/webservice/topology/getDomains"/>
			<output message="topology:getDomainsResponse" wsa:Action="http://opennaas.org/nsp/webservice/topology/getDomainsResponse"/>
			<fault name="UnexpectedFault" message="topology:UnexpectedFault"/>
			<fault name="InvalidRequestFault" message="topology:InvalidRequestFault"/>
			<fault name="OperationNotAllowedFault" message="topology:OperationNotAllowedFault"/>
			<fault name="OperationNotSupportedFault" message="topology:OperationNotSupportedFault"/>
		</operation>
		<operation name="addEndpoint">
			<documentation>Adds an endpoint to the NSP.</documentation>
			<input message="topology:addEndpoint" wsa:Action="http://opennaas.org/nsp/webservice/topology/addEndpoint"/>
			<output message="topology:addEndpointResponse" wsa:Action="http://opennaas.org/nsp/webservice/topology/addEndpointResponse"/>
			<fault name="DomainNotFoundFault" message="topology:DomainNotFoundFault"/>
			<fault name="EndpointAlreadyExistsFault" message="topology:EndpointAlreadyExistsFault"/>
			<fault name="UnexpectedFault" message="topology:UnexpectedFault"/>
			<fault name="InvalidRequestFault" message="topology:InvalidRequestFault"/>
			<fault name="OperationNotAllowedFault" message="topology:OperationNotAllowedFault"/>
			<fault name="OperationNotSupportedFault" message="topology:OperationNotSupportedFault"/>
		</operation>
		<operation name="deleteEndpoint">
			<documentation>Deletes an endpoint from the NSP.</documentation>
			<input message="topology:deleteEndpoint" wsa:Action="http://opennaas.org/nsp/webservice/topology/deleteEndpoint"/>
			<output message="topology:deleteEndpointResponse" wsa:Action="http://opennaas.org/nsp/webservice/topology/deleteEndpointResponse"/>
			<fault name="UnexpectedFault" message="topology:UnexpectedFault"/>
			<fault name="InvalidRequestFault" message="topology:InvalidRequestFault"/>
			<fault name="OperationNotAllowedFault" message="topology:OperationNotAllowedFault"/>
			<fault name="OperationNotSupportedFault" message="topology:OperationNotSupportedFault"/>
		</operation>
		<operation name="editEndpoint">
			<documentation>Edits the specified endpoint link available in the NSP.</documentation>
			<input message="topology:editEndpoint" wsa:Action="http://opennaas.org/nsp/webservice/topology/editEndpoint"/>
			<output message="topology:editEndpointResponse" wsa:Action="http://opennaas.org/nsp/webservice/topology/editEndpointResponse"/>
			<fault name="UnexpectedFault" message="topology:UnexpectedFault"/>
			<fault name="InvalidRequestFault" message="topology:InvalidRequestFault"/>
			<fault name="OperationNotAllowedFault" message="topology:OperationNotAllowedFault"/>
			<fault name="OperationNotSupportedFault" message="topology:OperationNotSupportedFault"/>
		</operation>
		<operation name="getEndpoints">
			<documentation>Retrieves all endpoints added to the NSP.</documentation>
			<input message="topology:getEndpoints" wsa:Action="http://opennaas.org/nsp/webservice/topology/getEndpoints"/>
			<output message="topology:getEndpointsResponse" wsa:Action="http://opennaas.org/nsp/webservice/topology/getEndpointsResponse"/>
			<fault name="UnexpectedFault" message="topology:UnexpectedFault"/>
			<fault name="InvalidRequestFault" message="topology:InvalidRequestFault"/>
			<fault name="OperationNotAllowedFault" message="topology:OperationNotAllowedFault"/>
			<fault name="OperationNotSupportedFault" message="topology:OperationNotSupportedFault"/>
		</operation>
		<operation name="addLink">
			<documentation></documentation>
			<input message="topology:addLink" wsa:Action="http://opennaas.org/nsp/webservice/topology/addLink"/>
			<output message="topology:addLinkResponse" wsa:Action="http://opennaas.org/nsp/webservice/topology/addLinkResponse"/>
			<fault name="UnexpectedFault" message="topology:UnexpectedFault"/>
			<fault name="InvalidRequestFault" message="topology:InvalidRequestFault"/>
			<fault name="OperationNotAllowedFault" message="topology:OperationNotAllowedFault"/>
			<fault name="OperationNotSupportedFault" message="topology:OperationNotSupportedFault"/>
		</operation>
		<operation name="deleteLink">
			<documentation></documentation>
			<input message="topology:deleteLink" wsa:Action="http://opennaas.org/nsp/webservice/topology/deleteLink"/>
			<output message="topology:deleteLinkResponse" wsa:Action="http://opennaas.org/nsp/webservice/topology/deleteLinkResponse"/>
			<fault name="UnexpectedFault" message="topology:UnexpectedFault"/>
			<fault name="InvalidRequestFault" message="topology:InvalidRequestFault"/>
			<fault name="OperationNotAllowedFault" message="topology:OperationNotAllowedFault"/>
			<fault name="OperationNotSupportedFault" message="topology:OperationNotSupportedFault"/>
		</operation>
		<operation name="editLink">
			<documentation></documentation>
			<input message="topology:editLink" wsa:Action="http://opennaas.org/nsp/webservice/topology/editLink"/>
			<output message="topology:editLinkResponse" wsa:Action="http://opennaas.org/nsp/webservice/topology/editLinkResponse"/>
			<fault name="UnexpectedFault" message="topology:UnexpectedFault"/>
			<fault name="InvalidRequestFault" message="topology:InvalidRequestFault"/>
			<fault name="OperationNotAllowedFault" message="topology:OperationNotAllowedFault"/>
			<fault name="OperationNotSupportedFault" message="topology:OperationNotSupportedFault"/>
		</operation>
		<operation name="getLinks">
			<documentation></documentation>
			<input message="topology:getLinks" wsa:Action="http://opennaas.org/nsp/webservice/topology/getLinks"/>
			<output message="topology:getLinksResponse" wsa:Action="http://opennaas.org/nsp/webservice/topology/getLinksResponse"/>
			<fault name="UnexpectedFault" message="topology:UnexpectedFault"/>
			<fault name="InvalidRequestFault" message="topology:InvalidRequestFault"/>
			<fault name="OperationNotAllowedFault" message="topology:OperationNotAllowedFault"/>
			<fault name="OperationNotSupportedFault" message="topology:OperationNotSupportedFault"/>
		</operation>
	</portType>
	<binding name="topologyIFBinding" type="topology:TopologyIFPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="addOrEditDomain">
			<soap:operation soapAction="http://opennaas.org/nsp/webservice/topology/addOrEditDomain" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="UnexpectedFault">
				<soap:fault name="UnexpectedFault" use="literal"/>
			</fault>
			<fault name="InvalidRequestFault">
				<soap:fault name="InvalidRequestFault" use="literal"/>
			</fault>
			<fault name="OperationNotAllowedFault">
				<soap:fault name="OperationNotAllowedFault" use="literal"/>
			</fault>
			<fault name="OperationNotSupportedFault">
				<soap:fault name="OperationNotSupportedFault" use="literal"/>
			</fault>
		</operation>
		<operation name="addDomain">
			<soap:operation soapAction="http://opennaas.org/nsp/webservice/topology/addDomain" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="UnexpectedFault">
				<soap:fault name="UnexpectedFault" use="literal"/>
			</fault>
			<fault name="InvalidRequestFault">
				<soap:fault name="InvalidRequestFault" use="literal"/>
			</fault>
			<fault name="OperationNotAllowedFault">
				<soap:fault name="OperationNotAllowedFault" use="literal"/>
			</fault>
			<fault name="DomainAlreadyExistsFault">
				<soap:fault name="DomainAlreadyExistsFault" use="literal"/>
			</fault>
			<fault name="OperationNotSupportedFault">
				<soap:fault name="OperationNotSupportedFault" use="literal"/>
			</fault>
		</operation>
		<operation name="deleteDomain">
			<soap:operation soapAction="http://opennaas.org/nsp/webservice/topology/deleteDomain" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="DomainNotFoundFault">
				<soap:fault name="DomainNotFoundFault" use="literal"/>
			</fault>
			<fault name="UnexpectedFault">
				<soap:fault name="UnexpectedFault" use="literal"/>
			</fault>
			<fault name="InvalidRequestFault">
				<soap:fault name="InvalidRequestFault" use="literal"/>
			</fault>
			<fault name="OperationNotAllowedFault">
				<soap:fault name="OperationNotAllowedFault" use="literal"/>
			</fault>
			<fault name="OperationNotSupportedFault">
				<soap:fault name="OperationNotSupportedFault" use="literal"/>
			</fault>
		</operation>
		<operation name="editDomain">
			<soap:operation soapAction="http://opennaas.org/nsp/webservice/topology/editDomain" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="DomainNotFoundFault">
				<soap:fault name="DomainNotFoundFault" use="literal"/>
			</fault>
			<fault name="UnexpectedFault">
				<soap:fault name="UnexpectedFault" use="literal"/>
			</fault>
			<fault name="InvalidRequestFault">
				<soap:fault name="InvalidRequestFault" use="literal"/>
			</fault>
			<fault name="OperationNotAllowedFault">
				<soap:fault name="OperationNotAllowedFault" use="literal"/>
			</fault>
			<fault name="OperationNotSupportedFault">
				<soap:fault name="OperationNotSupportedFault" use="literal"/>
			</fault>
		</operation>
		<operation name="getDomains">
			<soap:operation soapAction="http://opennaas.org/nsp/webservice/topology/getDomains" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="UnexpectedFault">
				<soap:fault name="UnexpectedFault" use="literal"/>
			</fault>
			<fault name="InvalidRequestFault">
				<soap:fault name="InvalidRequestFault" use="literal"/>
			</fault>
			<fault name="OperationNotAllowedFault">
				<soap:fault name="OperationNotAllowedFault" use="literal"/>
			</fault>
			<fault name="OperationNotSupportedFault">
				<soap:fault name="OperationNotSupportedFault" use="literal"/>
			</fault>
		</operation>
		<operation name="addEndpoint">
			<soap:operation soapAction="http://opennaas.org/nsp/webservice/topology/addEndpoint" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="DomainNotFoundFault">
				<soap:fault name="DomainNotFoundFault" use="literal"/>
			</fault>
			<fault name="EndpointAlreadyExistsFault">
				<soap:fault name="EndpointAlreadyExistsFault" use="literal"/>
			</fault>
			<fault name="UnexpectedFault">
				<soap:fault name="UnexpectedFault" use="literal"/>
			</fault>
			<fault name="InvalidRequestFault">
				<soap:fault name="InvalidRequestFault" use="literal"/>
			</fault>
			<fault name="OperationNotAllowedFault">
				<soap:fault name="OperationNotAllowedFault" use="literal"/>
			</fault>
			<fault name="OperationNotSupportedFault">
				<soap:fault name="OperationNotSupportedFault" use="literal"/>
			</fault>
		</operation>
		<operation name="deleteEndpoint">
			<soap:operation soapAction="http://opennaas.org/nsp/webservice/topology/deleteEndpoint" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="UnexpectedFault">
				<soap:fault name="UnexpectedFault" use="literal"/>
			</fault>
			<fault name="InvalidRequestFault">
				<soap:fault name="InvalidRequestFault" use="literal"/>
			</fault>
			<fault name="OperationNotAllowedFault">
				<soap:fault name="OperationNotAllowedFault" use="literal"/>
			</fault>
			<fault name="OperationNotSupportedFault">
				<soap:fault name="OperationNotSupportedFault" use="literal"/>
			</fault>
		</operation>
		<operation name="editEndpoint">
			<soap:operation soapAction="http://opennaas.org/nsp/webservice/topology/editEndpoint" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="UnexpectedFault">
				<soap:fault name="UnexpectedFault" use="literal"/>
			</fault>
			<fault name="InvalidRequestFault">
				<soap:fault name="InvalidRequestFault" use="literal"/>
			</fault>
			<fault name="OperationNotAllowedFault">
				<soap:fault name="OperationNotAllowedFault" use="literal"/>
			</fault>
			<fault name="OperationNotSupportedFault">
				<soap:fault name="OperationNotSupportedFault" use="literal"/>
			</fault>
		</operation>
		<operation name="getEndpoints">
			<soap:operation soapAction="http://opennaas.org/nsp/webservice/topology/getEndpoints" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="UnexpectedFault">
				<soap:fault name="UnexpectedFault" use="literal"/>
			</fault>
			<fault name="InvalidRequestFault">
				<soap:fault name="InvalidRequestFault" use="literal"/>
			</fault>
			<fault name="OperationNotAllowedFault">
				<soap:fault name="OperationNotAllowedFault" use="literal"/>
			</fault>
			<fault name="OperationNotSupportedFault">
				<soap:fault name="OperationNotSupportedFault" use="literal"/>
			</fault>
		</operation>
		<operation name="addLink">
			<soap:operation soapAction="http://opennaas.org/nsp/webservice/topology/addLink" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="UnexpectedFault">
				<soap:fault name="UnexpectedFault" use="literal"/>
			</fault>
			<fault name="InvalidRequestFault">
				<soap:fault name="InvalidRequestFault" use="literal"/>
			</fault>
			<fault name="OperationNotAllowedFault">
				<soap:fault name="OperationNotAllowedFault" use="literal"/>
			</fault>
			<fault name="OperationNotSupportedFault">
				<soap:fault name="OperationNotSupportedFault" use="literal"/>
			</fault>
		</operation>
		<operation name="deleteLink">
			<soap:operation soapAction="http://opennaas.org/nsp/webservice/topology/deleteLink" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="UnexpectedFault">
				<soap:fault name="UnexpectedFault" use="literal"/>
			</fault>
			<fault name="InvalidRequestFault">
				<soap:fault name="InvalidRequestFault" use="literal"/>
			</fault>
			<fault name="OperationNotAllowedFault">
				<soap:fault name="OperationNotAllowedFault" use="literal"/>
			</fault>
			<fault name="OperationNotSupportedFault">
				<soap:fault name="OperationNotSupportedFault" use="literal"/>
			</fault>
		</operation>
		<operation name="editLink">
			<soap:operation soapAction="http://opennaas.org/nsp/webservice/topology/editLink" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="UnexpectedFault">
				<soap:fault name="UnexpectedFault" use="literal"/>
			</fault>
			<fault name="InvalidRequestFault">
				<soap:fault name="InvalidRequestFault" use="literal"/>
			</fault>
			<fault name="OperationNotAllowedFault">
				<soap:fault name="OperationNotAllowedFault" use="literal"/>
			</fault>
			<fault name="OperationNotSupportedFault">
				<soap:fault name="OperationNotSupportedFault" use="literal"/>
			</fault>
		</operation>
		<operation name="getLinks">
			<soap:operation soapAction="http://opennaas.org/nsp/webservice/topology/getLinks" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="UnexpectedFault">
				<soap:fault name="UnexpectedFault" use="literal"/>
			</fault>
			<fault name="InvalidRequestFault">
				<soap:fault name="InvalidRequestFault" use="literal"/>
			</fault>
			<fault name="OperationNotAllowedFault">
				<soap:fault name="OperationNotAllowedFault" use="literal"/>
			</fault>
			<fault name="OperationNotSupportedFault">
				<soap:fault name="OperationNotSupportedFault" use="literal"/>
			</fault>
		</operation>
	</binding>
	<service name="topologyIFService">
		<port name="topologyIFPort" binding="topology:topologyIFBinding" >


		</port>
	</service>
</definitions>
