harmony.common.serviceinterface/resources/webservices/Topology-Types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
 This code is part of the Harmony System implemented in Work Package 1 
 of the Phosphorus project. This work is supported by the European 
 Comission under the Sixth Framework Programme with contract number 
 IST-034115.

 Copyright (C) 2006-2009 Phosphorus WP1 partners. Phosphorus Consortium.
 http://ist-phosphorus.eu/

 This is free software; you can redistribute it and/or modify it
 under the terms of the GNU Lesser General Public License as
 published by the Free Software Foundation; either version 2.1 of
 the License, or (at your option) any later version.
 
 This software is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
 Lesser General Public License for more details.
 
 You should have received a copy of the GNU Lesser General Public
 License along with this software; if not, write to the Free
 Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
 02110-1301 USA, or see the FSF site: http://www.fsf.org.

-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:y="http://opennaas.org/nsp/webservice/topology" xmlns:nspc="http://opennaas.org/nsp" xmlns:wsbf="http://docs.oasis-open.org/wsrf/bf-2" targetNamespace="http://opennaas.org/nsp/webservice/topology" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://opennaas.org/nsp" schemaLocation="CommonTypes.xsd"/>
	<xs:import namespace="http://docs.oasis-open.org/wsrf/bf-2" schemaLocation="./wsrf/WS-BaseFaults-1_2.xsd"/>
	<!-- Identifier-Types _______________________________________________________-->
	<xs:complexType name="LinkIdentifierType">
		<xs:sequence>
			<xs:element name="SourceEndpoint" type="nspc:EndpointIdentifierType">
				<xs:annotation>
					<xs:documentation>
						Source end point of the link
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DestinationEndpoint" type="nspc:EndpointIdentifierType">
				<xs:annotation>
					<xs:documentation>
						Destination end point of the link
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- Predefined Types _______________________________________________________-->
	<xs:complexType name="Link">
		<xs:complexContent>
			<xs:extension base="y:LinkIdentifierType">
				<xs:sequence>
					<xs:element name="Name" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
						Name of the link
					</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Description" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
						Description of the link
					</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Delay" type="xs:int" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
                                The delay of the link in ms.
                            </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Costs" type="xs:int" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
                                An abstract metric for the link costs.
                            </xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AdditionalData">
		<xs:annotation>
			<xs:documentation>Port itional Data</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Parameter" type="xs:string">
				<xs:annotation>
					<xs:documentation>VLAN, Lambda,</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AssociatedPort" type="nspc:EndpointType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Associated port in case there is pre
						configuration for this parameter. For instance,
						lambda Y is mapped to port X because it has been
						pre configured in this way.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- Elements _______________________________________________________________-->
	<!-- AddOrEditDomain ________________________________________________________-->
	<xs:element name="addOrEditDomain">
		<xs:annotation>
			<xs:documentation>Adds or edits a domain</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="addOrEditDomain" type="y:AddOrEditDomainType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="addOrEditDomainResponse">
		<xs:annotation>
			<xs:documentation>
				Answers an AddOrEditDomain message
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="addOrEditDomainResponse" type="y:AddOrEditDomainResponseType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- AddDomain ______________________________________________________________-->
	<xs:element name="addDomain">
		<xs:annotation>
			<xs:documentation>Adds a domain</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="addDomain" type="y:AddDomainType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="addDomainResponse">
		<xs:annotation>
			<xs:documentation>
				Answers an Add Domain message
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="addDomainResponse" type="y:AddDomainResponseType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- DeleteDomain____________________________________________________________-->
	<xs:element name="deleteDomain">
		<xs:annotation>
			<xs:documentation>Deletes a domain</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="deleteDomain" type="y:DeleteDomainType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="deleteDomainResponse">
		<xs:annotation>
			<xs:documentation>
				Answers a Delete Domain message
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="deleteDomainResponse" type="y:DeleteDomainResponseType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- EditDomain _____________________________________________________________-->
	<xs:element name="editDomain">
		<xs:annotation>
			<xs:documentation>
				Edits a domain name or location
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="editDomain" type="y:EditDomainType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="editDomainResponse">
		<xs:annotation>
			<xs:documentation>
				Answers an Edit Domain message
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="editDomainResponse" type="y:EditDomainResponseType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- GetDomains _____________________________________________________________-->
	<xs:element name="getDomains">
		<xs:annotation>
			<xs:documentation>
				Retrieves the name of all domains controlled by the NSP
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="getDomains" type="y:GetDomainsType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="getDomainsResponse">
		<xs:annotation>
			<xs:documentation>
				Answers a getDomains message
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="getDomainsResponse" type="y:GetDomainsResponseType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- AddEndpoint ___________________________________________________________-->
	<xs:element name="addEndpoint">
		<xs:annotation>
			<xs:documentation>
				Adds end points to a domain
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="addEndpoint" type="y:AddEndpointType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="addEndpointResponse">
		<xs:annotation>
			<xs:documentation>
				Answers an addEndpoint message
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="addEndpointResponse" type="y:AddEndpointResponseType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- DeleteEndpoint ________________________________________________________-->
	<xs:element name="deleteEndpoint">
		<xs:annotation>
			<xs:documentation>
				Deletes end points of a domain
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="deleteEndpoint" type="y:DeleteEndpointType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="deleteEndpointResponse">
		<xs:annotation>
			<xs:documentation>
				Answers an DeleteEndpointReq message
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="deleteEndpointResponse" type="y:DeleteEndpointResponseType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- EditEndpoint __________________________________________________________-->
	<xs:element name="editEndpoint">
		<xs:annotation>
			<xs:documentation>
				Edits end points of a domain
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="editEndpoint" type="y:EditEndpointType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="editEndpointResponse">
		<xs:annotation>
			<xs:documentation>
				Answers an EditEndpointReq message
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="editEndpointResponse" type="y:EditEndpointResponseType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- GetEndpoints ___________________________________________________________-->
	<xs:element name="getEndpoints">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="getEndpoints" type="y:GetEndpointsType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="getEndpointsResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="getEndpointsResponse" type="y:GetEndpointsResponseType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- AddLink ________________________________________________________________-->
	<xs:element name="addLink">
		<xs:annotation>
			<xs:documentation>Adds a Link to a Domain</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="addLink" type="y:AddLinkType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="addLinkResponse">
		<xs:annotation>
			<xs:documentation>
				Answers an Add link message
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="addLinkResponse" type="y:AddLinkResponseType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- DeleteLink _____________________________________________________________-->
	<xs:element name="deleteLink">
		<xs:annotation>
			<xs:documentation>
				Deletes a Link of a Domain
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="deleteLink" type="y:DeleteLinkType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="deleteLinkResponse">
		<xs:annotation>
			<xs:documentation>
				Answers an delete link message
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="deleteLinkResponse" type="y:DeleteLinkResponseType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- EditLink  ______________________________________________________________-->
	<xs:element name="editLink">
		<xs:annotation>
			<xs:documentation>
				Modifies some parameter of a Link
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="editLink" type="y:EditLinkType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="editLinkResponse">
		<xs:annotation>
			<xs:documentation>
				Answers an Edit Link message
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="editLinkResponse" type="y:EditLinkResponseType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- GetLinks _______________________________________________________________-->
	<xs:element name="getLinks">
		<xs:annotation>
			<xs:documentation>
				Retrieves all the links of a domain
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="getLinks" type="y:GetLinksType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="getLinksResponse">
		<xs:annotation>
			<xs:documentation>
				Answers an getLinks message
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="getLinksResponse" type="y:GetLinksResponseType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- Request- and Response-Types ____________________________________________-->
	<!-- AddOrEditDomain ________________________________________________________-->
	<xs:complexType name="AddOrEditDomainType">
		<xs:sequence>
			<xs:element name="Domain" type="nspc:DomainInformationType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AddOrEditDomainResponseType">
		<xs:sequence>
			<xs:element name="Success" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>
						Indicates if the addOrEditDomain request has been
						successful (true) or not (false)
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- AddDomain ______________________________________________________________-->
	<xs:complexType name="AddDomainType">
		<xs:sequence>
			<xs:element name="Domain" type="nspc:DomainInformationType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AddDomainResponseType">
		<xs:sequence>
			<xs:element name="Success" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>
						Indicates if the add domain request has been
						successful (true) or not (false)
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- DeleteDomain ___________________________________________________________-->
	<xs:complexType name="DeleteDomainType">
		<xs:sequence>
			<xs:element name="DomainId" type="nspc:DomainIdentifierType">
				<xs:annotation>
					<xs:documentation>
						Id of the domain that is to be deleted
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DeleteDomainResponseType">
		<xs:sequence>
			<xs:element name="Success" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>
						Indicates if the delete domain request has been
						successful (True) or not (False)
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- EditDomain _____________________________________________________________-->
	<xs:complexType name="EditDomainType">
		<xs:sequence>
			<xs:element name="Domain" type="nspc:DomainInformationType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						New name of the domain in case we want to change
						the name of the domain.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EditDomainResponseType">
		<xs:sequence>
			<xs:element name="Success" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>
						Indicates if the Edit Domain request has been
						successful (True) or not (False)
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- GetDomains _____________________________________________________________-->
	<xs:complexType name="GetDomainsType">
		<xs:sequence/>
	</xs:complexType>
	<xs:complexType name="GetDomainsResponseType">
		<xs:sequence>
			<xs:element name="Domains" type="nspc:DomainInformationType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						List of all domains
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- AddEndpoint ___________________________________________________________-->
	<xs:complexType name="AddEndpointType">
		<xs:sequence>
			<xs:element name="Endpoint" type="nspc:EndpointType">
				<xs:annotation>
					<xs:documentation>
						Endpoint to be added
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AddEndpointResponseType">
		<xs:sequence>
			<xs:element name="Success" type="xs:boolean"/>
		</xs:sequence>
	</xs:complexType>
	<!-- DeleteEndpoint ________________________________________________________-->
	<xs:complexType name="DeleteEndpointType">
		<xs:sequence>
			<xs:element name="Endpoint" type="nspc:EndpointIdentifierType">
				<xs:annotation>
					<xs:documentation>
						Endpoint to be removed
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DeleteEndpointResponseType">
		<xs:sequence>
			<xs:element name="Success" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>
						Indicates if the request has been successful
						(True) or not (False)
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- EditEndpoint __________________________________________________________-->
	<xs:complexType name="EditEndpointType">
		<xs:sequence>
			<xs:element name="Endpoint" type="nspc:EndpointType">
				<xs:annotation>
					<xs:documentation>
						Endpoint to be modified
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EditEndpointResponseType">
		<xs:sequence>
			<xs:element name="Success" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>
						Indicates if the request has been successful
						(True) or not (False)
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--GetEndpoints ________________________________________________________________-->
	<xs:complexType name="GetEndpointsType">
		<xs:sequence>
			<xs:element name="Domain" type="xs:string">
				<xs:annotation>
					<xs:documentation>
						Contains the name of th edomain we want to query
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GetEndpointsResponseType">
		<xs:sequence>
			<xs:element name="Endpoints" type="nspc:EndpointType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						List of the names of all domains
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- AddLink ________________________________________________________________-->
	<xs:complexType name="AddLinkType">
		<xs:sequence>
			<xs:element name="LinkData" type="y:Link"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AddLinkResponseType">
		<xs:sequence>
			<xs:element name="Success" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>
						Unique identifier of the link. It is
						automatically generated by the NSP.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- DeleteLink _____________________________________________________________-->
	<xs:complexType name="DeleteLinkType">
		<xs:sequence>
			<xs:element name="LinkId" type="y:LinkIdentifierType">
				<xs:annotation>
					<xs:documentation>
						Identifier of the link we want to delete
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DeleteLinkResponseType">
		<xs:sequence>
			<xs:element name="Success" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>
						Indicates if the Delete Link request has been
						successful (True) or not (False)
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- EditLink _______________________________________________________________-->
	<xs:complexType name="EditLinkType">
		<xs:sequence>
			<xs:element name="Link" type="y:Link">
				<xs:annotation>
					<xs:documentation>
						Identifier of the link we want to modify
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EditLinkResponseType">
		<xs:sequence>
			<xs:element name="Result" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>
						Indicates if the Edit Link request has been
						successful (True) or not (False)
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- GetLinks _______________________________________________________________-->
	<xs:complexType name="GetLinksType">
		<xs:sequence>
			<xs:element name="DomainId" type="nspc:DomainIdentifierType">
				<xs:annotation>
					<xs:documentation>
						Contains the ID of the domain we want to query
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GetLinksResponseType">
		<xs:sequence>
			<xs:element name="Link" type="y:Link" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						List of the Links of this domain
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- Fault-Types ____________________________________________________________-->
	<xs:element name="DomainNotFoundFault">
		<xs:annotation>
			<xs:documentation>
				Returned in case that the domain already exists
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="y:TopologyFault"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="DomainAlreadyExistsFault">
		<xs:annotation>
			<xs:documentation>
				Returned in case that the domain already exists
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="y:TopologyFault"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="EndpointAlreadyExistsFault">
		<xs:annotation>
			<xs:documentation>
				Returned in case that the endpoint already exists
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="y:TopologyFault"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="LinkAlreadyExistsFault">
		<xs:annotation>
			<xs:documentation>
				Returned in case that the link already exists
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="y:TopologyFault"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="TopologyFault">
		<xs:complexContent>
			<xs:extension base="wsbf:BaseFaultType"/>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
