harmony.common.security/data/schemas/access_control-xacml-2.0-context-schema-os.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XMLSpy v2007 sp2 (http://www.altova.com)-->
<!--the entity declarations may be overridden in the internal subset-->
<!--namespace prefixes-->
<!ENTITY % xacml-context_prefix "xacml-context">
<!ENTITY % xacml_prefix "xacml">
<!--namespace prefix to namespace uri mappings-->
<!ENTITY % xacml-context_prefix.. "%xacml-context_prefix;:">
<!ENTITY % xacml_prefix.. "%xacml_prefix;:">
<!--namespaces attributes for root element-->
<!ENTITY % documentElementAttributes " xmlns:%xacml-context_prefix; CDATA 'urn:oasis:names:tc:xacml:2.0:context:schema:os' xmlns:%xacml_prefix; CDATA 'urn:oasis:names:tc:xacml:2.0:policy:schema:os'">
<!--the declarations below should not be modified-->
<!--element name mappings-->
<!ENTITY % xacml..PolicySet "%xacml_prefix..;PolicySet">
<!ENTITY % xacml..CombinerParameters "%xacml_prefix..;CombinerParameters">
<!ENTITY % xacml..CombinerParameter "%xacml_prefix..;CombinerParameter">
<!ENTITY % xacml..RuleCombinerParameters "%xacml_prefix..;RuleCombinerParameters">
<!ENTITY % xacml..PolicyCombinerParameters "%xacml_prefix..;PolicyCombinerParameters">
<!ENTITY % xacml..PolicySetCombinerParameters "%xacml_prefix..;PolicySetCombinerParameters">
<!ENTITY % xacml..PolicySetIdReference "%xacml_prefix..;PolicySetIdReference">
<!ENTITY % xacml..PolicyIdReference "%xacml_prefix..;PolicyIdReference">
<!ENTITY % xacml..PolicySetDefaults "%xacml_prefix..;PolicySetDefaults">
<!ENTITY % xacml..PolicyDefaults "%xacml_prefix..;PolicyDefaults">
<!ENTITY % xacml..XPathVersion "%xacml_prefix..;XPathVersion">
<!ENTITY % xacml..Policy "%xacml_prefix..;Policy">
<!ENTITY % xacml..Description "%xacml_prefix..;Description">
<!ENTITY % xacml..Rule "%xacml_prefix..;Rule">
<!ENTITY % xacml..Target "%xacml_prefix..;Target">
<!ENTITY % xacml..Subjects "%xacml_prefix..;Subjects">
<!ENTITY % xacml..Subject "%xacml_prefix..;Subject">
<!ENTITY % xacml..Resources "%xacml_prefix..;Resources">
<!ENTITY % xacml..Resource "%xacml_prefix..;Resource">
<!ENTITY % xacml..Actions "%xacml_prefix..;Actions">
<!ENTITY % xacml..Action "%xacml_prefix..;Action">
<!ENTITY % xacml..Environments "%xacml_prefix..;Environments">
<!ENTITY % xacml..Environment "%xacml_prefix..;Environment">
<!ENTITY % xacml..SubjectMatch "%xacml_prefix..;SubjectMatch">
<!ENTITY % xacml..ResourceMatch "%xacml_prefix..;ResourceMatch">
<!ENTITY % xacml..ActionMatch "%xacml_prefix..;ActionMatch">
<!ENTITY % xacml..EnvironmentMatch "%xacml_prefix..;EnvironmentMatch">
<!ENTITY % xacml..VariableDefinition "%xacml_prefix..;VariableDefinition">
<!ENTITY % xacml..Expression "%xacml_prefix..;Expression">
<!ENTITY % xacml..VariableReference "%xacml_prefix..;VariableReference">
<!ENTITY % xacml..AttributeSelector "%xacml_prefix..;AttributeSelector">
<!ENTITY % xacml..ResourceAttributeDesignator "%xacml_prefix..;ResourceAttributeDesignator">
<!ENTITY % xacml..ActionAttributeDesignator "%xacml_prefix..;ActionAttributeDesignator">
<!ENTITY % xacml..EnvironmentAttributeDesignator "%xacml_prefix..;EnvironmentAttributeDesignator">
<!ENTITY % xacml..SubjectAttributeDesignator "%xacml_prefix..;SubjectAttributeDesignator">
<!ENTITY % xacml..AttributeValue "%xacml_prefix..;AttributeValue">
<!ENTITY % xacml..Function "%xacml_prefix..;Function">
<!ENTITY % xacml..Condition "%xacml_prefix..;Condition">
<!ENTITY % xacml..Apply "%xacml_prefix..;Apply">
<!ENTITY % xacml..Obligations "%xacml_prefix..;Obligations">
<!ENTITY % xacml..Obligation "%xacml_prefix..;Obligation">
<!ENTITY % xacml..AttributeAssignment "%xacml_prefix..;AttributeAssignment">
<!ENTITY % xacml-context..Request "%xacml-context_prefix..;Request">
<!ENTITY % xacml-context..Response "%xacml-context_prefix..;Response">
<!ENTITY % xacml-context..Subject "%xacml-context_prefix..;Subject">
<!ENTITY % xacml-context..Resource "%xacml-context_prefix..;Resource">
<!ENTITY % xacml-context..ResourceContent "%xacml-context_prefix..;ResourceContent">
<!ENTITY % xacml-context..Action "%xacml-context_prefix..;Action">
<!ENTITY % xacml-context..Environment "%xacml-context_prefix..;Environment">
<!ENTITY % xacml-context..Attribute "%xacml-context_prefix..;Attribute">
<!ENTITY % xacml-context..AttributeValue "%xacml-context_prefix..;AttributeValue">
<!ENTITY % xacml-context..Result "%xacml-context_prefix..;Result">
<!ENTITY % xacml-context..Decision "%xacml-context_prefix..;Decision">
<!ENTITY % xacml-context..Status "%xacml-context_prefix..;Status">
<!ENTITY % xacml-context..StatusCode "%xacml-context_prefix..;StatusCode">
<!ENTITY % xacml-context..StatusMessage "%xacml-context_prefix..;StatusMessage">
<!ENTITY % xacml-context..StatusDetail "%xacml-context_prefix..;StatusDetail">
<!ENTITY % xacml-context..MissingAttributeDetail "%xacml-context_prefix..;MissingAttributeDetail">
<!--element and attribute declarations-->
<!ELEMENT %xacml..PolicySet; ((%xacml..Description;)?, (%xacml..PolicySetDefaults;)?, %xacml..Target;, (%xacml..PolicySet; | %xacml..Policy; | %xacml..PolicySetIdReference; | %xacml..PolicyIdReference; | %xacml..CombinerParameters; | %xacml..PolicyCombinerParameters; | %xacml..PolicySetCombinerParameters;)*, (%xacml..Obligations;)?)>
<!ATTLIST %xacml..PolicySet;
	PolicySetId CDATA #REQUIRED
	Version CDATA "1.0"
	PolicyCombiningAlgId CDATA #REQUIRED
	%documentElementAttributes; 
>
<!ELEMENT %xacml..CombinerParameters; ((%xacml..CombinerParameter;)*)>
<!ATTLIST %xacml..CombinerParameters;
	%documentElementAttributes; 
>
<!ELEMENT %xacml..CombinerParameter; (%xacml..AttributeValue;)>
<!ATTLIST %xacml..CombinerParameter;
	ParameterName CDATA #REQUIRED
	%documentElementAttributes; 
>
<!ELEMENT %xacml..RuleCombinerParameters; ((%xacml..CombinerParameter;)*)>
<!ATTLIST %xacml..RuleCombinerParameters;
	RuleIdRef CDATA #REQUIRED
	%documentElementAttributes; 
>
<!ELEMENT %xacml..PolicyCombinerParameters; ((%xacml..CombinerParameter;)*)>
<!ATTLIST %xacml..PolicyCombinerParameters;
	PolicyIdRef CDATA #REQUIRED
	%documentElementAttributes; 
>
<!ELEMENT %xacml..PolicySetCombinerParameters; ((%xacml..CombinerParameter;)*)>
<!ATTLIST %xacml..PolicySetCombinerParameters;
	PolicySetIdRef CDATA #REQUIRED
	%documentElementAttributes; 
>
<!ELEMENT %xacml..PolicySetIdReference; (#PCDATA)>
<!ATTLIST %xacml..PolicySetIdReference;
	Version CDATA #IMPLIED
	EarliestVersion CDATA #IMPLIED
	LatestVersion CDATA #IMPLIED
	%documentElementAttributes; 
>
<!ELEMENT %xacml..PolicyIdReference; (#PCDATA)>
<!ATTLIST %xacml..PolicyIdReference;
	Version CDATA #IMPLIED
	EarliestVersion CDATA #IMPLIED
	LatestVersion CDATA #IMPLIED
	%documentElementAttributes; 
>
<!ELEMENT %xacml..PolicySetDefaults; ((%xacml..XPathVersion;))>
<!ATTLIST %xacml..PolicySetDefaults;
	%documentElementAttributes; 
>
<!ELEMENT %xacml..PolicyDefaults; ((%xacml..XPathVersion;))>
<!ATTLIST %xacml..PolicyDefaults;
	%documentElementAttributes; 
>
<!ELEMENT %xacml..XPathVersion; (#PCDATA)>
<!ATTLIST %xacml..XPathVersion;
	%documentElementAttributes; 
>
<!ELEMENT %xacml..Policy; ((%xacml..Description;)?, (%xacml..PolicyDefaults;)?, (%xacml..CombinerParameters;)?, %xacml..Target;, ((%xacml..CombinerParameters;)? | (%xacml..RuleCombinerParameters;)? | %xacml..VariableDefinition; | %xacml..Rule;)+, (%xacml..Obligations;)?)>
<!ATTLIST %xacml..Policy;
	PolicyId CDATA #REQUIRED
	Version CDATA "1.0"
	RuleCombiningAlgId CDATA #REQUIRED
	%documentElementAttributes; 
>
<!ELEMENT %xacml..Description; (#PCDATA)>
<!ATTLIST %xacml..Description;
	%documentElementAttributes; 
>
<!ELEMENT %xacml..Rule; ((%xacml..Description;)?, (%xacml..Target;)?, (%xacml..Condition;)?)>
<!ATTLIST %xacml..Rule;
	RuleId CDATA #REQUIRED
	Effect (Permit | Deny) #REQUIRED
	%documentElementAttributes; 
>
<!ELEMENT %xacml..Target; ((%xacml..Subjects;)?, (%xacml..Resources;)?, (%xacml..Actions;)?, (%xacml..Environments;)?)>
<!ATTLIST %xacml..Target;
	%documentElementAttributes; 
>
<!ELEMENT %xacml..Subjects; ((%xacml..Subject;)+)>
<!ATTLIST %xacml..Subjects;
	%documentElementAttributes; 
>
<!ELEMENT %xacml..Subject; ((%xacml..SubjectMatch;)+)>
<!ATTLIST %xacml..Subject;
	%documentElementAttributes; 
>
<!ELEMENT %xacml..Resources; ((%xacml..Resource;)+)>
<!ATTLIST %xacml..Resources;
	%documentElementAttributes; 
>
<!ELEMENT %xacml..Resource; ((%xacml..ResourceMatch;)+)>
<!ATTLIST %xacml..Resource;
	%documentElementAttributes; 
>
<!ELEMENT %xacml..Actions; ((%xacml..Action;)+)>
<!ATTLIST %xacml..Actions;
	%documentElementAttributes; 
>
<!ELEMENT %xacml..Action; ((%xacml..ActionMatch;)+)>
<!ATTLIST %xacml..Action;
	%documentElementAttributes; 
>
<!ELEMENT %xacml..Environments; ((%xacml..Environment;)+)>
<!ATTLIST %xacml..Environments;
	%documentElementAttributes; 
>
<!ELEMENT %xacml..Environment; ((%xacml..EnvironmentMatch;)+)>
<!ATTLIST %xacml..Environment;
	%documentElementAttributes; 
>
<!ELEMENT %xacml..SubjectMatch; (%xacml..AttributeValue;, (%xacml..SubjectAttributeDesignator; | %xacml..AttributeSelector;))>
<!ATTLIST %xacml..SubjectMatch;
	MatchId CDATA #REQUIRED
	%documentElementAttributes; 
>
<!ELEMENT %xacml..ResourceMatch; (%xacml..AttributeValue;, (%xacml..ResourceAttributeDesignator; | %xacml..AttributeSelector;))>
<!ATTLIST %xacml..ResourceMatch;
	MatchId CDATA #REQUIRED
	%documentElementAttributes; 
>
<!ELEMENT %xacml..ActionMatch; (%xacml..AttributeValue;, (%xacml..ActionAttributeDesignator; | %xacml..AttributeSelector;))>
<!ATTLIST %xacml..ActionMatch;
	MatchId CDATA #REQUIRED
	%documentElementAttributes; 
>
<!ELEMENT %xacml..EnvironmentMatch; (%xacml..AttributeValue;, (%xacml..EnvironmentAttributeDesignator; | %xacml..AttributeSelector;))>
<!ATTLIST %xacml..EnvironmentMatch;
	MatchId CDATA #REQUIRED
	%documentElementAttributes; 
>
<!ELEMENT %xacml..VariableDefinition; ((%xacml..ActionAttributeDesignator; | %xacml..EnvironmentAttributeDesignator; | %xacml..ResourceAttributeDesignator; | %xacml..SubjectAttributeDesignator; | %xacml..VariableReference; | %xacml..Function; | %xacml..AttributeValue; | %xacml..Apply; | %xacml..AttributeSelector;))>
<!ATTLIST %xacml..VariableDefinition;
	VariableId CDATA #REQUIRED
	%documentElementAttributes; 
>
<!ELEMENT %xacml..Expression; EMPTY>
<!ATTLIST %xacml..Expression;
	%documentElementAttributes; 
>
<!ELEMENT %xacml..VariableReference; EMPTY>
<!ATTLIST %xacml..VariableReference;
	VariableId CDATA #REQUIRED
	%documentElementAttributes; 
>
<!ELEMENT %xacml..AttributeSelector; EMPTY>
<!ATTLIST %xacml..AttributeSelector;
	RequestContextPath CDATA #REQUIRED
	DataType CDATA #REQUIRED
	MustBePresent NMTOKEN "false"
	%documentElementAttributes; 
>
<!ELEMENT %xacml..ResourceAttributeDesignator; EMPTY>
<!ATTLIST %xacml..ResourceAttributeDesignator;
	AttributeId CDATA #REQUIRED
	DataType CDATA #REQUIRED
	Issuer CDATA #IMPLIED
	MustBePresent NMTOKEN "false"
	%documentElementAttributes; 
>
<!ELEMENT %xacml..ActionAttributeDesignator; EMPTY>
<!ATTLIST %xacml..ActionAttributeDesignator;
	AttributeId CDATA #REQUIRED
	DataType CDATA #REQUIRED
	Issuer CDATA #IMPLIED
	MustBePresent NMTOKEN "false"
	%documentElementAttributes; 
>
<!ELEMENT %xacml..EnvironmentAttributeDesignator; EMPTY>
<!ATTLIST %xacml..EnvironmentAttributeDesignator;
	AttributeId CDATA #REQUIRED
	DataType CDATA #REQUIRED
	Issuer CDATA #IMPLIED
	MustBePresent NMTOKEN "false"
	%documentElementAttributes; 
>
<!ELEMENT %xacml..SubjectAttributeDesignator; EMPTY>
<!ATTLIST %xacml..SubjectAttributeDesignator;
	AttributeId CDATA #REQUIRED
	DataType CDATA #REQUIRED
	Issuer CDATA #IMPLIED
	MustBePresent NMTOKEN "false"
	SubjectCategory CDATA "urn:oasis:names:tc:xacml:1.0:subject-category:access-subject"
	%documentElementAttributes; 
>
<!ELEMENT %xacml..AttributeValue; (#PCDATA)>
<!ATTLIST %xacml..AttributeValue;
	DataType CDATA #REQUIRED
	%documentElementAttributes; 
>
<!ELEMENT %xacml..Function; EMPTY>
<!ATTLIST %xacml..Function;
	FunctionId CDATA #REQUIRED
	%documentElementAttributes; 
>
<!ELEMENT %xacml..Condition; ((%xacml..ActionAttributeDesignator; | %xacml..EnvironmentAttributeDesignator; | %xacml..ResourceAttributeDesignator; | %xacml..SubjectAttributeDesignator; | %xacml..VariableReference; | %xacml..Function; | %xacml..AttributeValue; | %xacml..Apply; | %xacml..AttributeSelector;))>
<!ATTLIST %xacml..Condition;
	%documentElementAttributes; 
>
<!ELEMENT %xacml..Apply; ((%xacml..ActionAttributeDesignator; | %xacml..EnvironmentAttributeDesignator; | %xacml..ResourceAttributeDesignator; | %xacml..SubjectAttributeDesignator; | %xacml..VariableReference; | %xacml..Function; | %xacml..AttributeValue; | %xacml..Apply; | %xacml..AttributeSelector;)*)>
<!ATTLIST %xacml..Apply;
	FunctionId CDATA #REQUIRED
	%documentElementAttributes; 
>
<!ELEMENT %xacml..Obligations; ((%xacml..Obligation;)+)>
<!ATTLIST %xacml..Obligations;
	%documentElementAttributes; 
>
<!ELEMENT %xacml..Obligation; ((%xacml..AttributeAssignment;)*)>
<!ATTLIST %xacml..Obligation;
	ObligationId CDATA #REQUIRED
	FulfillOn (Permit | Deny) #REQUIRED
	%documentElementAttributes; 
>
<!ELEMENT %xacml..AttributeAssignment; (#PCDATA)>
<!ATTLIST %xacml..AttributeAssignment;
	DataType CDATA #REQUIRED
	AttributeId CDATA #REQUIRED
	%documentElementAttributes; 
>
<!ELEMENT %xacml-context..Request; ((%xacml-context..Subject;)+, (%xacml-context..Resource;)+, %xacml-context..Action;, %xacml-context..Environment;)>
<!ATTLIST %xacml-context..Request;
	%documentElementAttributes; 
>
<!ELEMENT %xacml-context..Response; ((%xacml-context..Result;)+)>
<!ATTLIST %xacml-context..Response;
	%documentElementAttributes; 
>
<!ELEMENT %xacml-context..Subject; ((%xacml-context..Attribute;)*)>
<!ATTLIST %xacml-context..Subject;
	SubjectCategory CDATA "urn:oasis:names:tc:xacml:1.0:subject-category:access-subject"
	%documentElementAttributes; 
>
<!ELEMENT %xacml-context..Resource; ((%xacml-context..ResourceContent;)?, (%xacml-context..Attribute;)*)>
<!ATTLIST %xacml-context..Resource;
	%documentElementAttributes; 
>
<!ELEMENT %xacml-context..ResourceContent; (#PCDATA)>
<!ATTLIST %xacml-context..ResourceContent;
	%documentElementAttributes; 
>
<!ELEMENT %xacml-context..Action; ((%xacml-context..Attribute;)*)>
<!ATTLIST %xacml-context..Action;
	%documentElementAttributes; 
>
<!ELEMENT %xacml-context..Environment; ((%xacml-context..Attribute;)*)>
<!ATTLIST %xacml-context..Environment;
	%documentElementAttributes; 
>
<!ELEMENT %xacml-context..Attribute; ((%xacml-context..AttributeValue;)+)>
<!ATTLIST %xacml-context..Attribute;
	AttributeId CDATA #REQUIRED
	DataType CDATA #REQUIRED
	Issuer CDATA #IMPLIED
	%documentElementAttributes; 
>
<!ELEMENT %xacml-context..AttributeValue; (#PCDATA)>
<!ATTLIST %xacml-context..AttributeValue;
	%documentElementAttributes; 
>
<!ELEMENT %xacml-context..Result; (%xacml-context..Decision;, (%xacml-context..Status;)?, (%xacml..Obligations;)?)>
<!ATTLIST %xacml-context..Result;
	ResourceId CDATA #IMPLIED
	%documentElementAttributes; 
>
<!ELEMENT %xacml-context..Decision; (#PCDATA)>
<!ATTLIST %xacml-context..Decision;
	%documentElementAttributes; 
>
<!ELEMENT %xacml-context..Status; (%xacml-context..StatusCode;, (%xacml-context..StatusMessage;)?, (%xacml-context..StatusDetail;)?)>
<!ATTLIST %xacml-context..Status;
	%documentElementAttributes; 
>
<!ELEMENT %xacml-context..StatusCode; ((%xacml-context..StatusCode;)?)>
<!ATTLIST %xacml-context..StatusCode;
	Value CDATA #REQUIRED
	%documentElementAttributes; 
>
<!ELEMENT %xacml-context..StatusMessage; (#PCDATA)>
<!ATTLIST %xacml-context..StatusMessage;
	%documentElementAttributes; 
>
<!ELEMENT %xacml-context..StatusDetail; (#PCDATA)>
<!ATTLIST %xacml-context..StatusDetail;
	%documentElementAttributes; 
>
<!ELEMENT %xacml-context..MissingAttributeDetail; ((%xacml-context..AttributeValue;)*)>
<!ATTLIST %xacml-context..MissingAttributeDetail;
	AttributeId CDATA #REQUIRED
	DataType CDATA #REQUIRED
	Issuer CDATA #IMPLIED
	%documentElementAttributes; 
>
