harmony.common.security/data/schemas/draft-gaaa-azticket-01.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--W3C Schema generated by XMLSpy v2006 sp2 U (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:AAA="http://www.aaauthreach.org/ns/#AAA" targetNamespace="http://www.aaauthreach.org/ns/#AAA" elementFormDefault="qualified">
	<xs:element name="AuthzTicket" type="AAA:AuthzTicketType"/>
	<xs:complexType name="AuthzTicketType">
		<xs:sequence>
			<xs:element name="Decisions" type="AAA:DecisionsType"/>
			<xs:element name="Conditions" type="AAA:ConditionsType"/>
			<xs:element name="Subject" type="AAA:SubjectType" minOccurs="0"/>
			<xs:element name="Resources" type="AAA:ResourcesType" minOccurs="0"/>
			<xs:element name="Actions" type="AAA:ActionsType" minOccurs="0"/>
			<xs:element name="Delegation" type="AAA:DelegationType" minOccurs="0"/>
			<xs:element name="Obligations" type="AAA:ObligationsType" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="Issuer" type="xs:anyURI" use="required"/>
		<xs:attribute name="TicketID" type="xs:hexBinary" use="required"/>
	</xs:complexType>
	<xs:complexType name="DecisionsType">
		<xs:sequence>
			<xs:element name="Decision" type="AAA:DecisionType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DecisionType" mixed="true">
		<xs:sequence>
			<xs:element name="Resources" type="AAA:ResourcesType" minOccurs="0"/>
			<xs:element name="Obligations" type="AAA:ObligationsType" minOccurs="0"/>
			<xs:element name="Conditions" type="AAA:ConditionsType" minOccurs="0"/>
			<xs:element name="Actions" type="AAA:ActionsType" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="Result" type="xs:anyURI" use="required"/>
		<xs:attribute name="ResourceID" type="xs:anyURI" use="optional"/>
	</xs:complexType>
	<xs:complexType name="ConditionsType">
		<xs:sequence>
			<xs:element name="ConditionAuthzSession" type="AAA:ConditionAuthzSessionType" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="NotBefore" type="xs:dateTime" use="required"/>
		<xs:attribute name="NotOnOrAfter" type="xs:dateTime" use="required"/>
		<xs:attribute name="renewal" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:complexType name="ConditionAuthzSessionType">
		<xs:sequence>
			<xs:element ref="AAA:SessionData" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="AAA:AuthzTicket" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="PolicyRef" type="xs:string" use="optional"/>
		<xs:attribute name="SessionID" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:element name="SessionData" type="xs:anyType"/>
	<xs:complexType name="SubjectType">
		<xs:sequence>
			<xs:element ref="AAA:SubjectID"/>
			<xs:element name="SubjectConfirmation" type="AAA:SubjectConfirmationType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="AAA:Role"/>
			<xs:element ref="AAA:SubjectContext" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="Id" type="xs:anyURI" use="optional"/>
	</xs:complexType>
	<xs:element name="SubjectID" type="xs:string"/>
	<xs:complexType name="SubjectConfirmationType">
		<xs:sequence>
			<xs:element ref="AAA:SubjectConfirmationData" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="Method" type="xs:anyURI" use="required"/>
	</xs:complexType>
	<xs:element name="SubjectConfirmationData" type="xs:anyType"/>
	<xs:element name="Role" type="xs:anyURI"/>
	<xs:element name="SubjectContext" type="xs:string"/>
	<xs:complexType name="ActionsType">
		<xs:sequence>
			<xs:element ref="AAA:Action" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Action" type="xs:anyURI"/>
	<xs:complexType name="ResourcesType">
		<xs:sequence>
			<xs:element ref="AAA:Resource" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="ResourceID" type="xs:anyURI" use="required"/>
		<xs:attribute name="Key" type="xs:hexadecimal" use="optional"/>
		<xs:attribute name="Port" type="xs:hexadecimal" use="optional"/>
	</xs:complexType>
	<xs:element name="Resource" type="xs:anyURI"/>
	<xs:complexType name="DelegationType">
		<xs:choice>
			<xs:element name="DelegationSubjects" type="AAA:DelegationSubjectsType"/>
			<xs:element name="DelegationCommunity" type="xs:string" maxOccurs="unbounded"/>
		</xs:choice>
		<xs:attribute name="MaxDelegationDepth" type="xs:decimal" use="required"/>
		<xs:attribute name="restriction" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="disallowed"/>
					<xs:enumeration value="subjects"/>
					<xs:enumeration value="community"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="DelegationSubjectsType">
		<xs:sequence>
			<xs:element ref="AAA:SubjectID" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Obligation" type="xs:anyType"/>
	<xs:complexType name="ObligationsType">
		<xs:sequence>
			<xs:element ref="AAA:Obligation" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
