harmony.common.security/data/wsdl/aaaserver-ws-rbe-00.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 4 U (http://www.xmlspy.com) by Yuri D. Demchenko (University of Amsterdam) -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:samlp="http://www.oasis-open.org/committees/security/docs/draft-sstc-schema-protocol-19.xsd" xmlns:ns="http://www.oasis-open.org/committees/security/docs/draft-sstc-schema-assertion-19.xsd" xmlns:ns1="http://www.w3.org/2000/09/xmldsig#" xmlns:xacml-context="urn:oasis:names:tc:xacml:1.0:context" xmlns:AAA="http://schemas.aaaarch.org/AAA" targetNamespace="http://schemas.aaaarch.org/AAA" name="GAAAServerWS">
	<types>
		<xs:schema>
			<xs:import namespace="http://www.oasis-open.org/committees/security/docs/draft-sstc-schema-protocol-19.xsd" schemaLocation="http://www.oasis-open.org/committees/security/docs/draft-sstc-schema-protocol-19.xsd"/>
		</xs:schema>
	</types>
	<message name="messageName"/>
	<message name="RequestRBEdecision">
		<part name="xacml:Request" type="xs:string"/>
	</message>
	<message name="ResponseRBEdecision">
		<part name="xacml:Response" type="xs:string"/>
	</message>
	<message name="FaultRBERequest"/>
	<message name="UploadPolicy">
		<part name="policyup"/>
		<part name="signaturesender"/>
	</message>
	<message name="RequestPolicy">
		<part name="policyQName"/>
		<part name="policyTarget"/>
	</message>
	<message name="PolicyNotFound"/>
	<message name="RequestRBEsamlMessage">
		<part ref="samlRequest" type="samlp:Request"/>
	</message>
	<xs:element: name="samlRequest" type="samlp:Request"/>
	<message name="ResponseRBEsamlMessage">
		<part name="samlResponse" type="xs:string"/>
	</message>
	<portType name="RBEdecisionPortType">
		<operation name="RequestRBEdecision">
			<input message="AAA:RequestRBEdecision"/>
			<output message="AAA:ResponseRBEdecision"/>
			<fault name="FaultName" message="AAA:FaultRBERequest"/>
			<fault name="FaultName1" message="AAA:PolicyNotFound"/>
		</operation>
	</portType>
	<portType name="PolicyAdminPortType">
		<operation name="PolicyAdmin">
			<input message="AAA:UploadPolicy"/>
			<output message="AAA:RequestPolicy"/>
		</operation>
	</portType>
	<portType name="SAMLRequestRBEPortType">
		<operation name="RequestRBEdecisionSAML">
			<input message="AAA:RequestRBEsamlMessage"/>
			<output message="AAA:ResponseRBEsamlMessage"/>
		</operation>
	</portType>
	<binding name="RBEdecisionBinding" type="AAA:RBEdecisionPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="RequestRBEdecision">
			<soap:operation style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="FaultName1"/>
			<fault name="FaultName"/>
		</operation>
	</binding>
	<binding name="AAAPolicyBinding" type="AAA:PolicyAdminPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="PolicyAdmin">
			<soap:operation soapAction="urn:#PolicyAdmin" style="document"/>
			<input>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:oasis:names:tc:xacml:1.0:context"/>
			</input>
			<output>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:oasis:names:tc:xacml:1.0:context"/>
			</output>
		</operation>
	</binding>
	<binding name="SAMLRequestSoapBinding" type="AAA:SAMLRequestRBEPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="RequestRBEdecisionSAML">
			<soap:operation soapAction="urn:#SAMLRequest"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="AAARBE">
		<port name="RBEdecisionPort" binding="AAA:RBEdecisionBinding">
			<soap:address location="http://aaaserver.aaaarch.org"/>
		</port>
	</service>
	<service name="AAAPolicy">
		<port name="PolicyPort" binding="AAA:AAAPolicyBinding">
			<soap:address location="No Target Adress"/>
		</port>
	</service>
	<service name="SAMLRequestService">
		<port name="SAMLRequestService" binding="AAA:SAMLRequestSoapBinding">
			<soap:address location="No Target Adress"/>
		</port>
	</service>
	<!-- ##### SAML Messages -->
	<!-- -->
	<!-- ##### SAML Request PortType -->
	<!-- -->
	<!-- ##### SAMLRequest SOAP binding -->
	<!-- -->
	<!-- ##### SAMLRequest Service -->
</definitions>
