harmony.common.security/data/wsdl/cnl-ws-tms-00.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 4 U (http://www.xmlspy.com) by Yuri D. Demchenko (University of Amsterdam) -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:cnl="http://cnl.telin.nl/cnl" targetNamespace="http://cnl.telin.nl/cnl">
	<types>
		<xs:schema/>
	</types>
	<message name="ControlExperimentRequest">
		<part name="JobID" type="xs:string"/>
		<part name="instruction" type="xs:string"/>
	</message>
	<message name="ViewExperimentRequest">
		<part name="JobID" type="xs:string"/>
		<part name="coordinateX" type="xs:string"/>
		<part name="coordinateY" type="xs:string"/>
		<part name="zoom" type="xs:int"/>
	</message>
	<message name="ViewExperimentResponse">
		<part name="viewURI" type="xs:anyURI"/>
	</message>
	<message name="ViewExperimentFault">
		<part name="status" type="xs:string"/>
	</message>
	<message name="ControlExperimentResponse">
		<part name="status" type="xs:string"/>
	</message>
	<message name="ControlExperimentFault">
		<part name="status" type="xs:string"/>
		<part name="message" type="xs:string"/>
	</message>
	<message name="ControlInstrumentRequest">
		<part name="instrumentID" type="xs:anyURI"/>
		<part name="instruction" type="xs:string"/>
	</message>
	<message name="ControlInstrumentResponse">
		<part name="status" type="xs:string"/>
	</message>
	<message name="ControlInstrumentFault">
		<part name="status" type="xs:string"/>
	</message>
	<message name="AdminsetJobIDattributes">
		<part name="JobID" type="xs:string"/>
		<part name="jobAttributes" type="xs:string"/>
	</message>
	<message name="AdminRBACResponse">
		<part name="status" type="xs:string"/>
	</message>
	<message name="AdminRBACFault">
		<part name="status" type="xs:string"/>
	</message>
	<portType name="ViewExperimentPort">
		<operation name="ViewExperimentOperation">
			<input message="cnl:ViewExperimentRequest"/>
			<output message="cnl:ViewExperimentResponse"/>
			<fault name="FaultName" message="cnl:ViewExperimentFault"/>
		</operation>
	</portType>
	<portType name="ControlExperimentPort">
		<operation name="ControlExperimentOperation">
			<input message="cnl:ControlExperimentRequest"/>
			<output message="cnl:ControlExperimentResponse"/>
			<fault name="FaultName" message="cnl:ControlExperimentFault"/>
		</operation>
	</portType>
	<portType name="ControlInstrumentPort">
		<operation name="ControlInstrumentOperation">
			<input message="cnl:ControlInstrumentRequest"/>
			<output message="cnl:ControlInstrumentResponse"/>
			<fault name="FaultName" message="cnl:ControlInstrumentFault"/>
		</operation>
	</portType>
	<portType name="AdminRBACPort">
		<operation name="AdminRBACOperation">
			<input message="cnl:AdminsetJobIDattributes"/>
			<output message="cnl:AdminRBACResponse"/>
			<fault name="FaultName" message="cnl:AdminRBACFault"/>
		</operation>
	</portType>
	<binding name="ViewExperimentPort" type="cnl:ViewExperimentPort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="ViewExperimentOperation">
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="FaultName"/>
		</operation>
	</binding>
	<binding name="ControlExperimentPort" type="cnl:ControlExperimentPort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="ControlExperimentOperation">
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="FaultName"/>
		</operation>
	</binding>
	<binding name="ControlInstrumentPort" type="cnl:ControlInstrumentPort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="ControlInstrumentOperation">
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="FaultName"/>
		</operation>
	</binding>
	<binding name="AdminRBACPort" type="cnl:AdminRBACPort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="AdminRBACOperation">
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="FaultName"/>
		</operation>
	</binding>
	<service name="ViewExperiment">
		<port name="ViewExperimentPort" binding="cnl:ViewExperimentPort">
			<soap:address location="http://tms.cnl.telin.nl"/>
		</port>
	</service>
	<service name="ControlExperiment">
		<port name="ControlExperimentPort" binding="cnl:ControlExperimentPort">
			<soap:address location="http://tms.cnl.telin.nl"/>
		</port>
	</service>
	<service name="ControlInstrument">
		<port name="ControlInstrumentPort" binding="cnl:ControlInstrumentPort">
			<soap:address location="http://tms.cnl.telin.nl"/>
		</port>
	</service>
	<service name="AdminRBAC">
		<port name="AdminRBACPort" binding="cnl:AdminRBACPort">
			<soap:address location="http://adminrbac.cnl.telin.nl"/>
		</port>
	</service>
</definitions>
