harmony.common.security/data/wsdl/cnl-ti-TecnaiDotNet.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="urn:TecnaiDotNetService" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="urn:TecnaiDotNetService" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="urn:TecnaiDotNetService">
      <s:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
    </s:schema>
  </types>
  <message name="GetMagnificationIn" />
  <message name="GetMagnificationOut">
    <part name="pM" type="s:double" />
  </message>
  <message name="SetMagnificationIndexIn">
    <part name="Index" type="s:int" />
  </message>
  <message name="SetMagnificationIndexOut" />
  <message name="GetMagnificationIndexIn" />
  <message name="GetMagnificationIndexOut">
    <part name="pIndex" type="s:int" />
  </message>
  <message name="SetSpotsizeIndexIn">
    <part name="Index" type="s:int" />
  </message>
  <message name="SetSpotsizeIndexOut" />
  <message name="GetSpotsizeIndexIn" />
  <message name="GetSpotsizeIndexOut">
    <part name="pIndex" type="s:int" />
  </message>
  <message name="SetImageBeamShiftIn">
    <part name="x" type="s:double" />
    <part name="y" type="s:double" />
  </message>
  <message name="SetImageBeamShiftOut" />
  <message name="GetImageBeamShiftIn" />
  <message name="GetImageBeamShiftOut">
    <part name="pX" type="s:double" />
    <part name="pY" type="s:double" />
  </message>
  <message name="SetIntensityIn">
    <part name="i" type="s:double" />
  </message>
  <message name="SetIntensityOut" />
  <message name="GetIntensityIn" />
  <message name="GetIntensityOut">
    <part name="pI" type="s:double" />
  </message>
  <message name="SetStagePosIn">
    <part name="x" type="s:double" />
    <part name="y" type="s:double" />
    <part name="z" type="s:double" />
    <part name="mask" type="s:short" />
  </message>
  <message name="SetStagePosOut" />
  <message name="GetStagePosIn" />
  <message name="GetStagePosOut">
    <part name="pX" type="s:double" />
    <part name="pY" type="s:double" />
    <part name="pZ" type="s:double" />
  </message>
  <message name="SetMainScreenIn">
    <part name="up" type="s:int" />
  </message>
  <message name="SetMainScreenOut" />
  <message name="GetMainScreenIn" />
  <message name="GetMainScreenOut">
    <part name="pUp" type="s:int" />
  </message>
  <message name="SetIntensityZoomIn">
    <part name="On" type="s:int" />
  </message>
  <message name="SetIntensityZoomOut" />
  <message name="GetIntensityZoomIn" />
  <message name="GetIntensityZoomOut">
    <part name="pOn" type="s:int" />
  </message>
  <message name="SetRotationCenterIn">
    <part name="x" type="s:double" />
    <part name="y" type="s:double" />
  </message>
  <message name="SetRotationCenterOut" />
  <message name="GetRotationCenterIn" />
  <message name="GetRotationCenterOut">
    <part name="pX" type="s:double" />
    <part name="pY" type="s:double" />
  </message>
  <message name="SetBeamBlankerIn">
    <part name="On" type="s:int" />
  </message>
  <message name="SetBeamBlankerOut" />
  <message name="GetBeamBlankerIn" />
  <message name="GetBeamBlankerOut">
    <part name="pOn" type="s:int" />
  </message>
  <message name="ResetDefocusIn" />
  <message name="ResetDefocusOut" />
  <message name="SetFocusIn">
    <part name="f" type="s:double" />
  </message>
  <message name="SetFocusOut" />
  <message name="GetFocusIn" />
  <message name="GetFocusOut">
    <part name="pF" type="s:double" />
  </message>
  <message name="GetStigmatorIn" />
  <message name="GetStigmatorOut">
    <part name="pX" type="s:double" />
    <part name="pY" type="s:double" />
  </message>
  <message name="SetStigmatorIn">
    <part name="x" type="s:double" />
    <part name="y" type="s:double" />
  </message>
  <message name="SetStigmatorOut" />
  <portType name="TecnaiDotNetServiceSoap">
    <operation name="GetMagnification">
      <input message="s0:GetMagnificationIn" />
      <output message="s0:GetMagnificationOut" />
    </operation>
    <operation name="SetMagnificationIndex">
      <input message="s0:SetMagnificationIndexIn" />
      <output message="s0:SetMagnificationIndexOut" />
    </operation>
    <operation name="GetMagnificationIndex">
      <input message="s0:GetMagnificationIndexIn" />
      <output message="s0:GetMagnificationIndexOut" />
    </operation>
    <operation name="SetSpotsizeIndex">
      <input message="s0:SetSpotsizeIndexIn" />
      <output message="s0:SetSpotsizeIndexOut" />
    </operation>
    <operation name="GetSpotsizeIndex">
      <input message="s0:GetSpotsizeIndexIn" />
      <output message="s0:GetSpotsizeIndexOut" />
    </operation>
    <operation name="SetImageBeamShift">
      <input message="s0:SetImageBeamShiftIn" />
      <output message="s0:SetImageBeamShiftOut" />
    </operation>
    <operation name="GetImageBeamShift">
      <input message="s0:GetImageBeamShiftIn" />
      <output message="s0:GetImageBeamShiftOut" />
    </operation>
    <operation name="SetIntensity">
      <input message="s0:SetIntensityIn" />
      <output message="s0:SetIntensityOut" />
    </operation>
    <operation name="GetIntensity">
      <input message="s0:GetIntensityIn" />
      <output message="s0:GetIntensityOut" />
    </operation>
    <operation name="SetStagePos">
      <input message="s0:SetStagePosIn" />
      <output message="s0:SetStagePosOut" />
    </operation>
    <operation name="GetStagePos">
      <input message="s0:GetStagePosIn" />
      <output message="s0:GetStagePosOut" />
    </operation>
    <operation name="SetMainScreen">
      <input message="s0:SetMainScreenIn" />
      <output message="s0:SetMainScreenOut" />
    </operation>
    <operation name="GetMainScreen">
      <input message="s0:GetMainScreenIn" />
      <output message="s0:GetMainScreenOut" />
    </operation>
    <operation name="SetIntensityZoom">
      <input message="s0:SetIntensityZoomIn" />
      <output message="s0:SetIntensityZoomOut" />
    </operation>
    <operation name="GetIntensityZoom">
      <input message="s0:GetIntensityZoomIn" />
      <output message="s0:GetIntensityZoomOut" />
    </operation>
    <operation name="SetRotationCenter">
      <input message="s0:SetRotationCenterIn" />
      <output message="s0:SetRotationCenterOut" />
    </operation>
    <operation name="GetRotationCenter">
      <input message="s0:GetRotationCenterIn" />
      <output message="s0:GetRotationCenterOut" />
    </operation>
    <operation name="SetBeamBlanker">
      <input message="s0:SetBeamBlankerIn" />
      <output message="s0:SetBeamBlankerOut" />
    </operation>
    <operation name="GetBeamBlanker">
      <input message="s0:GetBeamBlankerIn" />
      <output message="s0:GetBeamBlankerOut" />
    </operation>
    <operation name="ResetDefocus">
      <input message="s0:ResetDefocusIn" />
      <output message="s0:ResetDefocusOut" />
    </operation>
    <operation name="SetFocus">
      <input message="s0:SetFocusIn" />
      <output message="s0:SetFocusOut" />
    </operation>
    <operation name="GetFocus">
      <input message="s0:GetFocusIn" />
      <output message="s0:GetFocusOut" />
    </operation>
    <operation name="GetStigmator">
      <input message="s0:GetStigmatorIn" />
      <output message="s0:GetStigmatorOut" />
    </operation>
    <operation name="SetStigmator">
      <input message="s0:SetStigmatorIn" />
      <output message="s0:SetStigmatorOut" />
    </operation>
  </portType>
  <binding name="TecnaiDotNetServiceSoap" type="s0:TecnaiDotNetServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <operation name="GetMagnification">
      <soap:operation soapAction="#GetMagnification" style="rpc" />
      <input>
        <soap:body use="encoded" namespace="urn:TecnaiDotNetService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:TecnaiDotNetService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="SetMagnificationIndex">
      <soap:operation soapAction="#SetMagnificationIndex" style="rpc" />
      <input>
        <soap:body use="encoded" namespace="urn:TecnaiDotNetService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:TecnaiDotNetService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="GetMagnificationIndex">
      <soap:operation soapAction="#GetMagnificationIndex" style="rpc" />
      <input>
        <soap:body use="encoded" namespace="urn:TecnaiDotNetService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:TecnaiDotNetService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="SetSpotsizeIndex">
      <soap:operation soapAction="#SetSpotsizeIndex" style="rpc" />
      <input>
        <soap:body use="encoded" namespace="urn:TecnaiDotNetService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:TecnaiDotNetService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="GetSpotsizeIndex">
      <soap:operation soapAction="#GetSpotsizeIndex" style="rpc" />
      <input>
        <soap:body use="encoded" namespace="urn:TecnaiDotNetService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:TecnaiDotNetService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="SetImageBeamShift">
      <soap:operation soapAction="#SetImageBeamShift" style="rpc" />
      <input>
        <soap:body use="encoded" namespace="urn:TecnaiDotNetService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:TecnaiDotNetService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="GetImageBeamShift">
      <soap:operation soapAction="#GetImageBeamShift" style="rpc" />
      <input>
        <soap:body use="encoded" namespace="urn:TecnaiDotNetService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:TecnaiDotNetService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="SetIntensity">
      <soap:operation soapAction="#SetIntensity" style="rpc" />
      <input>
        <soap:body use="encoded" namespace="urn:TecnaiDotNetService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:TecnaiDotNetService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="GetIntensity">
      <soap:operation soapAction="#GetIntensity" style="rpc" />
      <input>
        <soap:body use="encoded" namespace="urn:TecnaiDotNetService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:TecnaiDotNetService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="SetStagePos">
      <soap:operation soapAction="#SetStagePos" style="rpc" />
      <input>
        <soap:body use="encoded" namespace="urn:TecnaiDotNetService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:TecnaiDotNetService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="GetStagePos">
      <soap:operation soapAction="#GetStagePos" style="rpc" />
      <input>
        <soap:body use="encoded" namespace="urn:TecnaiDotNetService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:TecnaiDotNetService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="SetMainScreen">
      <soap:operation soapAction="#SetMainScreen" style="rpc" />
      <input>
        <soap:body use="encoded" namespace="urn:TecnaiDotNetService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:TecnaiDotNetService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="GetMainScreen">
      <soap:operation soapAction="#GetMainScreen" style="rpc" />
      <input>
        <soap:body use="encoded" namespace="urn:TecnaiDotNetService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:TecnaiDotNetService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="SetIntensityZoom">
      <soap:operation soapAction="#SetIntensityZoom" style="rpc" />
      <input>
        <soap:body use="encoded" namespace="urn:TecnaiDotNetService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:TecnaiDotNetService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="GetIntensityZoom">
      <soap:operation soapAction="#GetIntensityZoom" style="rpc" />
      <input>
        <soap:body use="encoded" namespace="urn:TecnaiDotNetService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:TecnaiDotNetService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="SetRotationCenter">
      <soap:operation soapAction="#SetRotationCenter" style="rpc" />
      <input>
        <soap:body use="encoded" namespace="urn:TecnaiDotNetService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:TecnaiDotNetService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="GetRotationCenter">
      <soap:operation soapAction="#GetRotationCenter" style="rpc" />
      <input>
        <soap:body use="encoded" namespace="urn:TecnaiDotNetService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:TecnaiDotNetService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="SetBeamBlanker">
      <soap:operation soapAction="#SetBeamBlanker" style="rpc" />
      <input>
        <soap:body use="encoded" namespace="urn:TecnaiDotNetService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:TecnaiDotNetService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="GetBeamBlanker">
      <soap:operation soapAction="#GetBeamBlanker" style="rpc" />
      <input>
        <soap:body use="encoded" namespace="urn:TecnaiDotNetService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:TecnaiDotNetService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="ResetDefocus">
      <soap:operation soapAction="#ResetDefocus" style="rpc" />
      <input>
        <soap:body use="encoded" namespace="urn:TecnaiDotNetService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:TecnaiDotNetService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="SetFocus">
      <soap:operation soapAction="#SetFocus" style="rpc" />
      <input>
        <soap:body use="encoded" namespace="urn:TecnaiDotNetService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:TecnaiDotNetService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="GetFocus">
      <soap:operation soapAction="#GetFocus" style="rpc" />
      <input>
        <soap:body use="encoded" namespace="urn:TecnaiDotNetService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:TecnaiDotNetService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="GetStigmator">
      <soap:operation soapAction="#GetStigmator" style="rpc" />
      <input>
        <soap:body use="encoded" namespace="urn:TecnaiDotNetService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:TecnaiDotNetService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="SetStigmator">
      <soap:operation soapAction="#SetStigmator" style="rpc" />
      <input>
        <soap:body use="encoded" namespace="urn:TecnaiDotNetService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:TecnaiDotNetService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
  </binding>
  <service name="TecnaiDotNetService">
    <port name="TecnaiDotNetServiceSoap" binding="s0:TecnaiDotNetServiceSoap">
      <soap:address location="http://193.173.39.37:80/TecnaiDotNet/bin/TecnaiDotNet.dll?Handler=Default" />
    </port>
  </service>
</definitions>