harmony.common.security/data/wsdl/gwsdl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="OGSI"
             targetNamespace="http://www.gridforum.org/namespaces/2003/03/OGSI"
             xmlns:ogsi="http://www.gridforum.org/namespaces/2003/03/OGSI"
             xmlns:gwsdl="http://www.gridforum.org/namespaces/2003/03/gridWSDLExtensions"
             xmlns:sd="http://www.gridforum.org/namespaces/2003/03/serviceData"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns="http://schemas.xmlsoap.org/wsdl/">
             
<types>
  <schema targetNamespace="http://www.gridforum.org/namespaces/2003/03/OGSI"
          xmlns="http://www.w3.org/2001/XMLSchema"
          attributeFormDefault="qualified"
          elementFormDefault="qualified">
    <!-- Common Types --> 
    <simpleType name="ExtendedDateTimeType">
      <union memberTypes="ogsi:InfinityType xsd:dateTime"/>
    </simpleType>

    <simpleType name="InfinityType">
      <restriction base="string">
        <enumeration value="infinity"/>
      </restriction>
    </simpleType>

    <attribute name="goodFrom" type="ogsi:ExtendedDateTimeType"/>
    <attribute name="goodUntil" type="ogsi:ExtendedDateTimeType"/>
    <attribute name="availableUntil" 
        type="ogsi:ExtendedDateTimeType"/>

    <attributeGroup name="LifeTimePropertiesGroup">
      <attribute ref="ogsi:goodFrom" use="optional"/>
      <attribute ref="ogsi:goodUntil" use="optional"/>
      <attribute ref="ogsi:availableUntil" use="optional"/>
    </attributeGroup>

    <element name="reference" type="ogsi:ReferenceType"/>
    <complexType name="ReferenceType" abstract="true">
      <attribute ref="ogsi:goodFrom" use="optional"/>
      <attribute ref="ogsi:goodUntil" use="optional"/>
    </complexType> 

    <!-- The content of this type MUST be a wsdl:definitions element 
    with a single wsdl:service child element -->
    <complexType name="WSDLReferenceType">
      <complexContent>
        <extension base="ogsi:ReferenceType">
          <sequence>
            <any namespace="http://schemas.xmlsoap.org/wsdl/" 
                  minOccurs="1" maxOccurs="1" processContents="lax"/>
          </sequence>
        </extension>
      </complexContent>
    </complexType> 

    <element name="handle" type="ogsi:HandleType"/>
    <simpleType name="HandleType">
      <restriction base="anyURI"/>
    </simpleType>
   
    <element name="locator" type="ogsi:LocatorType"/>
    <complexType name="LocatorType">
      <sequence>
          <element ref="ogsi:handle" minOccurs="0" 
              maxOccurs="unbounded"/>
          <element ref="ogsi:reference" minOccurs="0" 
              maxOccurs="unbounded"/>
          <element name="interface" type="QName" minOccurs="0" 
              maxOccurs="unbounded"/>
      </sequence>
    </complexType> 


    <!-- Grid Service Types -->
    <complexType name="ExtensibilityType">
      <sequence>
        <any namespace="##any"/>
      </sequence>
    </complexType>
    
    <!-- Grid Service Service Data Types -->
    <complexType name="OperationExtensibilityType">
      <attribute name="inputElement" type="QName" use="optional"/>
    </complexType>

    <complexType name="TerminationTimeType">
      <attribute name="after" type="ogsi:ExtendedDateTimeType" 
            use="optional"/>
      <attribute name="before" type="ogsi:ExtendedDateTimeType" 
            use="optional"/>
      <attribute name="timestamp" type="dateTime" use="optional"/>
    </complexType> 

    <element name="queryByServiceDataNames" type="ogsi:QNamesType"/>

    <element name="deleteByServiceDataNames" type="ogsi:QNamesType"/>

    <element name="setByServiceDataNames" 
        type="ogsi:ExtensibilityType"/>

    <complexType name="QNamesType">
      <sequence>
        <element name="name" type="QName" minOccurs="0" 
              maxOccurs="unbounded"/>
      </sequence>
    </complexType>

    <!-- Grid Service Message Types -->
    <element name="findServiceData">
      <complexType>
        <sequence>
          <element name="queryExpression" 
                type="ogsi:ExtensibilityType"/> 
        </sequence>
      </complexType>
    </element>
    <element name="findServiceDataResponse">
      <complexType>
        <sequence>
          <element name="result" type="ogsi:ExtensibilityType"/>
        </sequence>
      </complexType>
    </element>
    <element name="setServiceData">
      <complexType>
        <sequence>
          <element name="updateExpression" 
                type="ogsi:ExtensibilityType"/>
        </sequence>
      </complexType>
    </element>
    <element name="setServiceDataResponse">
      <complexType>
        <sequence>
          <element name="result" type="ogsi:ExtensibilityType"/>
        </sequence>
      </complexType>
    </element>
    <element name="requestTerminationBefore">
      <complexType>
        <sequence> 
          <element name="terminationTime" 
                type="ogsi:ExtendedDateTimeType"/>
        </sequence> 
      </complexType>
    </element>
    <element name="requestTerminationBeforeResponse">
      <complexType>
        <sequence> 
          <element name="currentTerminationTime" 
                type="ogsi:TerminationTimeType"/>
        </sequence> 
      </complexType>
    </element>
    <element name="requestTerminationAfter">
      <complexType>
        <sequence> 
          <element name="terminationTime" 
                type="ogsi:ExtendedDateTimeType"/>
        </sequence> 
      </complexType>
    </element>
    <element name="requestTerminationAfterResponse">
      <complexType>
        <sequence> 
          <element name="currentTerminationTime" 
                type="ogsi:TerminationTimeType"/>
        </sequence> 
      </complexType>
    </element>
    <element name="destroy">
      <complexType/>
    </element>
    <element name="destroyResponse">
      <complexType/>
    </element>

    <!-- Grid Service Fault Types -->
    <element name="fault" type="ogsi:FaultType"/>
    <complexType name="FaultType">
      <sequence>
        <element name="description" 
                 type="string" 
                 minOccurs="0" 
                 maxOccurs="unbounded"/>
        <element name="originator" 
                 type="ogsi:LocatorType" 
                 minOccurs="1" 
                 maxOccurs="1"/>
        <element name="timestamp" 
                 type="dateTime" 
                 minOccurs="1" 
                 maxOccurs="1"/>
        <element name="faultcause" 
                 type="ogsi:FaultType" 
                 minOccurs="0" 
                 maxOccurs="unbounded"/> 
        <element name="faultcode" 
                 type="ogsi:FaultCodeType" 
                 minOccurs="0" 
                 maxOccurs="1"/>
        <element name="extension" 
                 type="ogsi:ExtensibilityType" 
                 minOccurs="0" 
                 maxOccurs="1"/>
      </sequence>
    </complexType>
    <complexType name="FaultCodeType">
      <simpleContent>
        <extension base="string">
          <attribute name="faultscheme" type="anyURI" use="required"/>
        </extension>
      </simpleContent>
    </complexType>      
    <element name="serviceNotDestroyedFault" 
        type="ogsi:ServiceNotDestroyedFaultType"/>
    <complexType name="ServiceNotDestroyedFaultType">
      <complexContent>
        <extension base="ogsi:FaultType"/>
      </complexContent>
    </complexType>
    <element name="extensibilityTypeFault" 
        type="ogsi:ExtensibilityTypeFaultType"/>
    <complexType name="ExtensibilityTypeFaultType">
      <complexContent>
        <extension base="ogsi:FaultType"/>
      </complexContent>
    </complexType>
    <element name="extensibilityNotSupportedFault" 
        type="ogsi:ExtensibilityNotSupportedFaultType"/>
    <complexType name="ExtensibilityNotSupportedFaultType">
      <complexContent>
        <extension base="ogsi:FaultType"/>
      </complexContent>
    </complexType>
    <element name="targetInvalidFault" 
        type="ogsi:TargetInvalidFaultType"/> 
    <complexType name="TargetInvalidFaultType">
      <complexContent>
        <extension base="ogsi:FaultType"/>
      </complexContent>
    </complexType> 
    <element name="cardinalityViolationFault" 
        type="ogsi:CardinalityViolationFaultType"/>
    <complexType name="CardinalityViolationFaultType">
      <complexContent>
        <extension base="ogsi:FaultType"/>
      </complexContent>
    </complexType> 
    <element name="mutabilityViolationFault" 
        type="ogsi:MutabilityViolationFaultType"/>      
    <complexType name="MutabilityViolationFaultType">
      <complexContent>
        <extension base="ogsi:FaultType"/>
      </complexContent>
    </complexType>
    <element name="modifiabilityViolationFault" 
        type="ogsi:ModifiabilityViolationFaultType"/>
    <complexType name="ModifiabilityViolationFaultType">
      <complexContent>
        <extension base="ogsi:FaultType"/>
      </complexContent>
    </complexType>
    <element name="typeViolationFault" 
        type="ogsi:TypeViolationFaultType"/>
    <complexType name="TypeViolationFaultType">
      <complexContent>
        <extension base="ogsi:FaultType"/>
      </complexContent>
    </complexType> 
    <element name="incorrectValueFault" 
        type="ogsi:IncorrectValueFaultType"/> 
    <complexType name="IncorrectValueFaultType">
      <complexContent>
        <extension base="ogsi:FaultType"/>
      </complexContent>
    </complexType> 
    <element name="partialFailureFault" 
        type="ogsi:PartialFailureFaultType"/> 
    <complexType name="PartialFailureFaultType">
      <complexContent>
        <extension base="ogsi:FaultType">
          <sequence>
            <element name="failedServiceData" type="ogsi:QNamesType"/>
          </sequence>
        </extension>
      </complexContent>
    </complexType> 
    <element name="terminationTimeUnchangedFault" 
        type="ogsi:TerminationTimeUnchangedFaultType"/> 
    <complexType name="TerminationTimeUnchangedFaultType">
      <complexContent>
        <extension base="ogsi:FaultType"/>
      </complexContent>
    </complexType>    

    <!-- Handle Resolver Message Types -->
    <element name="findByHandle">
      <complexType>
        <sequence>
          <element name="handleSet" type="ogsi:LocatorType"/>
          <element name="gsrExclusionSet" type="ogsi:LocatorType" 
              minOccurs="0" maxOccurs="1"/>
        </sequence>
      </complexType>
    </element>
    <element name="findByHandleResponse">
      <complexType>
        <sequence>
          <element ref="ogsi:locator"/>
        </sequence>
      </complexType>
    </element>

    <!-- Handle Resolver Fault Types -->
    <element name="invalidHandleFault" 
        type="ogsi:InvalidHandleFaultType"/>
    <complexType name="InvalidHandleFaultType">
      <complexContent>
        <extension base="ogsi:FaultType"/>
      </complexContent>
    </complexType> 
    <element name="noAdditionalReferencesAvailableFault" 
        type="ogsi:NoAdditionalReferencesAvailableFaultType"/>
    <complexType name="NoAdditionalReferencesAvailableFaultType">
      <complexContent>
        <extension base="ogsi:FaultType"/>
      </complexContent>
    </complexType> 
    <element name="noReferencesAvailableFault" 
        type="ogsi:NoReferencesAvailableFaultType"/>
    <complexType name="NoReferencesAvailableFaultType">
      <complexContent>
        <extension base="ogsi:FaultType"/>
      </complexContent>
    </complexType> 
    <element name="redirectionFault" 
        type="ogsi:RedirectionFaultType"/>
    <complexType name="RedirectionFaultType">
      <complexContent>
        <extension base="ogsi:FaultType">
          <sequence>
            <element ref="ogsi:locator"/>
          </sequence>
        </extension>
      </complexContent>
    </complexType> 
    <element name="noSuchServiceFault" 
        type="ogsi:NoSuchServiceFaultType"/>
    <complexType name="NoSuchServiceFaultType">
      <complexContent>
        <extension base="ogsi:NoReferencesAvailableFaultType"/>
      </complexContent>
    </complexType> 
    <element name="noSuchServiceStartedFault" 
        type="ogsi:NoSuchServiceStartedFaultType"/>
    <complexType name="NoSuchServiceStartedFaultType">
      <complexContent>
        <extension base="ogsi:NoReferencesAvailableFaultType"/>
      </complexContent>
    </complexType> 
    <element name="serviceHasTerminatedFault" 
        type="ogsi:ServiceHasTerminatedFaultType"/>
    <complexType name="ServiceHasTerminatedFaultType">
      <complexContent>
        <extension base="ogsi:NoReferencesAvailableFaultType"/>
      </complexContent>
    </complexType> 
    <element name="temporarilyUnavailableFault" 
        type="ogsi:TemporarilyUnavailableFaultType"/>
    <complexType name="TemporarilyUnavailableFaultType">
      <complexContent>
        <extension base="ogsi:NoReferencesAvailableFaultType">
          <sequence>
            <element name="available" type="dateTime"/>
          </sequence>
        </extension>
      </complexContent>
    </complexType> 

    <!-- Notification Source Service Data Types -->
    <element name="subscribeByServiceDataNames" 
        type="ogsi:SubscribeByNameType"/>
    <complexType name="SubscribeByNameType">
      <complexContent>
        <extension base="ogsi:QNamesType">
          <attribute name="minInterval" type="duration" 
              use="optional"/>
          <attribute name="maxInterval" type="ogsi:MaxIntervalType"/>
        </extension>
      </complexContent>
    </complexType>

    <simpleType name="MaxIntervalType">
      <union memberTypes="ogsi:InfinityType xsd:duration"/>
    </simpleType>

    <!-- Notification Source Message Types -->
    <element name="subscribe">
      <complexType> 
        <sequence>
          <element name="subscriptionExpression" 
              type="ogsi:ExtensibilityType"/>
          <element name="sink" type="ogsi:LocatorType"/>
          <element name="expirationTime" 
              type="ogsi:ExtendedDateTimeType"/>
        </sequence>
      </complexType>
    </element>
    <element name="subscribeResponse">  
      <complexType>
        <sequence>
          <element name="subscriptionInstanceLocator" 
              type="ogsi:LocatorType"/>
          <element name="currentTerminationTime" 
              type="ogsi:TerminationTimeType"/>
        </sequence>
      </complexType>
    </element>

    <!-- Notification Sink Message Types -->
    <element name="deliverNotification">
      <complexType>
        <sequence>
          <element name="message" type="ogsi:ExtensibilityType"/>
        </sequence>
      </complexType>
    </element>

    <!-- Factory Service Data Types -->
    <complexType name="CreateServiceExtensibilityType">
      <complexContent>
        <extension base="ogsi:OperationExtensibilityType">
          <sequence>
            <element name="createsInterface" type="QName" 
                minOccurs="1" maxOccurs="unbounded"/>
          </sequence>
        </extension>
      </complexContent>
    </complexType>

    <!-- Factory Message Types -->
    <element name="createService">
      <complexType>
        <sequence>
          <element name="terminationTime" 
              type="ogsi:TerminationTimeType" minOccurs="0" 
              maxOccurs="1"/>
          <element name="creationParameters" 
              type="ogsi:ExtensibilityType" minOccurs="0" 
              maxOccurs="1"/>
        </sequence>
      </complexType>
    </element>
    <element name="createServiceResponse">
      <complexType>
        <sequence>
          <element name="locator" type="ogsi:LocatorType"/>
          <element name="currentTerminationTime" 
              type="ogsi:TerminationTimeType"/>
          <element name="extensibilityOutput" 
              type="ogsi:ExtensibilityType" minOccurs="0" 
              maxOccurs="1"/>
        </sequence>
      </complexType>
    </element>

    <!-- Factory Fault Types -->
    <element name="serviceAlreadyExistsFault" 
        type="ogsi:ServiceAlreadyExistsFaultType"/>
    <complexType name="ServiceAlreadyExistsFaultType">
      <complexContent>
        <extension base="ogsi:FaultType">
          <sequence>
            <element name="existingService" type="ogsi:LocatorType"/>
          </sequence>
        </extension>
      </complexContent>
    </complexType>

    <!-- Service Group Service Data Types -->
    <complexType name="MembershipContentRuleType">
      <sequence>
        <element name="memberInterface"
                 type="QName"
                 minOccurs="1"
                 maxOccurs="1"/>
        <element name="content"
                 type="QName"
                 minOccurs="0"
                 maxOccurs="unbounded"/>
      </sequence>
    </complexType>
    <complexType name="EntryContentType">
      <sequence>
        <any namespace="##any" minOccurs="0" maxOccurs="unbounded"/>
      </sequence>     
    </complexType>
        
    <complexType name="EntryType">
      <sequence>
        <element name="serviceGroupEntryLocator"
                 type="ogsi:LocatorType" 
                 minOccurs="1" 
                 maxOccurs="1"
                 nillable="true"/>      
        <element name="memberServiceLocator"
                 type="ogsi:LocatorType" 
                 minOccurs="1" 
                 maxOccurs="1"/> 
        <element name="content" 
            type="ogsi:EntryContentType" 
                 minOccurs="1" 
                 maxOccurs="1"/> 
      </sequence>     
    </complexType>


    <!-- Service Group Registration Service Data Types -->
    <element name="matchByLocatorEquivalence" 
        type="ogsi:MatchByLocatorEquivalenceType"/>
    <complexType name="MatchByLocatorEquivalenceType">
      <sequence>
        <element name="locator" type="ogsi:LocatorType" minOccurs="0"
            maxOccurs="unbounded"/>
      </sequence>
    </complexType>

    <!-- Service Group Registration Message Types -->
    <element name="add">
      <complexType>
        <sequence>
          <element name="serviceLocator" type="ogsi:LocatorType"/>
          <element name="content" type="ogsi:ExtensibilityType"/>
          <element name="terminationTime" 
              type="ogsi:TerminationTimeType" minOccurs="0" 
              maxOccurs="1"/>
        </sequence> 
      </complexType>
    </element>
    <element name="addResponse">
      <complexType>
        <sequence>
          <element name="serviceLocator" type="ogsi:LocatorType"/>
          <element name="currentTerminationTime" 
              type="ogsi:TerminationTimeType"/>
        </sequence>
      </complexType>
    </element>
    <element name="remove">
      <complexType>
        <sequence>
          <element name="matchExpression" 
              type="ogsi:ExtensibilityType"/>
        </sequence>
      </complexType>
    </element>
    <element name="removeResponse">
      <complexType/>
    </element>

    <!-- Service Group Registration Fault Types -->
    <element name="contentCreationFailedFault" 
        type="ogsi:ContentCreationFailedFaultType"/>  
    <complexType name="ContentCreationFailedFaultType">
      <complexContent>
        <extension base="ogsi:FaultType"/>
      </complexContent>
    </complexType>
    <element name="unsupportedMemberInterfaceFault" 
        type="ogsi:UnsupportedMemberInterfaceFaultType"/>  
    <complexType name="UnsupportedMemberInterfaceFaultType">
      <complexContent>
        <extension base="ogsi:FaultType"/>
      </complexContent>
    </complexType>
    <element name="addRefusedFault" type="ogsi:AddRefusedFaultType"/>  
    <complexType name="AddRefusedFaultType">
      <complexContent>
        <extension base="ogsi:FaultType"/>
      </complexContent>
    </complexType>
    <element name="matchFailedFault" 
        type="ogsi:MatchFailedFaultType"/>  
    <complexType name="MatchFailedFaultType">
      <complexContent>
        <extension base="ogsi:FaultType"/>
      </complexContent>
    </complexType>
    <element name="removeFailedFault" 
        type="ogsi:RemoveFailedFaultType"/>  
    <complexType name="RemoveFailedFaultType">
      <complexContent>
        <extension base="ogsi:FaultType"/>
      </complexContent>
    </complexType>
  </schema>
</types>

<!-- Grid Service Messages -->
<message name="FindServiceDataInputMessage">
  <part name="parameters" element="ogsi:findServiceData"/>
</message>
<message name="FindServiceDataOutputMessage">
  <part name="parameters" element="ogsi:findServiceDataResponse"/>
</message>
<message name="SetServiceDataInputMessage">
  <part name="parameters" element="ogsi:setServiceData"/>
</message>
<message name="SetServiceDataOutputMessage">
  <part name="parameters" element="ogsi:setServiceDataResponse"/>
</message>
<message name="RequestTerminationBeforeInputMessage">
  <part name="parameters" element="ogsi:requestTerminationBefore"/>
</message>
<message name="RequestTerminationBeforeOutputMessage">
  <part name="parameters" 
      element="ogsi:requestTerminationBeforeResponse"/>
</message>
<message name="RequestTerminationAfterInputMessage">
  <part name="parameters" element="ogsi:requestTerminationAfter"/>
</message>
<message name="RequestTerminationAfterOutputMessage">
  <part name="parameters" 
      element="ogsi:requestTerminationAfterResponse"/>
</message>
<message name="DestroyInputMessage">
  <part name="parameters" element="ogsi:destroy"/>
</message>
<message name="DestroyOutputMessage">
  <part name="parameters" element="ogsi:destroyResponse"/>
</message>

<!-- Grid Service Fault Messages -->
<message name="FaultMessage">
  <part name="fault" element="ogsi:fault"/>
</message>
<message name="ServiceNotDestroyedFaultMessage">
  <part name="fault" element="ogsi:serviceNotDestroyedFault"/>
</message>
<message name="ExtensibilityTypeFaultMessage">
  <part name="fault" element="ogsi:extensibilityTypeFault"/>
</message>
<message name="ExtensibilityNotSupportedFaultMessage">
  <part name="fault" element="ogsi:extensibilityNotSupportedFault"/>
</message>
<message name="TargetInvalidFaultMessage">
  <part name="fault" element="ogsi:targetInvalidFault"/>
</message>
<message name="CardinalityViolationFaultMessage">
  <part name="fault" element="ogsi:cardinalityViolationFault"/>
</message>
<message name="MutabilityViolationFaultMessage">
  <part name="fault" element="ogsi:mutabilityViolationFault"/>
</message>
<message name="ModifiabilityViolationFaultMessage">
  <part name="fault" element="ogsi:modifiabilityViolationFault"/>
</message>
<message name="TypeViolationFaultMessage">
  <part name="fault" element="ogsi:typeViolationFault"/>
</message>
<message name="IncorrectValueFaultMessage">
  <part name="fault" element="ogsi:incorrectValueFault"/>
</message>
<message name="PartialFailureFaultMessage">
  <part name="fault" element="ogsi:partialFailureFault"/>
</message>
<message name="TerminationTimeUnchangedFaultMessage">
  <part name="fault" element="ogsi:terminationTimeUnchangedFault"/>
</message>

<!-- HandleResolver Messages -->
<message name="FindByHandleInputMessage">
  <part name="parameters" element="ogsi:findByHandle"/>
</message>
<message name="FindByHandleOutputMessage">
  <part name="parameters" element="ogsi:findByHandleResponse"/>
</message>

<!-- HandleResolver Fault Messages -->
<message name="InvalidHandleFaultMessage">
  <part name="fault" element="ogsi:invalidHandleFault"/>
</message> 
<message name="NoAdditionalReferencesAvailableFaultMessage">
  <part name="fault" 
      element="ogsi:noAdditionalReferencesAvailableFault"/>
</message> 
<message name="NoReferencesAvailableFaultMessage">
  <part name="fault" element="ogsi:noReferencesAvailableFault"/>
</message> 
<message name="RedirectionFaultMessage">
  <part name="fault" element="ogsi:redirectionFault"/>
</message> 
<message name="NoSuchServiceFaultMessage">
  <part name="fault" element="ogsi:noSuchServiceFault"/>
</message> 
<message name="NoSuchServiceStartedFaultMessage">
  <part name="fault" element="ogsi:noSuchServiceStartedFault"/>
</message> 
<message name="ServiceHasTerminatedFaultMessage">
  <part name="fault" element="ogsi:serviceHasTerminatedFault"/>
</message> 
<message name="TemporarilyUnavailableFaultMessage">
  <part name="fault" element="ogsi:temporarilyUnavailableFault"/>
</message> 

<!-- Factory Messages -->
<message name="CreateServiceInputMessage">
  <part name="parameters" element="ogsi:createService"/>
</message>
<message name="CreateServiceOutputMessage">
  <part name="parameters" element="ogsi:createServiceResponse"/>
</message>

<!-- Factory Fault Messages -->
<message name="ServiceAlreadyExistsFaultMessage">
  <part name="fault" element="ogsi:serviceAlreadyExistsFault"/>
</message>

<!-- NotificaitonSource Messages -->
<message name="SubscribeInputMessage">
  <part name="parameters" element="ogsi:subscribe"/>
</message>
<message name="SubscribeOutputMessage">
  <part name="parameters" element="ogsi:subscribeResponse"/>
</message>

<!-- NotificationSink Messages -->
<message name="DeliverNotificationInputMessage">
  <part name="parameters" element="ogsi:deliverNotification"/>
</message>

<!-- ServiceGroupRegistration Messages -->
<message name="AddInputMessage">
  <part name="parameters" element="ogsi:add"/>
</message>
<message name="AddOutputMessage">
  <part name="parameters" element="ogsi:addResponse"/>
</message>
<message name="removeInputMessage">
  <part name="parameters" element="ogsi:remove"/>
</message>
<message name="removeOutputMessage">
  <part name="parameters" element="ogsi:removeResponse"/>
</message>

<!-- ServiceGroupRegistration Fault Messages -->
<message name="ContentCreationFailedFaultMessage">
  <part name="faults" element="ogsi:contentCreationFailedFault"/>
</message>
<message name="UnsupportedMemberInterfaceFaultMessage">
  <part name="faults" element="ogsi:unsupportedMemberInterfaceFault"/>
</message>
<message name="AddRefusedFaultMessage">
  <part name="faults" element="ogsi:addRefusedFault"/>
</message>
<message name="MatchFailedFaultMessage">
  <part name="faults" element="ogsi:matchFailedFault"/>
</message>
<message name="RemoveFailedFaultMessage">
  <part name="faults" element="ogsi:removeFailedFault"/>
</message>

<!-- Grid Service Port Type -->
<gwsdl:portType name="GridService">
  <operation name="findServiceData">
    <input message="ogsi:FindServiceDataInputMessage"/>
    <output message="ogsi:FindServiceDataOutputMessage"/>
    <fault name="ExtensibilityNotSupportedFault" 
        message="ogsi:ExtensibilityNotSupportedFaultMessage"/>
    <fault name="ExtensibilityTypeFault" 
        message="ogsi:ExtensibilityTypeFaultMessage"/>
    <fault name="TargetInvalidFault" 
        message="ogsi:TargetInvalidFaultMessage"/>
    <fault name="Fault" message="ogsi:FaultMessage"/>
  </operation>
  <operation name="setServiceData">
    <input message="ogsi:SetServiceDataInputMessage"/>
    <output message="ogsi:SetServiceDataOutputMessage"/>
    <fault name="ExtensibilityNotSupportedFault" 
        message="ogsi:ExtensibilityNotSupportedFaultMessage"/> 
    <fault name="ExtensibilityTypeFault" 
        message="ogsi:ExtensibilityTypeFaultMessage"/> 
    <fault name="CadinalityViolationFault" 
        message="ogsi:CardinalityViolationFaultMessage"/>  
    <fault name="MutabilityViolationFault" 
        message="ogsi:MutabilityViolationFaultMessage"/>
    <fault name="ModifabilityViolationFault" 
        message="ogsi:ModifiabilityViolationFaultMessage"/>
    <fault name="TypeViolationFault" 
        message="ogsi:TypeViolationFaultMessage"/>
    <fault name="IncorrectValueFault" 
        message="ogsi:IncorrectValueFaultMessage"/>
    <fault name="PartialFailureFault" 
        message="ogsi:PartialFailureFaultMessage"/>
    <fault name="Fault" message="ogsi:FaultMessage"/>
  </operation>
  <operation name="requestTerminationAfter">
    <input message="ogsi:RequestTerminationAfterInputMessage"/>
    <output message="ogsi:RequestTerminationAfterOutputMessage"/>
    <fault name="TerminationTimeUnchangedFault" 
        message="ogsi:TerminationTimeUnchangedFaultMessage"/>    
    <fault name="Fault" message="ogsi:FaultMessage"/>
  </operation>
  <operation name="requestTerminationBefore">
    <input message="ogsi:RequestTerminationBeforeInputMessage"/>
    <output message="ogsi:RequestTerminationBeforeOutputMessage"/>
    <fault name="TerminationTimeUnchangedFault" 
        message="ogsi:TerminationTimeUnchangedFaultMessage"/> 
    <fault name="Fault" message="ogsi:FaultMessage"/>
  </operation>
  <operation name="destroy">
    <input message="ogsi:DestroyInputMessage"/>
    <output message="ogsi:DestroyOutputMessage"/>
    <fault name="ServiceNotDestroyedFault" 
        message="ogsi:ServiceNotDestroyedFaultMessage"/>      
    <fault name="Fault" message="ogsi:FaultMessage"/>
  </operation>
  <sd:serviceData name="interface"
                  type="xsd:QName"
                  minOccurs="1"
                  maxOccurs="unbounded"
                  mutability="constant"
                  modifiable="false"
                  nillable="false"/>
  <sd:serviceData name="serviceDataName"
                  type="xsd:QName"
                  minOccurs="0"
                  maxOccurs="unbounded"
                  mutability="mutable"
                  modifiable="false"
                  nillable="false"/>
  <sd:serviceData name="factoryLocator"
                  type="ogsi:LocatorType"
                  minOccurs="1"
                  maxOccurs="1"
                  mutability="mutable"
                  modifiable="false"
                  nillable="true"/>
  <sd:serviceData name="gridServiceHandle"
                  type="ogsi:HandleType"
                  minOccurs="0"
                  maxOccurs="unbounded"
                  mutability="extendable"
                  modifiable="false"
                  nillable="false"/>
  <sd:serviceData name="gridServiceReference"
                  type="ogsi:ReferenceType"
                  minOccurs="1"
                  maxOccurs="unbounded"
                  mutability="mutable"
                  modifiable="false"
                  nillable="false"/>
  <sd:serviceData name="findServiceDataExtensibility"
                  type="ogsi:OperationExtensibilityType"
                  minOccurs="1"
                  maxOccurs="unbounded"
                  mutability="static"
                  modifiable="false"
                  nillable="false"/>
  <sd:serviceData name="setServiceDataExtensibility"
                  type="ogsi:OperationExtensibilityType"
                  minOccurs="1"
                  maxOccurs="unbounded"
                  mutability="static"
                  modifiable="false"
                  nillable="false"/>
  <sd:serviceData name="terminationTime"
                  type="ogsi:TerminationTimeType"
                  minOccurs="1"
                  maxOccurs="1"
                  mutability="mutable"
                  modifiable="false"
                  nillable="false"/>
  <sd:staticServiceDataValues>
    <ogsi:findServiceDataExtensibility 
        inputElement="ogsi:queryByServiceDataNames"/>
    <ogsi:setServiceDataExtensibility 
        inputElement="ogsi:setByServiceDataNames"/>
    <ogsi:setServiceDataExtensibility 
        inputElement="ogsi:deleteByServiceDataNames"/>
  </sd:staticServiceDataValues>
</gwsdl:portType>


<!-- HandleResolver Port Type -->
<gwsdl:portType name="HandleResolver" extends="ogsi:GridService">
  <operation name="findByHandle">
    <input message="ogsi:FindByHandleInputMessage"/>
    <output message="ogsi:FindByHandleOutputMessage"/>
    <fault name="InvalidHandleFault" 
        message="ogsi:InvalidHandleFaultMessage"/>
    <fault name="NoAdditionalReferencesAvailableFault" 
        message="ogsi:NoAdditionalReferencesAvailableFaultMessage"/>
    <fault name="NoReferencesAvailableFault" 
        message="ogsi:NoReferencesAvailableFaultMessage"/>
    <fault name="NoSuchServiceFault" 
        message="ogsi:NoSuchServiceFaultMessage"/>
    <fault name="NoSuchServiceStartedFault" 
        message="ogsi:NoSuchServiceStartedFaultMessage"/>
    <fault name="ServiceHasTerminatedFault" 
        message="ogsi:ServiceHasTerminatedFaultMessage"/>
    <fault name="TemporarilyUnavailableFault" 
        message="ogsi:TemporarilyUnavailableFaultMessage"/>
    <fault name="RedirectionFault" 
        message="ogsi:RedirectionFaultMessage"/>
    <fault name="Fault" message="ogsi:FaultMessage"/>
  </operation>
  <sd:serviceData name="handleResolverScheme"
                  type="xsd:anyURI"
                  minOccurs="1"
                  maxOccurs="unbounded"
                  mutability="mutable"
                  modifiable="false"
                  nillable="true"/>
</gwsdl:portType>

<!-- Factory PortType -->
<gwsdl:portType name="Factory" extends="ogsi:GridService">
  <operation name="createService">
    <input message="ogsi:CreateServiceInputMessage"/>
    <output message="ogsi:CreateServiceOutputMessage"/>
    <fault name="ExtensibilityNotSupportedFault" 
        message="ogsi:ExtensibilityNotSupportedFaultMessage"/>
    <fault name="ExtensibilityTypeFault" 
        message="ogsi:ExtensibilityTypeFaultMessage"/>
    <fault name="ServiceAlreadyExistsFault" 
        message="ogsi:ServiceAlreadyExistsFaultMessage"/>
    <fault name="Fault" message="ogsi:FaultMessage"/>
  </operation>
  <sd:serviceData name="createServiceExtensibility"
                  type="ogsi:CreateServiceExtensibilityType"
                  minOccurs="1"
                  maxOccurs="unbounded"
                  mutability="static"
                  modifiable="false"
                  nillable="false"/>
</gwsdl:portType>

<!-- NotificationSource PortType -->
<gwsdl:portType name="NotificationSource" extends="ogsi:GridService">
  <operation name="subscribe">
    <input message="ogsi:SubscribeInputMessage"/>
    <output message="ogsi:SubscribeOutputMessage"/>
    <fault name="ExtensibilityNotSupportedFault" 
        message="ogsi:ExtensibilityNotSupportedFaultMessage"/>
    <fault name="ExtensibilityTypeFault" 
        message="ogsi:ExtensibilityTypeFaultMessage"/>
    <fault name="TargetInvalidFault" 
        message="ogsi:TargetInvalidFaultMessage"/>
    <fault name="Fault" message="ogsi:FaultMessage"/>
  </operation>  
  <sd:serviceData name="notifiableServiceDataName"
                  type="xsd:QName"
                  minOccurs="0"
                  maxOccurs="unbounded"
                  mutability="mutable"
                  modifiable="false"
                  nillable="false"/>
  <sd:serviceData name="subscribeExtensibility"
                  type="ogsi:OperationExtensibilityType"
                  minOccurs="1"
                  maxOccurs="unbounded"
                  mutability="static"
                  modifiability="false"
                  nillable="false"/>
  <sd:staticServiceDataValues>
    <ogsi:subscribeExtensibility 
        inputElement="ogsi:subscribeByServiceDataNames"/>
  </sd:staticServiceDataValues>
</gwsdl:portType>

<!-- Notification Sink PortType -->
<gwsdl:portType name="NotificationSink">
  <operation name="deliverNotification">
    <input message="ogsi:DeliverNotificationInputMessage"/>
  </operation>
</gwsdl:portType>

<!-- NotificationSubscription PortType -->
<gwsdl:portType name="NotificationSubscription" 
    extends="ogsi:GridService">
  <sd:serviceData name="subscriptionExpression"
                  type="xsd:anyType" 
                  minOccurs="1"
                  maxOccurs="1"
                  mutability="mutable"
                  modifiable="false"
                  nillable="false"/>
  <sd:serviceData name="sinkLocator"
                  type="ogsi:LocatorType"
                  minOccurs="1"
                  maxOccurs="1"
                  mutability="mutable"
                  modifiable="false"
                  nillable="false"/>
</gwsdl:portType>

<!-- ServiceGroupEntry PortType -->
<gwsdl:portType name="ServiceGroupEntry" extends="ogsi:GridService">
  <sd:serviceData name="memberServiceLocator"
                  type="ogsi:LocatorType" 
                  minOccurs="1"
                  maxOccurs="1"
                  mutability="mutable"
                  modifiable="false"
                  nillable="false"/>
  <sd:serviceData name="content"
                  type="ogsi:EntryContentType"
                  minOccurs="1"
                  maxOccurs="1"
                  mutability="mutable"
                  modifiable="false"
                  nillable="false"/>
</gwsdl:portType>

<!-- ServiceGroup PortType -->
<gwsdl:portType name="ServiceGroup" extends="ogsi:GridService">
        <sd:serviceData name="membershipContentRule"
                        type="ogsi:MembershipContentRuleType"
                        minOccurs="1"
                        maxOccurs="unbounded"
                        mutability="constant" 
                        modifiable="false"
                        nillable="false"/>
        <sd:serviceData name="entry"
                        type="ogsi:EntryType"
                        minOccurs="0"
                        maxOccurs="unbounded"
                        mutability="mutable"
                        modifiable="false"
                        nillable="false"/>
</gwsdl:portType>

<!-- ServiceGroupRegistration PortType -->
<gwsdl:portType name="ServiceGroupRegistration" 
    extends="ogsi:ServiceGroup">
  <operation name="add">
    <input message="ogsi:AddInputMessage"/>
    <output message="ogsi:AddOutputMessage"/>
    <fault name="ExtensibilityNotSupportedFault" 
        message="ogsi:ExtensibilityNotSupportedFaultMessage"/>
    <fault name="ExtensibilityTypeFault" 
        message="ogsi:ExtensibilityTypeFaultMessage"/>
    <fault name="ContentCreationFailedFault" 
        message="ogsi:ContentCreationFailedFaultMessage"/>
    <fault name="UnsupportedMemberInterfaceFault" 
        message="ogsi:UnsupportedMemberInterfaceFaultMessage"/>
    <fault name="AddRefusedFault" 
        message="ogsi:AddRefusedFaultMessage"/>
    <fault name="Fault" message="ogsi:FaultMessage"/>
  </operation>  
  <operation name="remove">
    <input message="ogsi:removeInputMessage"/>
    <output message="ogsi:removeOutputMessage"/>
    <fault name="ExtensibilityNotSupportedFault" 
        message="ogsi:ExtensibilityNotSupportedFaultMessage"/>
    <fault name="ExtensibilityTypeFault" 
        message="ogsi:ExtensibilityTypeFaultMessage"/>
    <fault name="MatchFailedFault" 
        message="ogsi:MatchFailedFaultMessage"/>
    <fault name="RemoveFailedFault" 
        message="ogsi:RemoveFailedFaultMessage"/>
    <fault name="Fault" message="ogsi:FaultMessage"/>
  </operation>
  <sd:serviceData name="addExtensibility"
                  type="ogsi:OperationExtensibilityType"
                  minOccurs="0"
                  maxOccurs="unbounded"
                  mutability="static"
                  modifiable="false"
                  nillable="false"/>
  <sd:serviceData name="removeExtensibility"
                  type="ogsi:OperationExtensibilityType"
                  minOccurs="1"
                  maxOccurs="unbounded"
                  mutability="static"
                  modifiable="false"
                  nillable="false"/>
  <sd:staticServiceDataValues>
    <ogsi:removeExtensibility 
        inputElement="ogsi:matchByLocatorEquivalence"/>
  </sd:staticServiceDataValues>
</gwsdl:portType>

</definitions>

