harmony.common.security/data/wsdl/timeservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://www.Nanonull.com/TimeService/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://www.Nanonull.com/TimeService/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.Nanonull.com/TimeService/">
      <s:element name="getUTCTime">
        <s:complexType />
      </s:element>
      <s:element name="getUTCTimeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getUTCTimeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getOffesetUTCTime">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="hoursOffset" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getOffesetUTCTimeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getOffesetUTCTimeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getServerTime">
        <s:complexType />
      </s:element>
      <s:element name="getServerTimeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getServerTimeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getServerTimeZone">
        <s:complexType />
      </s:element>
      <s:element name="getServerTimeZoneResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getServerTimeZoneResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getServerCity">
        <s:complexType />
      </s:element>
      <s:element name="getServerCityResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getServerCityResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getTimeZoneTime">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="timezone" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getTimeZoneTimeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getTimeZoneTimeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getCityTime">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="city" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getCityTimeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getCityTimeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </types>
  <message name="getUTCTimeSoapIn">
    <part name="parameters" element="s0:getUTCTime" />
  </message>
  <message name="getUTCTimeSoapOut">
    <part name="parameters" element="s0:getUTCTimeResponse" />
  </message>
  <message name="getOffesetUTCTimeSoapIn">
    <part name="parameters" element="s0:getOffesetUTCTime" />
  </message>
  <message name="getOffesetUTCTimeSoapOut">
    <part name="parameters" element="s0:getOffesetUTCTimeResponse" />
  </message>
  <message name="getServerTimeSoapIn">
    <part name="parameters" element="s0:getServerTime" />
  </message>
  <message name="getServerTimeSoapOut">
    <part name="parameters" element="s0:getServerTimeResponse" />
  </message>
  <message name="getServerTimeZoneSoapIn">
    <part name="parameters" element="s0:getServerTimeZone" />
  </message>
  <message name="getServerTimeZoneSoapOut">
    <part name="parameters" element="s0:getServerTimeZoneResponse" />
  </message>
  <message name="getServerCitySoapIn">
    <part name="parameters" element="s0:getServerCity" />
  </message>
  <message name="getServerCitySoapOut">
    <part name="parameters" element="s0:getServerCityResponse" />
  </message>
  <message name="getTimeZoneTimeSoapIn">
    <part name="parameters" element="s0:getTimeZoneTime" />
  </message>
  <message name="getTimeZoneTimeSoapOut">
    <part name="parameters" element="s0:getTimeZoneTimeResponse" />
  </message>
  <message name="getCityTimeSoapIn">
    <part name="parameters" element="s0:getCityTime" />
  </message>
  <message name="getCityTimeSoapOut">
    <part name="parameters" element="s0:getCityTimeResponse" />
  </message>
  <portType name="TimeServiceSoap">
    <operation name="getUTCTime">
      <input message="s0:getUTCTimeSoapIn" />
      <output message="s0:getUTCTimeSoapOut" />
    </operation>
    <operation name="getOffesetUTCTime">
      <input message="s0:getOffesetUTCTimeSoapIn" />
      <output message="s0:getOffesetUTCTimeSoapOut" />
    </operation>
    <operation name="getServerTime">
      <input message="s0:getServerTimeSoapIn" />
      <output message="s0:getServerTimeSoapOut" />
    </operation>
    <operation name="getServerTimeZone">
      <input message="s0:getServerTimeZoneSoapIn" />
      <output message="s0:getServerTimeZoneSoapOut" />
    </operation>
    <operation name="getServerCity">
      <input message="s0:getServerCitySoapIn" />
      <output message="s0:getServerCitySoapOut" />
    </operation>
    <operation name="getTimeZoneTime">
      <input message="s0:getTimeZoneTimeSoapIn" />
      <output message="s0:getTimeZoneTimeSoapOut" />
    </operation>
    <operation name="getCityTime">
      <input message="s0:getCityTimeSoapIn" />
      <output message="s0:getCityTimeSoapOut" />
    </operation>
  </portType>
  <binding name="TimeServiceSoap" type="s0:TimeServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="getUTCTime">
      <soap:operation soapAction="http://www.Nanonull.com/TimeService/getUTCTime" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getOffesetUTCTime">
      <soap:operation soapAction="http://www.Nanonull.com/TimeService/getOffesetUTCTime" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getServerTime">
      <soap:operation soapAction="http://www.Nanonull.com/TimeService/getServerTime" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getServerTimeZone">
      <soap:operation soapAction="http://www.Nanonull.com/TimeService/getServerTimeZone" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getServerCity">
      <soap:operation soapAction="http://www.Nanonull.com/TimeService/getServerCity" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getTimeZoneTime">
      <soap:operation soapAction="http://www.Nanonull.com/TimeService/getTimeZoneTime" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getCityTime">
      <soap:operation soapAction="http://www.Nanonull.com/TimeService/getCityTime" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="TimeService">
    <documentation>A sample Time service</documentation>
    <port name="TimeServiceSoap" binding="s0:TimeServiceSoap">
      <soap:address location="http://www.nanonull.com/TimeService/TimeService.asmx" />
    </port>
  </service>
</definitions>