harmony.common.security/data/wsdl/ws-federation.wsdl

<wsdl:definitions targetNamespace="http://schemas.xmlsoap.org/ws/2003/07/secext" xmlns:wsse="http://schemas.xmlsoap.org/ws/2003/07/secext" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<!-- this is the WS-I BP-compliant way to import a schema -->
	<wsdl:types>
		<xs:schema>
			<xs:import namespace="http://schemas.xmlsoap.org/ws/2003/07/secext" schemaLocation="http://schemas.xmlsoap.org/ws/2003/07/secext/secext.xsd"/>
		</xs:schema>
	</wsdl:types>
	<!-- These are the base messages -->
	<wsdl:message name="SignOutMsg">
		<wsdl:part name="signout" element="wsse:SignOut"/>
	</wsdl:message>
	<wsdl:message name="RequestSSOMessagesMsg">
		<wsdl:part name="requestsso" element="wsse:RequestSSOMessages"/>
	</wsdl:message>
	<wsdl:message name="CancelSSOMessagesMsg">
		<wsdl:part name="cancelsso" element="wsse:CancelSSOMessages"/>
	</wsdl:message>
	<wsdl:message name="GetPseudonymMsg">
		<wsdl:part name="getpseudorequest" element="wsse:GetPseudonym"/>
	</wsdl:message>
	<wsdl:message name="GetPseudonymResponseMsg">
		<wsdl:part name="getpseudoresponse" element="wsse:GetPseudonymResponse"/>
	</wsdl:message>
	<wsdl:message name="SetPseudonymMsg">
		<wsdl:part name="setpseudorequest" element="wsse:SetPseudonym"/>
	</wsdl:message>
	<wsdl:message name="SetPseudonymResponseMsg">
		<wsdl:part name="Setpseudoresponse" element="wsse:SetPseudonymResponse"/>
	</wsdl:message>
	<wsdl:message name="DeletePseudonymMsg">
		<wsdl:part name="delpseudorequest" element="wsse:DeletePseudonym"/>
	</wsdl:message>
	<wsdl:message name="DeletePseudonymResponseMsg">
		<wsdl:part name="delpseudoresponse" element="wsse:DeletePseudonymResponse"/>
	</wsdl:message>
	<!-- These portTypes model the Signout messages -->
	<wsdl:portType name="SignOutService">
		<wsdl:operation name="SignOut">
			<wsdl:input message="wsse:SignOutMsg"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="RequestSSOService">
		<wsdl:operation name="RequestSSO">
			<wsdl:input message="wsse:RequestSSOMessagesMsg"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="CancelSSOService">
		<wsdl:operation name="CancelSSO">
			<wsdl:input message="wsse:CancelSSOMessagesMsg"/>
		</wsdl:operation>
	</wsdl:portType>
	<!-- These portTypes model the Pseudonym messages -->
	<wsdl:portType name="PseudonymRequester">
		<wsdl:operation name="GetPseudonymResponse">
			<wsdl:input message="wsse:GetPseudonymResponseMsg"/>
		</wsdl:operation>
		<wsdl:operation name="SetPseudonymResponse">
			<wsdl:input message="wsse:SetPseudonymResponseMsg"/>
		</wsdl:operation>
		<wsdl:operation name="DeletePseudonymResponse">
			<wsdl:input message="wsse:DeletePseudonymResponseMsg"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="PseudonymRequestService">
		<wsdl:operation name="GetPseudonymRequest">
			<wsdl:input message="wsse:GetPseudonymMsg"/>
		</wsdl:operation>
		<wsdl:operation name="SetPseudonymRequest">
			<wsdl:input message="wsse:SetPseudonymMsg"/>
		</wsdl:operation>
		<wsdl:operation name="DeletePseudonymRequest">
			<wsdl:input message="wsse:DeletePseudonymMsg"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="PseudonymService">
		<wsdl:operation name="GetPsuedonym">
			<wsdl:input message="wsse:GetPseudonymMsg"/>
			<wsdl:output message="wsse:GetPseudonymResponseMsg"/>
		</wsdl:operation>
		<wsdl:operation name="SetPsuedonym">
			<wsdl:input message="wsse:SetPseudonymMsg"/>
			<wsdl:output message="wsse:SetPseudonymResponseMsg"/>
		</wsdl:operation>
		<wsdl:operation name="DeletePsuedonym">
			<wsdl:input message="wsse:DeletePseudonymMsg"/>
			<wsdl:output message="wsse:DeletePseudonymResponseMsg"/>
		</wsdl:operation>
	</wsdl:portType>
</wsdl:definitions>
