harmony.common.security/data/wsdl/ws-securitytokenservice-saml.wsdl

<?xml version="1.0"?>
<wsdl:definitions xmlns:tns="http://schemas.xmlsoap.org/ws/2004/04/trust/wsdl" xmlns:wst="http://schemas.xmlsoap.org/ws/2004/04/trust" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:samlp="http://www.oasis-open.org/committees/security/docs/draft-sstc-schema-protocol-19.xsd" xmlns:ns="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:ns1="http://www.w3.org/2000/09/xmldsig#" xmlns:ns2="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:ns3="http://schemas.xmlsoap.org/ws/2002/12/policy" xmlns:ns4="http://schemas.xmlsoap.org/ws/2004/03/addressing" xmlns:ns5="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://schemas.xmlsoap.org/ws/2004/04/trust/wsdl" name="SecurityTokenService">
	<wsdl:types>
		<xs:schema>
			<xs:import namespace="http://schemas.xmlsoap.org/ws/2004/04/trust" schemaLocation="http://schemas.xmlsoap.org/ws/2004/04/trust/"/>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="RequestSecurityTokenMsg">
		<wsdl:part name="request" element="wst:RequestSecurityToken"/>
	</wsdl:message>
	<wsdl:message name="RequestSecurityTokenResponseMsg">
		<wsdl:part name="response" element="wst:RequestSecurityTokenResponse"/>
	</wsdl:message>
	<wsdl:message name="RequestSecurityTokenResponseCollectionMsg">
		<wsdl:part name="responseCollection" element="wst:RequestSecurityTokenResponseCollection"/>
	</wsdl:message>
	<wsdl:message name="SAMLRequestMessage">
		<wsdl:part name="samlpRequest" type="xs:string"/>
	</wsdl:message>
	<wsdl:message name="SAMLResponseMessage">
		<wsdl:part name="samlpResponse" element="" type="xs:string"/>
	</wsdl:message>
	<wsdl:portType name="WSSecurityRequestor">
		<wsdl:operation name="SecurityTokenResponse">
			<wsdl:input message="tns:RequestSecurityTokenResponseMsg"/>
		</wsdl:operation>
		<wsdl:operation name="SecurityTokenResponse2">
			<wsdl:input message="tns:RequestSecurityTokenResponseCollectionMsg"/>
		</wsdl:operation>
		<wsdl:operation name="Challenge">
			<wsdl:input message="tns:RequestSecurityTokenResponseMsg"/>
			<wsdl:output message="tns:RequestSecurityTokenResponseMsg"/>
		</wsdl:operation>
		<wsdl:operation name="Challenge2">
			<wsdl:input message="tns:RequestSecurityTokenResponseMsg"/>
			<wsdl:output message="tns:RequestSecurityTokenResponseCollectionMsg"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="SecurityTokenRequestService">
		<wsdl:operation name="RequestSecurityToken">
			<wsdl:input message="tns:RequestSecurityTokenMsg"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="SecurityTokenService">
		<wsdl:operation name="RequestSecurityToken">
			<wsdl:input message="tns:RequestSecurityTokenMsg"/>
			<wsdl:output message="tns:RequestSecurityTokenResponseMsg"/>
		</wsdl:operation>
		<wsdl:operation name="RequestSecurityToken2">
			<wsdl:input message="tns:RequestSecurityTokenMsg"/>
			<wsdl:output message="tns:RequestSecurityTokenResponseCollectionMsg"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="SAMLRequestService">
		<wsdl:operation name="SAMLRequest">
			<wsdl:input message="tns:SAMLRequestMessage"/>
			<wsdl:output message="tns:SAMLResponseMessage"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SAMLRequestServiceBinding" type="tns:SAMLRequestService">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="SAMLRequest">
			<soap:operation soapAction="urn:#SAMLRequest"/>
			<input>
				<soap:body use="literal"/>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="WSSecurityRequestor"/>
	<wsdl:service name="SecurityTokenRequestService"/>
	<wsdl:service name="SecurityTokenService"/>
	<wsdl:service name="SAMLRequestService">
		<wsdl:port name="SAMLRequestService" binding="tns:SAMLRequestServiceBinding">
			<soap:address location="No Target Adress"/>
		</wsdl:port>
	</wsdl:service>
	<!-- this is the WS-I BP-compliant way to import a schema -->
	<!-- WS-Trust defines the following GEDs -->
	<!-- This portType models the full request/response the Security Token Service: -->
	<!-- These portTypes model the individual message exchanges -->
</wsdl:definitions>
