harmony.common.security/data/wsdl/ws-sexext.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
Legal Disclaimer

The presentation, distribution or other dissemination of the information 
contained in this document is not a license, either expressly or impliedly, 
to any intellectual property owned or controlled by IBM or Microsoft or RSA or VeriSign and\or any other 
third party.  IBM and Microsoft and RSA and VeriSign and\or any other third party may have patents, patent 
applications, trademarks, copyrights, or other intellectual property rights 
covering subject matter in this document.  The furnishing of this document 
does not give you any license to IBM's and Microsoft's and RSA's and VeriSign or any other third party's patents, 
trademarks, copyrights, or other intellectual property.

This document and the information contained herein is provided on an "AS IS"
 basis and to the maximum extent permitted by applicable law, IBM and Microsoft and RSA and VeriSign provides 
the document AS IS AND WITH ALL FAULTS, and hereby disclaims all other warranties 
and conditions, either express, implied or statutory, including, but not limited 
to, any (if any) implied warranties, duties or conditions of merchantability, of 
fitness for a particular purpose, of accuracy or completeness of responses, of 
results, of workmanlike effort, of lack of viruses, and of lack of negligence, 
all with regard to the document. ALSO, THERE IS NO WARRANTY OR CONDITION OF 
TITLE, QUIET ENJOYMENT, QUIET POSSESSION, CORRESPONDENCE TO DESCRIPTION OR 
NON-INFRINGEMENT OF ANY INTELLECTUAL PROPERTY RIGHTS WITH REGARD TO THE DOCUMENT.

IN NO EVENT WILL IBM or MICROSOFT or RSA or VeriSign BE LIABLE TO ANY OTHER PARTY FOR THE COST OF PROCURING 
SUBSTITUTE GOODS OR SERVICES, LOST PROFITS, LOSS OF USE, LOSS OF DATA, OR ANY 
INCIDENTAL, CONSEQUENTIAL, DIRECT, INDIRECT, OR SPECIAL DAMAGES WHETHER UNDER 
CONTRACT, TORT, WARRANTY, OR OTHERWISE, ARISING IN ANY WAY OUT OF THIS OR ANY 
OTHER AGREEMENT RELATING TO THIS DOCUMENT, WHETHER OR NOT SUCH PARTY HAD ADVANCE 
NOTICE OF THE POSSIBILITY OF SUCH DAMAGES.

Copyright Notice

Copyright 2001-2002 IBM Corporation and Microsoft Corporation and RSA Security Inc and VeriSign. All rights reserved.
-->
<xsd:schema targetNamespace="http://schemas.xmlsoap.org/ws/2002/12/secext" elementFormDefault="qualified" attributeFormDefault="unqualified" blockDefault="#all" version="0.3" xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns="http://schemas.xmlsoap.org/ws/2002/12/secext" xmlns:wsse="http://schemas.xmlsoap.org/ws/2002/12/secext" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsp="http://schemas.xmlsoap.org/ws/2002/12/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:ns1="http://www.w3.org/XML/1998/namespace">
	<xsd:import namespace="http://schemas.xmlsoap.org/ws/2002/07/utility" schemaLocation="http://schemas.xmlsoap.org/ws/2002/07/utility"/>
	<xsd:import namespace="http://schemas.xmlsoap.org/ws/2002/12/policy" schemaLocation="http://schemas.xmlsoap.org/ws/2002/12/policy"/>
	<xsd:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://www.w3.org/2001/xml.xsd"/>
	<xsd:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="http://www.w3.org/TR/2002/REC-xmldsig-core-20020212/xmldsig-core-schema.xsd"/>
	<xsd:complexType name="AttributedString">
		<xsd:annotation>
			<xsd:documentation>This type represents an element with arbitrary attributes.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute ref="wsu:Id"/>
				<xsd:anyAttribute namespace="##other" processContents="lax"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="PasswordString">
		<xsd:annotation>
			<xsd:documentation>This type is used for password elements per Section 4.1.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="wsse:AttributedString">
				<xsd:attribute name="Type" type="xsd:QName"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="EncodedString">
		<xsd:annotation>
			<xsd:documentation>This type is used for elements containing stringified binary data.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="wsse:AttributedString">
				<xsd:attribute name="EncodingType" type="xsd:QName"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="UsernameTokenType">
		<xsd:annotation>
			<xsd:documentation>This type represents a username token per Section 4.1</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Username" type="wsse:AttributedString"/>
			<xsd:any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute ref="wsu:Id"/>
		<xsd:anyAttribute namespace="##other" processContents="lax"/>
	</xsd:complexType>
	<xsd:complexType name="BinarySecurityTokenType">
		<xsd:annotation>
			<xsd:documentation>A security token that is encoded in binary</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="wsse:EncodedString">
				<xsd:attribute name="ValueType" type="xsd:QName"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="KeyIdentifierType">
		<xsd:annotation>
			<xsd:documentation>A security token key identifier</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="wsse:EncodedString">
				<xsd:attribute name="ValueType" type="xsd:QName"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:attribute name="RefType" type="xs:QName"/>
	<xsd:complexType name="ReferenceType">
		<xsd:annotation>
			<xsd:documentation>This type represents a reference to an external security token.</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="URI" type="xsd:anyURI"/>
		<xsd:attribute ref="wsse:RefType" use="optional"/>
		<xsd:anyAttribute namespace="##other" processContents="lax"/>
	</xsd:complexType>
	<xsd:complexType name="SecurityTokenReferenceType">
		<xsd:annotation>
			<xsd:documentation>This type is used reference a security token.</xsd:documentation>
		</xsd:annotation>
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:any processContents="lax"/>
		</xsd:choice>
		<xsd:attribute ref="wsu:Id"/>
		<xsd:anyAttribute namespace="##other" processContents="lax"/>
	</xsd:complexType>
	<xsd:complexType name="SecurityHeaderType">
		<xsd:annotation>
			<xsd:documentation>This complexType defines header block to use for security-relevant data directed at a specific SOAP actor.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:any processContents="lax" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>The use of "any" is to allow extensibility and different forms of security data.</xsd:documentation>
				</xsd:annotation>
			</xsd:any>
		</xsd:sequence>
		<xsd:anyAttribute namespace="##other" processContents="lax"/>
	</xsd:complexType>
	<xsd:element name="UsernameToken" type="wsse:UsernameTokenType">
		<xsd:annotation>
			<xsd:documentation>This element defines the wsse:UsernameToken element per Section 4.1.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="BinarySecurityToken" type="wsse:BinarySecurityTokenType">
		<xsd:annotation>
			<xsd:documentation>This element defines the wsse:BinarySecurityToken element per Section 4.2.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Reference" type="wsse:ReferenceType">
		<xsd:annotation>
			<xsd:documentation>This element defines a security token reference</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="KeyIdentifier" type="wsse:KeyIdentifierType">
		<xsd:annotation>
			<xsd:documentation>This element defines a key identifier reference</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SecurityTokenReference" type="wsse:SecurityTokenReferenceType">
		<xsd:annotation>
			<xsd:documentation>This element defines the wsse:SecurityTokenReference per Section 4.3.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Security" type="wsse:SecurityHeaderType">
		<xsd:annotation>
			<xsd:documentation>This element defines the wsse:Security SOAP header element per Section 4.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Password" type="wsse:PasswordString"/>
	<xsd:element name="Nonce" type="wsse:EncodedString"/>
	<xsd:simpleType name="PasswordTypeEnum">
		<xsd:restriction base="xsd:QName">
			<xsd:enumeration value="wsse:PasswordText"/>
			<xsd:enumeration value="wsse:PasswordDigest"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ValueTypeEnum">
		<xsd:restriction base="xsd:QName">
			<xsd:enumeration value="wsse:X509v3"/>
			<xsd:enumeration value="wsse:Kerberosv5TGT"/>
			<xsd:enumeration value="wsse:Kerberosv5ST"/>
			<xsd:enumeration value="wsse:PKCS7"/>
			<xsd:enumeration value="wsse:PKIPath"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="EncodingTypeEnum">
		<xsd:restriction base="xsd:QName">
			<xsd:enumeration value="wsse:Base64Binary"/>
			<xsd:enumeration value="wsse:HexBinary"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="FaultcodeEnum">
		<xsd:restriction base="xsd:QName">
			<xsd:enumeration value="wsse:UnsupportedSecurityToken"/>
			<xsd:enumeration value="wsse:UnsupportedAlgorithm"/>
			<xsd:enumeration value="wsse:InvalidSecurity"/>
			<xsd:enumeration value="wsse:InvalidSecurityToken"/>
			<xsd:enumeration value="wsse:FailedAuthentication"/>
			<xsd:enumeration value="wsse:FailedCheck"/>
			<xsd:enumeration value="wsse:SecurityTokenUnavailable"/>
			<xsd:enumeration value="wsse:InvalidRequest"/>
			<xsd:enumeration value="wsse:RequestFailed"/>
			<xsd:enumeration value="wsse:AuthenticationBadElements"/>
			<xsd:enumeration value="wsse:BadRequest"/>
			<xsd:enumeration value="wsse:ExpiredData"/>
			<xsd:enumeration value="wsse:InvalidTimeRange"/>
			<xsd:enumeration value="wsse:BadContextToken"/>
			<xsd:enumeration value="wsse:UnknownDerivationSource"/>
			<!-- The following fault codes are from WS-Trust -->
			<!-- The following fault codes are from WS-SecureConversation -->
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element name="SecurityHeader" type="wsse:SecurityHeaderPolType"/>
	<xsd:complexType name="SecurityHeaderPolType">
		<xsd:sequence>
			<xsd:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute ref="wsp:Usage" use="required"/>
		<xsd:attribute name="MustPrepend" type="xs:boolean"/>
		<xsd:attribute name="MustManifestEncryption" type="xs:boolean"/>
		<xsd:anyAttribute namespace="##any" processContents="lax"/>
	</xsd:complexType>
	<xsd:element name="MessageAge" type="wsse:MessageAgeType"/>
	<xsd:complexType name="MessageAgeType">
		<xsd:attribute ref="wsp:Usage" use="required"/>
		<xsd:attribute ref="wsp:Preference" use="optional"/>
		<xsd:attribute name="Age" type="xs:unsignedInt" use="required"/>
		<xsd:anyAttribute namespace="##any" processContents="lax"/>
	</xsd:complexType>
	<xsd:element name="MessageParts" type="wsse:XPathSoap"/>
	<xsd:element name="TokenIssuer" type="xs:string"/>
	<xsd:element name="Confidentiality" type="wsse:Confidentiality"/>
	<xsd:complexType name="Confidentiality">
		<xsd:sequence>
			<xsd:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="Actor" type="xs:anyURI" use="optional"/>
		<xsd:attribute ref="wsp:Preference" use="optional"/>
		<xsd:attribute ref="wsp:Usage" use="required"/>
	</xsd:complexType>
	<xsd:element name="Integrity" type="wsse:ChallengeOrIntegrity"/>
	<xsd:complexType name="ChallengeOrIntegrity">
		<xsd:sequence>
			<xsd:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute ref="wsp:Preference" use="optional"/>
		<xsd:attribute ref="wsp:Usage" use="required"/>
	</xsd:complexType>
	<xsd:element name="Algorithm" type="wsse:AlgorithmType"/>
	<xsd:complexType name="AlgorithmType">
		<xsd:sequence>
			<xsd:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="Type" type="wsse:AlgorithmTypeOpenEnum" use="optional"/>
		<xsd:attribute name="URI" type="xs:anyURI" use="optional"/>
		<xsd:attribute ref="wsp:Preference" use="optional"/>
	</xsd:complexType>
	<xsd:simpleType name="AlgorithmTypeEnum">
		<xsd:restriction base="xs:QName">
			<xsd:enumeration value="wsse:AlgCanonicalization"/>
			<xsd:enumeration value="wsse:AlgSignature"/>
			<xsd:enumeration value="wsse:AlgTransform"/>
			<xsd:enumeration value="wsse:AlgDigest"/>
			<xsd:enumeration value="wsse:AlgEncryption"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="AlgorithmTypeOpenEnum">
		<xsd:union memberTypes="wsse:AlgorithmTypeEnum xs:QName"/>
	</xsd:simpleType>
	<xsd:element name="KeyInfo" type="wsse:KeyInfoType"/>
	<xsd:complexType name="KeyInfoType">
		<xsd:sequence>
			<xsd:element ref="wsse:SecurityToken" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="SecurityToken" type="wsse:SecurityTokenType"/>
	<xsd:complexType name="SecurityTokenType">
		<xsd:sequence>
			<xsd:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute ref="wsp:Preference" use="optional"/>
		<xsd:attribute ref="wsp:Usage" use="required"/>
		<xsd:anyAttribute namespace="##other" processContents="lax"/>
	</xsd:complexType>
	<xsd:simpleType name="TokenTypeEnum">
		<xsd:restriction base="xs:QName">
			<xsd:enumeration value="wsse:X509v3"/>
			<xsd:enumeration value="wsse:Kerberosv5TGT"/>
			<xsd:enumeration value="wsse:Kerberosv5ST"/>
			<xsd:enumeration value="wsse:UserNameToken"/>
			<xsd:enumeration value="wsse:SAMLAssertion"/>
			<xsd:enumeration value="wsse:XrMLLicense"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TokenTypeOpenEnum">
		<xsd:union memberTypes="wsse:TokenTypeEnum xs:QName"/>
	</xsd:simpleType>
	<xsd:complexType name="XPathSoap">
		<xsd:simpleContent>
			<xsd:extension base="xs:string">
				<xsd:attribute name="Dialect" type="xs:anyURI" default="http://www.w3.org/TR/1999/REC-xpath-19991116"/>
				<xsd:attribute name="Signer" type="wsse:SignerType" default="http://schemas.xmlsoap.org/2002/12/secext/originalSender"/>
				<xsd:anyAttribute namespace="##any" processContents="lax"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:element name="Visibility" type="wsse:VisibilityType"/>
	<xsd:complexType name="VisibilityType">
		<xsd:sequence>
			<xsd:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute ref="wsp:Usage" use="required"/>
		<xsd:anyAttribute namespace="##any" processContents="lax"/>
	</xsd:complexType>
	<xsd:simpleType name="SignerType">
		<xsd:list itemType="xs:anyURI"/>
	</xsd:simpleType>
	<xsd:element name="SubjectName" type="wsse:SubjectNameType"/>
	<xsd:complexType name="SubjectNameType">
		<xsd:sequence>
			<xsd:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="MatchType" type="wsse:MatchTypeEnum" use="optional"/>
		<!-- default='wsse:Prefix' -->
	</xsd:complexType>
	<xsd:element name="X509Extension" type="wsse:X509ExtensionType"/>
	<xsd:complexType name="X509ExtensionType">
		<xsd:sequence>
			<xsd:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="MatchType" type="wsse:MatchTypeEnum" use="optional"/>
		<xsd:attribute name="OID" type="xs:string" use="required"/>
		<xsd:attribute name="Critical" type="xs:boolean" use="optional"/>
		<!-- default='wsse:Prefix' -->
	</xsd:complexType>
	<xsd:element name="UsePassword" type="wsse:UsePasswordType"/>
	<xsd:complexType name="UsePasswordType">
		<xsd:attribute name="Type" type="wsse:PasswordTypeEnum" use="optional"/>
		<xsd:attribute ref="wsp:Usage" use="required"/>
		<!-- default='wsse:PasswordText' -->
	</xsd:complexType>
	<xsd:simpleType name="MatchTypeEnum">
		<xsd:restriction base="xs:QName">
			<xsd:enumeration value="wsse:Exact"/>
			<xsd:enumeration value="wsse:Prefix"/>
			<xsd:enumeration value="wsse:Regexp"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element name="ServiceName" type="xs:string"/>
	<!-- Declarations from WS-Trust -->
	<xsd:simpleType name="RequestTypeEnum">
		<xsd:restriction base="xs:QName">
			<xsd:enumeration value="wsse:ReqIssue"/>
			<xsd:enumeration value="wsse:ReqValidate"/>
			<xsd:enumeration value="wsse:ReqExchange"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="RequestTypeOpenEnum">
		<xsd:union memberTypes="wsse:RequestTypeEnum xs:QName"/>
	</xsd:simpleType>
	<xsd:element name="RequestType" type="wsse:RequestTypeOpenEnum"/>
	<xsd:element name="TokenType" type="wsse:TokenTypeOpenEnum"/>
	<xsd:element name="Base" type="wsse:SecurityTokenReferenceType"/>
	<xsd:element name="Supporting" type="wsse:SecurityTokenReferenceType"/>
	<xsd:element name="Claims"/>
	<xsd:simpleType name="KeyEnum">
		<xsd:restriction base="xs:QName">
			<xsd:enumeration value="wsse:PublicKey"/>
			<xsd:enumeration value="wsse:SymmetricKey"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="KeyOpenEnum">
		<xsd:union memberTypes="wsse:KeyEnum xs:QName"/>
	</xsd:simpleType>
	<xsd:element name="KeyType" type="wsse:KeyOpenEnum"/>
	<xsd:element name="RequestKeyType" type="wsse:KeyOpenEnum"/>
	<xsd:element name="KeySize" type="xs:unsignedInt"/>
	<xsd:element name="RequestKeySize" type="xs:unsignedInt"/>
	<xsd:element name="RequestSignatureAlgorithm" type="xs:anyURI"/>
	<xsd:element name="RequestEncryption" type="wsse:SecurityTokenReferenceType"/>
	<xsd:element name="RequestProofEncryption" type="wsse:SecurityTokenReferenceType"/>
	<xsd:complexType name="SecurityTokenReferences">
		<xsd:sequence>
			<xsd:element ref="wsse:SecurityTokenReference" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="UseBase"/>
	<xsd:element name="UsePublicKey" type="wsse:UsePublicKeyType"/>
	<xsd:complexType name="UsePublicKeyType">
		<xsd:sequence>
			<xsd:element ref="ds:KeyInfo"/>
		</xsd:sequence>
		<xsd:attribute name="Sig" type="xs:anyURI" use="optional"/>
	</xsd:complexType>
	<xsd:element name="UseKeyRef" type="wsse:UseKeyRefType"/>
	<xsd:complexType name="UseKeyRefType">
		<xsd:complexContent>
			<xsd:extension base="wsse:SecurityTokenReferenceType">
				<xsd:attribute name="Sig" type="xs:anyURI" use="optional"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="OnBehalfOf" type="wsse:TokenOrRef"/>
	<xsd:element name="DelegateTo" type="wsse:TokenOrRef"/>
	<xsd:complexType name="TokenOrRef">
		<xsd:sequence>
			<xsd:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="Forwardable"/>
	<xsd:element name="Delegatable"/>
	<xsd:element name="Proxiable"/>
	<xsd:element name="AllowPostdating"/>
	<xsd:element name="Renewing" type="wsse:RenewingType"/>
	<xsd:complexType name="RenewingType">
		<xsd:attribute name="Allow" type="xs:boolean"/>
		<xsd:attribute name="OK" type="xs:boolean"/>
	</xsd:complexType>
	<xsd:element name="LifeTime" type="wsse:LifeTimeType"/>
	<xsd:complexType name="LifeTimeType">
		<xsd:sequence>
			<xsd:element ref="wsu:Created" minOccurs="0"/>
			<xsd:element ref="wsu:Expires" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="Challenge" type="wsse:ChallengeOrIntegrity"/>
	<xsd:element name="BinaryNegotiation" type="wsse:BinarySecurityTokenType"/>
	<xsd:element name="RequestedSecurityToken" type="wsse:RequestedSecurityTokenType"/>
	<xsd:element name="RequestSecurityToken" type="wsse:RequestSecurityTokenType"/>
	<xsd:element name="RequestedProofToken" type="wsse:RequestedSecurityTokenType"/>
	<xsd:complexType name="RequestSecurityTokenType">
		<xsd:sequence>
			<xsd:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:anyAttribute namespace="##other" processContents="lax"/>
	</xsd:complexType>
	<xsd:complexType name="RequestedSecurityTokenType">
		<xsd:sequence>
			<xsd:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:anyAttribute namespace="##other" processContents="lax"/>
	</xsd:complexType>
	<xsd:element name="RequestSecurityTokenResponse" type="wsse:RequestSecurityTokenResponseType"/>
	<xsd:complexType name="RequestSecurityTokenResponseType">
		<xsd:sequence>
			<xsd:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:anyAttribute namespace="##other" processContents="lax"/>
	</xsd:complexType>
	<xsd:element name="SignChallenge" type="wsse:SignChallengeType"/>
	<xsd:complexType name="SignChallengeType">
		<xsd:sequence>
			<xsd:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:anyAttribute namespace="##any" processContents="lax"/>
	</xsd:complexType>
	<xsd:element name="SignChallengeResponse" type="wsse:SignChallengeResponseType"/>
	<xsd:complexType name="SignChallengeResponseType">
		<xsd:sequence>
			<xsd:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="SecurityContextToken" type="wsse:SecurityContextTokenType"/>
	<xsd:complexType name="SecurityContextTokenType">
		<xsd:sequence>
			<xsd:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute ref="wsu:Id" use="optional"/>
		<xsd:anyAttribute namespace="##other" processContents="lax"/>
	</xsd:complexType>
	<xsd:element name="Keys" type="wsse:KeysType"/>
	<xsd:complexType name="KeysType">
		<xsd:sequence>
			<xsd:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="DerivedKeyToken" type="wsse:Key"/>
	<xsd:complexType name="Key">
		<xsd:sequence>
			<xsd:element ref="wsse:SecurityTokenReference" minOccurs="0"/>
			<xsd:element name="Properties" type="wsse:PropertiesType" minOccurs="0"/>
			<xsd:choice minOccurs="0">
				<xsd:element name="Generation" type="xs:unsignedLong"/>
				<xsd:sequence>
					<xsd:element name="Offset" type="xs:unsignedLong"/>
					<xsd:element name="Length" type="xs:unsignedLong" minOccurs="0"/>
				</xsd:sequence>
			</xsd:choice>
			<xsd:element ref="wsse:Label" minOccurs="0"/>
			<xsd:element ref="wsse:Nonce" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute ref="wsu:Id" use="optional"/>
		<xsd:attribute name="Algorithm" type="wsse:AlgorithmTypeOpenEnum" use="optional" form="qualified"/>
	</xsd:complexType>
	<xsd:element name="Label" type="xs:string"/>
	<xsd:element name="Name" type="xs:anyURI"/>
	<xsd:complexType name="PropertiesType">
		<xsd:sequence>
			<xsd:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
