harmony.translator.autobahn/resources/webservice/IDC/OSCARS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="OSCARS" targetNamespace="http://oscars.es.net/OSCARS" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://oscars.es.net/OSCARS" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/">
<wsdl:documentation>
        This is WSDL for the OSCARS public reservation interface. These
        messages must be signed using the following WS-secuirty
        standards. The message is time stamped and includes the X.509
        certificate of the signing entity. The timestamp, certificate
        and message body are all signed. DRAFT V1.0 Nov 2006
    </wsdl:documentation>
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://oscars.es.net/OSCARS" xmlns:tns="http://oscars.es.net/OSCARS" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:include schemaLocation="OSCARS.xsd"/>
        </xsd:schema>
  </wsdl:types>
  <wsdl:message name="createReservation">
    <wsdl:part name="createReservation" element="tns:createReservation">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="teardownPath">
    <wsdl:part name="teardownPath" element="tns:teardownPath">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listReservations">
    <wsdl:part name="listReservations" element="tns:listReservations">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="teardownPathResponse">
    <wsdl:part name="teardownPathResponse" element="tns:teardownPathResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AAAFaultMessage">
    <wsdl:part name="fault" element="tns:AAAFault">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getNetworkTopologyResponse">
    <wsdl:part name="getNetworkTopologyResponse" element="tns:getNetworkTopologyResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="initiateTopologyPullResponse">
    <wsdl:part name="initiateTopologyPullResponse" element="tns:initiateTopologyPullResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cancelReservation">
    <wsdl:part name="cancelReservation" element="tns:cancelReservation">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="initiateTopologyPull">
    <wsdl:part name="initiateTopologyPull" element="tns:initiateTopologyPull">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="forwardResponse">
    <wsdl:part name="forwardResponse" element="tns:forwardResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createReservationResponse">
    <wsdl:part name="createReservationResponse" element="tns:createReservationResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="refreshPath">
    <wsdl:part name="refreshPath" element="tns:refreshPath">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createPath">
    <wsdl:part name="createPath" element="tns:createPath">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="BSSFaultMessage">
    <wsdl:part name="fault" element="tns:BSSFault">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cancelReservationResponse">
    <wsdl:part name="cancelReservationResponse" element="tns:cancelReservationResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createPathResponse">
    <wsdl:part name="createPathResponse" element="tns:createPathResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="queryReservation">
    <wsdl:part name="queryReservation" element="tns:queryReservation">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getNetworkTopology">
    <wsdl:part name="getNetworkTopology" element="tns:getNetworkTopology">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listReservationsResponse">
    <wsdl:part name="listReservationsResponse" element="tns:listReservationsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="queryReservationResponse">
    <wsdl:part name="queryReservationResponse" element="tns:queryReservationResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="refreshPathResponse">
    <wsdl:part name="refreshPathResponse" element="tns:refreshPathResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="forward">
    <wsdl:part name="forward" element="tns:forward">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="OSCARS">
    <wsdl:operation name="createReservation">
      <wsdl:input message="tns:createReservation">
    </wsdl:input>
      <wsdl:output message="tns:createReservationResponse">
    </wsdl:output>
      <wsdl:fault name="BSSErrorException" message="tns:BSSFaultMessage">
    </wsdl:fault>
      <wsdl:fault name="AAAErrorException" message="tns:AAAFaultMessage">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="cancelReservation">
      <wsdl:input message="tns:cancelReservation">
    </wsdl:input>
      <wsdl:output message="tns:cancelReservationResponse">
    </wsdl:output>
      <wsdl:fault name="BSSErrorException" message="tns:BSSFaultMessage">
    </wsdl:fault>
      <wsdl:fault name="AAAErrorException" message="tns:AAAFaultMessage">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="queryReservation">
      <wsdl:input message="tns:queryReservation">
    </wsdl:input>
      <wsdl:output message="tns:queryReservationResponse">
    </wsdl:output>
      <wsdl:fault name="BSSErrorException" message="tns:BSSFaultMessage">
    </wsdl:fault>
      <wsdl:fault name="AAAErrorException" message="tns:AAAFaultMessage">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="listReservations">
      <wsdl:input message="tns:listReservations">
    </wsdl:input>
      <wsdl:output message="tns:listReservationsResponse">
    </wsdl:output>
      <wsdl:fault name="BSSErrorException" message="tns:BSSFaultMessage">
    </wsdl:fault>
      <wsdl:fault name="AAAErrorException" message="tns:AAAFaultMessage">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getNetworkTopology">
      <wsdl:input message="tns:getNetworkTopology">
    </wsdl:input>
      <wsdl:output message="tns:getNetworkTopologyResponse">
    </wsdl:output>
      <wsdl:fault name="BSSErrorException" message="tns:BSSFaultMessage">
    </wsdl:fault>
      <wsdl:fault name="AAAErrorException" message="tns:AAAFaultMessage">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="initiateTopologyPull">
      <wsdl:input message="tns:initiateTopologyPull">
    </wsdl:input>
      <wsdl:output message="tns:initiateTopologyPullResponse">
    </wsdl:output>
      <wsdl:fault name="BSSErrorException" message="tns:BSSFaultMessage">
    </wsdl:fault>
      <wsdl:fault name="AAAErrorException" message="tns:AAAFaultMessage">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createPath">
      <wsdl:input message="tns:createPath">
    </wsdl:input>
      <wsdl:output message="tns:createPathResponse">
    </wsdl:output>
      <wsdl:fault name="BSSErrorException" message="tns:BSSFaultMessage">
    </wsdl:fault>
      <wsdl:fault name="AAAErrorException" message="tns:AAAFaultMessage">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="refreshPath">
      <wsdl:input message="tns:refreshPath">
    </wsdl:input>
      <wsdl:output message="tns:refreshPathResponse">
    </wsdl:output>
      <wsdl:fault name="BSSErrorException" message="tns:BSSFaultMessage">
    </wsdl:fault>
      <wsdl:fault name="AAAErrorException" message="tns:AAAFaultMessage">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="teardownPath">
      <wsdl:input message="tns:teardownPath">
    </wsdl:input>
      <wsdl:output message="tns:teardownPathResponse">
    </wsdl:output>
      <wsdl:fault name="BSSErrorException" message="tns:BSSFaultMessage">
    </wsdl:fault>
      <wsdl:fault name="AAAErrorException" message="tns:AAAFaultMessage">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="forward">
      <wsdl:input message="tns:forward">
    </wsdl:input>
      <wsdl:output message="tns:forwardResponse">
    </wsdl:output>
      <wsdl:fault name="BSSErrorException" message="tns:BSSFaultMessage">
    </wsdl:fault>
      <wsdl:fault name="AAAErrorException" message="tns:AAAFaultMessage">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OSCARSSOAP" type="tns:OSCARS">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="createReservation">
      <soap:operation soapAction="http://oscars.es.net/OSCARS/createReservation" style="document"/>
      <wsdl:input>
        <soap:body parts="createReservation" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="createReservationResponse" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="BSSErrorException">
        <soap:fault name="BSSErrorException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="AAAErrorException">
        <soap:fault name="AAAErrorException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="queryReservation">
      <soap:operation soapAction="http://oscars.es.net/OSCARS/queryReservation" style="document"/>
      <wsdl:input>
        <soap:body parts="queryReservation" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="queryReservationResponse" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="BSSErrorException">
        <soap:fault name="BSSErrorException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="AAAErrorException">
        <soap:fault name="AAAErrorException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="listReservations">
      <soap:operation soapAction="http://oscars.es.net/OSCARS/listReservations" style="document"/>
      <wsdl:input>
        <soap:body parts="listReservations" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="listReservationsResponse" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="BSSErrorException">
        <soap:fault name="BSSErrorException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="AAAErrorException">
        <soap:fault name="AAAErrorException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="cancelReservation">
      <soap:operation soapAction="http://oscars.es.net/OSCARS/cancelReservation"/>
      <wsdl:input>
        <soap:body parts="cancelReservation" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="cancelReservationResponse" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="BSSErrorException">
        <soap:fault name="BSSErrorException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="AAAErrorException">
        <soap:fault name="AAAErrorException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getNetworkTopology">
      <soap:operation soapAction="http://oscars.es.net/OSCARS/getNetworkTopology" style="document"/>
      <wsdl:input>
        <soap:body parts="getNetworkTopology" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="getNetworkTopologyResponse" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="BSSErrorException">
        <soap:fault name="BSSErrorException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="AAAErrorException">
        <soap:fault name="AAAErrorException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="initiateTopologyPull">
      <soap:operation soapAction="http://oscars.es.net/OSCARS/initiateTopologyPull" style="document"/>
      <wsdl:input>
        <soap:body parts="initiateTopologyPull" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="initiateTopologyPullResponse" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="BSSErrorException">
        <soap:fault name="BSSErrorException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="AAAErrorException">
        <soap:fault name="AAAErrorException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createPath">
      <soap:operation soapAction="http://oscars.es.net/OSCARS/createPath" style="document"/>
      <wsdl:input>
        <soap:body parts="createPath" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="createPathResponse" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="BSSErrorException">
        <soap:fault name="BSSErrorException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="AAAErrorException">
        <soap:fault name="AAAErrorException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="refreshPath">
      <soap:operation soapAction="http://oscars.es.net/OSCARS/refreshPath" style="document"/>
      <wsdl:input>
        <soap:body parts="refreshPath" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="refreshPathResponse" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="BSSErrorException">
        <soap:fault name="BSSErrorException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="AAAErrorException">
        <soap:fault name="AAAErrorException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="teardownPath">
      <soap:operation soapAction="http://oscars.es.net/OSCARS/teardownPath" style="document"/>
      <wsdl:input>
        <soap:body parts="teardownPath" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="teardownPathResponse" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="BSSErrorException">
        <soap:fault name="BSSErrorException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="AAAErrorException">
        <soap:fault name="AAAErrorException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="forward">
      <soap:operation soapAction="http://oscars.es.net/OSCARS/forward"/>
      <wsdl:input>
        <soap:body parts="forward" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="forwardResponse" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="BSSErrorException">
        <soap:fault name="BSSErrorException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="AAAErrorException">
        <soap:fault name="AAAErrorException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OSCARS">
    <wsdl:port name="OSCARS" binding="tns:OSCARSSOAP">
      <soap:address location="http://10.0.0.6:8190/axis2/services/OSCARS"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
